<div class=" one " [formGroup]="contactForm" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Company Client</mat-label>
            <mat-select name="COMPANYNAME" [formControlName]="'COMPANYNAME'">
                <mat-option [value]="val.CONTACTNAME" *ngFor="let val of getCompanyName">{{val.CONTACTNAME}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-checkbox>Use Company/Client Address</mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>Preferred Name</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>Position</mat-label>
            <input name="POSITION" [formControlName]="'POSITION'" matInput>
            <mat-icon matSuffix class="secondary-text">position</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>First Name</mat-label>
            <input name="GIVENNAMES" [formControlName]="'GIVENNAMES'" matInput>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Middle Name</mat-label>
            <input name="MIDDLENAMES" [formControlName]="'MIDDLENAMES'" matInput>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>Family Name</mat-label>
            <input name="FAMILYNAME" [formControlName]="'FAMILYNAME'" matInput>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Title</mat-label>
            <mat-select name="NAMETITLE" [formControlName]="'NAMETITLE'">
                <mat-option [value]="val.Name" *ngFor="let val of common">{{val.Name}}</mat-option>
            </mat-select>
            <mat-icon matSuffix>title</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Latters</mat-label>
            <input name="NAMELETTERS" [formControlName]="'NAMELETTERS'" matInput>
            <mat-icon matSuffix class="secondary-text">latter</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-card class="card">
            <mat-checkbox class="" name="KNOWNBYOTHERNAME" [formControlName]="'KNOWNBYOTHERNAME'"
                (change)="triggerSomeEvent(contactForm)">Know by Other Name
            </mat-checkbox>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Given Names</mat-label>
            <input name="OTHERGIVENNAMES" [formControlName]="'OTHERGIVENNAMES'" matInput>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Family Name</mat-label>
            <input name="OTHERFAMILYNAME" [formControlName]="'OTHERFAMILYNAME'" matInput>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pl-4">
            <mat-label>Reason</mat-label>
            <input name="REASONFORCHANGE" [formControlName]="'REASONFORCHANGE'" matInput>
            <mat-icon matSuffix class="secondary-text">reason</mat-icon>
        </mat-form-field>
    </div>
</div>