<div class="one" fxLayout="column">

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select placeholder="First Trust Month">
                            <mat-option value="option">static 1</mat-option>
                            <mat-option value="option">static 2</mat-option>
                          </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select placeholder="Trust State">
                            <mat-option value="option">static 1</mat-option>
                            <mat-option value="option">static 2</mat-option>
                          </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-select placeholder="Trust Cheque">
                                <mat-option value="option">static 1</mat-option>
                                <mat-option value="option">static 2</mat-option>
                              </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select placeholder="Trust Receipt Copies">
                        <mat-option value="option">static 1</mat-option>
                        <mat-option value="option">static 2</mat-option>
                      </mat-select>
                    </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-card class="card">
                    <mat-checkbox class="" name="KNOWNBYOTHERNAME">Defaults EFT details when preparing Trust to Office
                    </mat-checkbox>
                </mat-card>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                    <mat-label>Account Name</mat-label>
                    <input matInput>
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>BSB</mat-label>
                    <input matInput>
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>A/C No</mat-label>
                    <input matInput>
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-select placeholder="Default Receipt Type">
                                <mat-option value="option">static 1</mat-option>
                                <mat-option value="option">static 2</mat-option>
                              </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-select placeholder="Default Withdrawal Type">
                                <mat-option value="option">static 1</mat-option>
                                <mat-option value="option">static 2</mat-option>
                              </mat-select>
                </mat-form-field>
            </div>
    </div>