<div class="one" [formGroup]="SettingForm" fxLayout="column">

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field  appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select name="FIRSTTRUSTMONTH" formControlName="FIRSTTRUSTMONTH" placeholder="First Trust Month">
                            <mat-option *ngFor="let val of getDropDownValue.FIRSTTRUSTMONTH"  value="{{val.VALUE}}">{{val.DESCRIPTION}}</mat-option>
                            
                          </mat-select>
            </mat-form-field>
            <mat-form-field  appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select name="TRUSTSTATE" formControlName="TRUSTSTATE" placeholder="Trust State">
                            <mat-option *ngFor="let val of getDropDownValue.TRUSTSTATE" value="{{val.VALUE}}">{{val.DESCRIPTION}}</mat-option>
                            
                          </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field  appearance="outline" fxFlex="50" class="pr-4">
                        <mat-select name="TRUSTCHEQUEFORMAT" formControlName="TRUSTCHEQUEFORMAT" placeholder="Trust Cheque">
                                <mat-option *ngFor="let val of getDropDownValue.TRUSTCHEQUEFORMAT" value="{{val.VALUE}}">{{val.DESCRIPTION}}</mat-option>
                                
                              </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select  name="TRUSTRECEIPTCOPIES" formControlName="TRUSTRECEIPTCOPIES" placeholder="Trust Receipt Copies">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                      </mat-select>
                    </mat-form-field>
            </div>
            <div class="check" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                
                    <mat-checkbox class="" name="KNOWNBYOTHERNAME">Defaults EFT details when preparing Trust to Office
                    </mat-checkbox>
            
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                    <mat-label>Account Name</mat-label>
                    <input name="EFTTRUSTACCOUNTNAME" formControlName="EFTTRUSTACCOUNTNAME" matInput>
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>BSB</mat-label>
                    <input name="EFTTRUSTBSB" formControlName="EFTTRUSTBSB" matInput>
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>A/C No</mat-label>
                    <input name="EFTTRUSTACCOUNTNUMBER" formControlName="EFTTRUSTACCOUNTNUMBER" matInput>
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field  appearance="outline" fxFlex="50" class="prs-4">
                        <mat-select name="DEFAULTTRUSTRECEIPTTYPE" formControlName="DEFAULTTRUSTRECEIPTTYPE" placeholder="Default Receipt Type">
                                <mat-option *ngFor="let val of getDropDownValue.DEFAULTTRUSTRECEIPTTYPE" value="{{val.VALUE}}" >{{val.DESCRIPTION}}</mat-option>
                               
                              </mat-select>
                </mat-form-field>
                <mat-form-field  appearance="outline" fxFlex="50" class="pr-4">
                        <mat-select name="DEFAULTTRUSTWITHDRAWALTYPE" formControlName="DEFAULTTRUSTWITHDRAWALTYPE" placeholder="Default Withdrawal Type">
                                <mat-option *ngFor="let val of getDropDownValue.DEFAULTTRUSTWITHDRAWALTYPE"  value="{{val.VALUE}}">{{val.DESCRIPTION}}</mat-option>
                             
                              </mat-select>
                </mat-form-field>
            </div>
    </div>