<div id="activities" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="content" fxLayoutAlign="center">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div responsive_auto">
                <form [formGroup]="activitiesFilter">
                    <mat-form-field class="example" appearance="outline">
                        <mat-label>Show What</mat-label>
                        <mat-select #value name="selected" (selectionChange)="UserTypeChange($event)" formControlName="ACTIVE">
                            <mat-option value="">All Users</mat-option>
                            <mat-option value="1">Active Users</mat-option>
                            <mat-option value="0">Inactive Users</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button type="button" color="primary" id="refreshActivities" (click)="loadData(lastFilter);">Refresh</button>
                </form>
            </div>
            <div class="content">
                <div class="page-layout simple left-sidebar inner-sidebar">
                    <div fxLayoutAlign="center" class="content">
                        <div class="center more_tbl_clmn" fusePerfectScrollbar>
                            <div class="content">
                                <div class="btn top_right_action_billing_position">
                                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                                              <mat-icon class="secondary-text">more_vert</mat-icon>
                                          </button>
                                </div>
                                <div class="content">
                                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                                    </div>
                                    <div class="example-containerdata">
                                        <table mat-table #table [dataSource]="Activitiesdata" matSort [@animateStagger]="{value:'50'}">
                                            <ng-container *ngFor="let item of displayedColumns;" matColumnDef="{{item}}">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header> {{ tempColobj[item].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row"> <span *ngIf="row[item]">{{row[item]}}</span> </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                            <tr mat-row [style.background]="highlightedRows == row.ACTIVITYGUID ? selectedColore : ''" *matRowDef="let row; columns: displayedColumns;" [ngClass]="highlightedRows == row.ACTIVITYGUID ? 'row-text-colore' : ''" class="contact" (click)="currentActivitieData = row;highlightedRows = row.ACTIVITYGUID"
                                                matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                            </tr>
                                        </table>
                                    </div>
                                    <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>