<div id="matters_detail_div" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <!-- CENTER -->
    <div class="center">      
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-16" [routerLink]="''">
                  <mat-icon>arrow_back</mat-icon>
                 </button>
                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Chronology Detail for 
                    </div>
                    <div class="subtitle secondary-text">
                        <span>from </span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>       
        <div id="chronology" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
            <div fxLayoutAlign="center" class="content">
                <div class="center p-24" fusePerfectScrollbar>
                    <div class="content">        
                        <div class="btn top_right_action_billing">
                            <button mat-icon-button (click)="openDialog()" aria-label="More">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>
                        </div>
                        <div class="example-containerdata">
                        <mat-table #table [dataSource]="chronology_table" [@animateStagger]="{value:'50'}">
                            <ng-container matColumnDef="MATTERGUID">
                                <mat-header-cell  class="header_title" *matHeaderCellDef>matter guid</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{row.MATTERGUID }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="CHRONOLOGYGUID">
                                <mat-header-cell  class="header_title" *matHeaderCellDef fxHide fxShow.gt-md>chonology guid</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.CHRONOLOGYGUID}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="DATEFROM">
                                <mat-header-cell  class="header_title" *matHeaderCellDef fxHide fxShow.gt-md>date from</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.DATEFROM}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="DATETO">
                                <mat-header-cell class="header_title" *matHeaderCellDef fxHide fxShow.gt-md>date to</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.DATETO}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="TIMEFROM">
                                <mat-header-cell class="header_title" *matHeaderCellDef fxHide fxShow.gt-md>time from</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.TIMEFROM}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="TIMETO">
                                <mat-header-cell class="header_title" *matHeaderCellDef fxHide fxShow.gt-md>time to</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.TIMETO}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="FORMAT">
                                <mat-header-cell class="header_title" *matHeaderCellDef fxHide fxShow.gt-md>formate</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.FORMAT}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="FORMATTEDDATE">
                                <mat-header-cell class="header_title" *matHeaderCellDef fxHide fxShow.gt-md>formate date</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.FORMATTEDDATE}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="TOPIC">
                                <mat-header-cell class="header_title" *matHeaderCellDef fxHide fxShow.gt-md>topic</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.TOPIC}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="PRIVILEGED">
                                <mat-header-cell class="header_title" *matHeaderCellDef fxHide fxShow.gt-md>privileged</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.PRIVILEGED}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="BRIEFPAGENO">
                                <mat-header-cell class="header_title" *matHeaderCellDef fxHide fxShow.gt-md>Brief page no</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.BRIEFPAGENO}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="REFERENCE">
                                <mat-header-cell class="header_title" *matHeaderCellDef fxHide fxShow.gt-md>reference</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.REFERENCE}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="COMMENT">
                                <mat-header-cell class="header_title" *matHeaderCellDef>comment </mat-header-cell>
                                <mat-cell *matCellDef="let row">{{row.COMMENT}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="WITNESSES">
                                <mat-header-cell class="header_title" *matHeaderCellDef fxHide fxShow.gt-sm>wintness</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.WITNESSES}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="EVENTAGREED">
                                <mat-header-cell class="header_title" *matHeaderCellDef fxHide fxShow.gt-sm>event greed</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.EVENTAGREED}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="DOCUMENTNAME">
                                <mat-header-cell class="header_title" *matHeaderCellDef fxHide fxShow.gt-sm>document name</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.DOCUMENTNAME}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="ADDITIONALTEXT">
                                <mat-header-cell class="header_title" *matHeaderCellDef fxHide fxShow.gt-sm>additional text</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.ADDITIONALTEXT}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="SHORTNAME">
                                <mat-header-cell class="header_title" class="header_title" *matHeaderCellDef fxHide fxShow.gt-sm>short name</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.SHORTNAME}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="CLIENTNAME">
                                <mat-header-cell class="header_title" *matHeaderCellDef fxHide fxShow.gt-sm>client name</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.CLIENTNAME}}</mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                            </mat-row>
                        </mat-table>
                        </div>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>