<div id="matters_detail_div" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <!-- CENTER -->
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-16" [routerLink]="'/matters'">
                  <mat-icon>arrow_back</mat-icon>
                 </button>
                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Chronology Detail for Matter({{currentMatter?.SHORTNAME}})
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Client </span>
                        <span> {{currentMatter?.MATTER}}</span>
                    </div>

                </div>
            </div>
        </div>
        <div id="chronology" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
            <div fxLayoutAlign="center" class="content">
                <div class="center" fusePerfectScrollbar>
                    <div class="content">
                        <div class="btn top_right_action_billing_position">
                            <button mat-icon-button (click)="openDialog()" aria-label="More">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>
                        </div>
                        <div class="example-containerdata">
                            <div class="example-loading-shade" *ngIf="isLoadingResults">
                                <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                            </div>
                            <table mat-table #table [dataSource]="chronology_table" [@animateStagger]="{value:'50'}">
                                <ng-container matColumnDef="MATTERGUID">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef>matter guid</th>
                                    <td mat-cell *matCellDef="let row">{{row.MATTERGUID }}</td>
                                </ng-container>
                                <ng-container matColumnDef="CHRONOLOGYGUID">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef fxShow.gt-md>chronology guid</th>
                                    <td mat-cell *matCellDef="let row" fxShow.gt-md>{{row.CHRONOLOGYGUID}}</td>
                                </ng-container>
                                <ng-container matColumnDef="DATEFROM">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef fxShow.gt-md>date from</th>
                                    <td mat-cell *matCellDef="let row" fxShow.gt-md>{{row.DATEFROM}}</td>
                                </ng-container>
                                <ng-container matColumnDef="DATETO">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef fxShow.gt-md>date to</th>
                                    <td mat-cell *matCellDef="let row" fxShow.gt-md>{{row.DATETO}}</td>
                                </ng-container>
                                <ng-container matColumnDef="TIMEFROM">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef fxShow.gt-md>time from</th>
                                    <td mat-cell *matCellDef="let row" fxShow.gt-md>{{row.TIMEFROM}}</td>
                                </ng-container>
                                <ng-container matColumnDef="TIMETO">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef fxShow.gt-md>time to</th>
                                    <td mat-cell *matCellDef="let row" fxShow.gt-md>{{row.TIMETO}}</td>
                                </ng-container>
                                <ng-container matColumnDef="FORMAT">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef fxShow.gt-md>format</th>
                                    <td mat-cell *matCellDef="let row" fxShow.gt-md>{{row.FORMAT}}</td>
                                </ng-container>
                                <ng-container matColumnDef="FORMATTEDDATE">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef fxShow.gt-md>format date</th>
                                    <td mat-cell *matCellDef="let row" fxShow.gt-md>{{row.FORMATTEDDATE}}</td>
                                </ng-container>
                                <ng-container matColumnDef="TOPIC">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef fxShow.gt-md>topic</th>
                                    <td mat-cell *matCellDef="let row" fxShow.gt-md>{{row.TOPIC}}</td>
                                </ng-container>
                                <ng-container matColumnDef="PRIVILEGED">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef fxShow.gt-md>privileged</th>
                                    <td mat-cell *matCellDef="let row" fxShow.gt-md>{{row.PRIVILEGED}}</td>
                                </ng-container>
                                <ng-container matColumnDef="BRIEFPAGENO">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef fxShow.gt-md>Brief page no</th>
                                    <td mat-cell *matCellDef="let row" fxShow.gt-md>{{row.BRIEFPAGENO}}</td>
                                </ng-container>
                                <ng-container matColumnDef="REFERENCE">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef fxShow.gt-md>reference</th>
                                    <td mat-cell *matCellDef="let row" fxShow.gt-md>{{row.REFERENCE}}</td>
                                </ng-container>
                                <ng-container matColumnDef="COMMENT">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef>comment </th>
                                    <td mat-cell *matCellDef="let row">{{row.COMMENT}}</td>
                                </ng-container>
                                <ng-container matColumnDef="WITNESSES">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef>witnesses</th>
                                    <td mat-cell *matCellDef="let row">{{row.WITNESSES}}</td>
                                </ng-container>
                                <ng-container matColumnDef="EVENTAGREED">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef>event agreed</th>
                                    <td mat-cell *matCellDef="let row">{{row.EVENTAGREED}}</td>
                                </ng-container>
                                <ng-container matColumnDef="DOCUMENTNAME">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef>document name</th>
                                    <td mat-cell *matCellDef="let row">{{row.DOCUMENTNAME}}</td>
                                </ng-container>
                                <ng-container matColumnDef="ADDITIONALTEXT">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef>additional text</th>
                                    <td mat-cell *matCellDef="let row">{{row.ADDITIONALTEXT}}</td>
                                </ng-container>
                                <ng-container matColumnDef="SHORTNAME">
                                    <th mat-header-cell class="header_title" class="header_title" *matHeaderCellDef>short name</th>
                                    <td mat-cell *matCellDef="let row">{{row.SHORTNAME}}</td>
                                </ng-container>
                                <ng-container matColumnDef="CLIENTNAME">
                                    <th mat-header-cell class="header_title" *matHeaderCellDef>client name</th>
                                    <td mat-cell *matCellDef="let row">{{row.CLIENTNAME}}</td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                </tr>
                            </table>
                        </div>
                        <mat-paginator [pageSizeOptions]="[10, 20,50,100]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>