<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="popup_main_div timeentry_popup">
    <h2 mat-dialog-title> {{dialogTitle}}
        <button class="btn" mat-icon-button (click)="ondialogcloseClick()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        <div class=" one  mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="timeEntryForm" id="timeEntryForm" [formGroup]="timeEntryForm">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class=" one  mb-24" fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field class="example" fxFlex="50" class="pr-4" appearance="outline">
                                <mat-label>Matter</mat-label>
                                <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <mat-option (onSelectionChange)="selected($event, option)" *ngFor="let option of filteredOptions | async" value="{{option.SHORTNAME}} : {{option.MATTER}} : {{option.CLIENTNAME}}">
                                        {{option.SHORTNAME}} : {{option.MATTER}} : {{option.CLIENTNAME}}
                                    </mat-option>
                                </mat-autocomplete>
                                <!-- <mat-label>Matter</mat-label>
                                <mat-select formControlName="MATTERGUID" (selectionChange)="matterChange('MatterGuid',$event.value)">
                                    <mat-option *ngFor="let matter of matterList" value="{{matter.MATTERGUID}}">{{matter.SHORTNAME}} : {{matter.MATTER}} : {{matter.CLIENTNAME}} </mat-option>
                                </mat-select> -->
                            </mat-form-field>
                            <mat-form-field class="example" fxFlex="50" class="pr-4" appearance="outline">
                                <mat-label>Type</mat-label>
                                <mat-select formControlName="ITEMTYPE" (selectionChange)="itemTypeChange($event.value);matterChange('Itemtype',$event.value)">
                                    <mat-option value="WIP">Time Entry</mat-option>
                                    <mat-option value="Activity">Activity</mat-option>
                                    <mat-option value="Sundry">Sundry</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="choosedDate('input', $event)" (dateChange)="choosedDate('change', $event)" [(ngModel)]="ITEMDATEModel" formControlName="ITEMDATE">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <!-- <material-timepicker class="time_entry_picker" fxFlex="50" color="accent" label="Time Picker" appearance="outline"></material-timepicker> -->
                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>Time of day</mat-label>
                                <input matInput formControlName="ITEMTIME">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field class="example" fxFlex="100" class="pr-4" appearance="outline">
                                <mat-label>Fee Earner</mat-label>
                                <mat-select formControlName="FEEEARNER" (selectionChange)="matterChange('FeeEarner',$event.value)">
                                    <mat-option *ngFor="let user of userList" value="{{user.USERID}}">{{user.FULLNAME}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field class="example" fxFlex="50" class="pr-4" appearance="outline">
                                <mat-label>{{QuantityTypeLabel}}</mat-label>
                                <mat-select formControlName="QUANTITYTYPE" (selectionChange)="matterChange('QuantityType',$event.value)">
                                    <mat-option *ngFor="let Activity of ActivityList" value="{{Activity.ACTIVITYID}}">{{Activity.DESCRIPTION}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>Quantity</mat-label>
                                <input matInput formControlName="QUANTITY" (focusout)="matterChange('Quantity',$event.value)">
                                <mat-icon matSuffix class="secondary-text">quantity</mat-icon>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>Price (Inc GST)</mat-label>
                                <input matInput formControlName="PRICEINCGST">
                                <mat-icon matSuffix class="secondary-text">currency</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>Price (Ex GST)</mat-label>
                                <input matInput formControlName="PRICE">
                                <mat-icon matSuffix class="secondary-text">currency</mat-icon>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field class="example" fxFlex="100" class="pr-4" appearance="outline">
                                <mat-label>Select Text</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let Lookups of LookupsList" (click)="LookupsChange(Lookups.LOOKUPFULLVALUE)" value="{{Lookups.LOOKUPGUID}}">{{Lookups.LOOKUPFULLVALUE}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Invoice Text</mat-label>
                                <textarea matInput formControlName="ADDITIONALTEXT"></textarea>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Comment</mat-label>
                                <textarea matInput formControlName="COMMENT"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button color="accent" (click)="SaveClickTimeEntry()" [disabled]="isspiner"><mat-spinner *ngIf="isspiner"></mat-spinner>{{buttonText}}</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Don't Save</button>
    </mat-dialog-actions>
</div>