<div class="popup_main_div corres_popup_main select_metter_main_div" cdkDrag>
    <h2 cdkDragHandle mat-dialog-title>{{title}} Authority
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </h2>
    <div mat-dialog-content class="mat-typography">
        <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
        </div> -->
        <div class="one select_matter_main_div">
            <div class="center p-24 list_tbl_main more_tbl_clmn">
                <div class="matter-serach-div sticky_search_div">
                    <!-- select bar  -->
                    <form name="SelectContact" id="SelectContact" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" >
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                                        <mat-label>Topic</mat-label>
                                        <mat-select  placeholder="Topic">
                                            <mat-option value="Cost">Cost</mat-option>
                                            <mat-option value="Environmental">Environmental</mat-option>
                                            <mat-option value="Limitations Peeriod">Limitations</mat-option>
                                            <mat-option value="Negligence">Negligence</mat-option>
                                            <mat-option value="Litigation">Litigation</mat-option>
                                          
                                          </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
                                        <mat-label>Authority</mat-label>
                                        <input   matInput>
                                        <mat-icon matSuffix class="secondary-text"></mat-icon>
                                    </mat-form-field>


                        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                                <mat-label>Citation</mat-label>
                                <input   matInput>
                                <mat-icon matSuffix class="secondary-text"></mat-icon>
                            </mat-form-field>

                        </div>

                <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto">

                            
                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                        <mat-label>Authority Web Site / File </mat-label>
                                        <input   matInput>
                                    </mat-form-field>
                                    <mat-icon class="iconmargin" matSuffix (click)='openDocument()'>
                                        <img src="assets/icons/web_app/icon_letters_small_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                                    </mat-icon>
                                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                            <mat-label>Reference</mat-label>
                                            <input   matInput>
    
                                        </mat-form-field>
                                       
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto">

                                    <mat-form-field  appearance="outline" fxFlex="100" class="pr-4" >
                                            <mat-label>Comment</mat-label>
                                          <textarea  cdkTextareaAutosize
                                          cdkAutosizeMinRows="5"
                                          cdkAutosizeMaxRows="5"   matInput ></textarea>
                                        </mat-form-field>

                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class="example-containerdata"> 

            </div> -->
           
        </div>
    </div>
   
    <mat-dialog-actions align="end" class="popup_ftr contact_select_footer">
        <button mat-raised-button [mat-dialog-close]="" color="accent">Save</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don't Save</button>
    </mat-dialog-actions>
</div>