<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <img class="avatar" *ngIf="contact.avatar" [alt]="contact.name"
                 [src]="contact.avatar"/>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.name}} {{contact.lastName}}</p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Email</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{contact.email}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Phone</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{contact.phone}}
            </p>
        </mat-cell>
    </ng-container>


    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef><button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More">
            <mat-icon class="secondary-text">more_vert</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">
            <button mat-menu-item aria-label="remove" (click)="deleteContact(contact)">
                <mat-icon>delete</mat-icon>
                <span>Remove</span>
            </button>
        </mat-menu> </mat-header-cell>
        
        <mat-cell *matCellDef="let contact"></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let contact; columns: displayedColumns;">
    </mat-row>
</mat-table>
