@import "src/@fuse/scss/fuse";
#PastBanking {
    .header {
        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            @include mat-elevation(1);
            .search {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 18px;
                input {
                    width: 100%;
                    height: 48px;
                    min-height: 48px;
                    max-height: 48px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .content {
        overflow: hidden;
        .example {
            width: 13%;
            padding: 10px;
            .sidebar {
                &:not(.locked-open) {
                    background: white;
                }
            }
        }
        .matter-serach-div {
            // position: fixed;
            // width: 600px;
            // height: 200px;
            // left: 50%;
            // top: 0%;
            // margin-left: -300px;
        }
    }
    .mat-form-field.mat-form-field-type-mat-select .mat-form-field-infix {
        display: inline-flex;
        width: 300px !important;
    }
    .search {
        width: 45% !important;
        padding: 20px !important;
    }
}

.search {
    width: 45% !important;
    padding: 20px !important;
}

app-past-bankings {
    width: 100%;
}

.sticky_search_div {
    // position: fixed;
    // top: 163px;
    // padding-left: 300px;
    width: 100%;
    background-color: #f5f5f5;
    z-index: 9999;
    left: 0;
}

.sticky_search_remove_padding {
    padding-left: 80px;
}

#PastBanking .p-24.list_tbl_main {
    // margin-top: 85px;
    overflow: hidden;
}

.p-24.list_tbl_main {
    //margin-top: 110px;
    padding-top: 0 !important;
}

#PastBanking .content {
    position: relative;
}

.mat-table.mat-table.ng-trigger.ng-trigger-animateStagger {
    width: 100%;
    overflow: auto;
    display: table;
}

.more_tbl_clmn mat-footer-row {
    display: table;
}

.more_tbl_clmn .mat-header-cell,
.more_tbl_clmn .mat-cell {
    display: table-cell;
    white-space: nowrap;
    padding: 0 20px;
    overflow: inherit;
    position: sticky;
}

.more_tbl_clmn mat-header-row {
    line-height: 56px;
}

.more_tbl_clmn mat-row {
    line-height: 48px;
}

.more_tbl_clmn .mat-header-cell:last-child,
.more_tbl_clmn .mat-cell:last-child {
    padding-right: 70px;
}

.table tr.active td {
    background-color: #123456 !important;
    color: white;
}

table tr.highlight {
    background-color: #4CAF50 !important;
    color: #ffffff;
}

button#refreshContactTab {
    display: none;
}

// #PastBanking .content .example {
//     padding: 20px 10px;
// }

th.mat-sort-header-sorted {
    color: black;
}

.mat-table {
    width: 100%;
}

#refreshAccount {
    display: none;
}

h2{
    margin-left: 13px;
}


