<div id="contact" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div fxLayoutAlign="center" class="content">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div">
                <form [formGroup]="contactFilter">
                    <mat-form-field class="example" appearance="outline">
                        <mat-label>What</mat-label>
                        <mat-select (selectionChange)="ContactChange($event.value)" formControlName="active">
                            <mat-option value="all">All Contacts</mat-option>
                            <mat-option value="1">Active Contacts</mat-option>
                            <mat-option value="0">Inactive Contacts</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example" appearance="outline">
                        <mat-label>Contact Type</mat-label>
                        <mat-select #value name="selected" (selectionChange)="ContactTypeChange($event.Contactdata)" formControlName="ContactType">
                            <mat-option value="all">All Contacts</mat-option>
                            <mat-option value="Person">People</mat-option>
                            <mat-option value="Company">Company</mat-option>
                            <mat-option value="Party">Party</mat-option>
                            <mat-option value="Payee">Payee</mat-option>
                            <mat-option value="Payor">Payor</mat-option>
                            <mat-option value="Payee/Payor">Payee/Payor</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example" appearance="outline">
                        <mat-label>Starts With</mat-label>
                        <mat-select (selectionChange)="Contactvalue($event.value)" formControlName="FirstLetter">
                            <mat-option value="-1">All</mat-option>
                            <mat-option value="a">A</mat-option>
                            <mat-option value="b">B</mat-option>
                            <mat-option value="c">C</mat-option>
                            <mat-option value="d">D</mat-option>
                            <mat-option value="e">E</mat-option>
                            <mat-option value="f">F</mat-option>
                            <mat-option value="g">G</mat-option>
                            <mat-option value="h">H</mat-option>
                            <mat-option value="i">I</mat-option>
                            <mat-option value="j">J</mat-option>
                            <mat-option value="k">K</mat-option>
                            <mat-option value="l">L</mat-option>
                            <mat-option value="m">M</mat-option>
                            <mat-option value="n">N</mat-option>
                            <mat-option value="o">O</mat-option>
                            <mat-option value="p">P</mat-option>
                            <mat-option value="q">Q</mat-option>
                            <mat-option value="r">R</mat-option>
                            <mat-option value="s">S</mat-option>
                            <mat-option value="t">T</mat-option>
                            <mat-option value="u">U</mat-option>
                            <mat-option value="v">V</mat-option>
                            <mat-option value="w">W</mat-option>
                            <mat-option value="x">X</mat-option>
                            <mat-option value="y">Y</mat-option>
                            <mat-option value="z">Z</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example">
                        <mat-label>Filter</mat-label>
                        <input matInput formControlName="search" (keyup.enter)="onSearch($event)">
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="button" id="refreshContactTab" (click)="refreshContactTab();">Refresh</button>
                </form>
            </div>
            <div class="content">
                <div class="btn contact_right_action one">
                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>
                </div>
                <div class="content">
                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                    </div>
                    <div class="example-containerdata">
                        <table  mat-table [dataSource]="Contactdata" matSort [@animateStagger]="{value:'50'}">
                            <ng-container *ngFor="let item of displayedColumns;" matColumnDef="{{item}}">
                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header> {{ tempColobj[item].DESCRIPTION }}</th>
                                <td mat-cell *matCellDef="let row">
                                    <span *ngIf="row[item]">{{row[item]}}</span>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr [style.background]="highlightedRows == row.CONTACTGUID ? selectedColore : ''" [ngClass]="highlightedRows == row.CONTACTGUID ? 'row-text-colore' : ''" highlightedRows=row.CONTACTGUID mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editContact(row.CONTACTGUID);highlightedRows = row.CONTACTGUID "
                                matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                            </tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>