<!-- <div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm (click)="toggleSidebar('contacts-main-sidebar')">
              <mat-icon>menu</mat-icon>
          </button>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Contacts
              </span>
            </div>

        </div>
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>

            <div class="search-wrapper mt-16 mt-sm-0">

                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input [formControl]="searchInput" placeholder="Search for a contact">
                </div>

            </div>

        </div>

    </div>



    <div fxLayoutAlign="center" class="content">
        <div class="center p-24" fusePerfectScrollbar>
            <mat-form-field class="example">
                <mat-label>Active Motters</mat-label>
                <mat-select>
                    <mat-option value="red">one</mat-option>
                    <mat-option value="green">Two</mat-option>
                    <mat-option value="blue">Three</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example">
                <mat-label>Invoiced</mat-label>
                <mat-select>
                    <mat-option value="red">one</mat-option>
                    <mat-option value="green">Two</mat-option>
                    <mat-option value="blue">Three</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example">
                <mat-label>Free Earner/Owner</mat-label>
                <mat-select>
                    <mat-option value="red">one</mat-option>
                    <mat-option value="green">Two</mat-option>
                    <mat-option value="blue">Three</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field class="search">

                <input matInput placeholder="Search">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <div class="content">
                <contacts-contact-list></contacts-contact-list>
            </div>

        </div>
        <fuse-sidebar class="sidebar final-sidebar" name="final-sidebar" position="right" lockedOpen="gt-md">
            <app-final-sidebar></app-final-sidebar>
        </fuse-sidebar>
    </div>
</div> -->
hekllo