<div id="Emails" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div fxLayoutAlign="center" class="content">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div">
                <form [formGroup]="EmailAllData">
                    <mat-form-field class="example" appearance="outline" fxFlex="">
                        <mat-label>Filter</mat-label>
                        <input matInput placeholder="Filter"  formControlName="Filter">
                    </mat-form-field>
                    <mat-form-field class="example" appearance="outline" fxFlex="">
                        <mat-label>Search</mat-label>
                        <input matInput placeholder="search"  formControlName="search" (keyup)='FilterSearch($event.target.value)'>
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </form>
            </div>
            <div class="content">
                <div class="content">
                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                    </div>
                    <div class="example-containerdata">
                        <table mat-table [dataSource]="EmailDataTbl" [@animateStagger]="{value:'50'}" matSort class="mat-elevation-z8">
                            <ng-container matColumnDef="Title">
                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>Title</th>
                                <td mat-cell *matCellDef="let row"> {{row.Title}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr [style.background]="highlightedRows == row.Title ? selectedColore : ''" 
                                [ngClass]="highlightedRows == row.Title ? 'row-text-colore' : ''" 
                                highlightedRows=row.Title mat-row *matRowDef="let row; columns: displayedColumns;"
                                (click)="clicktitle(row.Title);highlightedRows = row.Title " matRipple>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
