<div class="one" [formGroup]="AccountForm"  fxLayout="column">
  <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
      <mat-label>Account Number 1</mat-label>
      <input  formControlName = 'accountNo'  matInput>
    </mat-form-field>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
    <mat-form-field appearance="outline" fxFlex="" class="pr-4">
        <mat-label>Account Type</mat-label>
        <mat-select formControlName="accounttype">
            <mat-option value="0">Header</mat-option>
            <mat-option value="1">Detail</mat-option>
            <mat-option value="2">Bank Account</mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-checkbox formControlName="ACTIVE" [(ngModel)]="theCheckbox">Active Account</mat-checkbox>
  </div>
</div>