<div class="one" [formGroup]="AccountForm" fxLayout="column">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.ACCOUNTNUMBER,'has-warning':errorWarningData.Warning?.ACCOUNTNUMBER}">
            <mat-label>Account Number</mat-label>
            <input formControlName='ACCOUNTNUMBER' matInput>
            <!-- <span matPrefix>1-&nbsp;</span> -->
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-checkbox formControlName="ACTIVE">Active Account</mat-checkbox>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.ACCOUNTCLASS,'has-warning':errorWarningData.Warning?.ACCOUNTTYPE}">
            <mat-label>Account Type</mat-label>
            <mat-select formControlName="ACCOUNTCLASS">
                <mat-option value="Detail">Detail</mat-option>
                <mat-option value="Bank Account|">Bank Account</mat-option>
                <mat-option value="Pass Through">Pass Through</mat-option>
                <mat-option value="Header">Header</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>