<div id="matters" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <div class="content">
        <!-- CENTER -->
        <div class="center" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div">
                <!-- select bar  -->
                <mat-form-field class="example" appearance="outline">
                    <mat-label>Active Motters</mat-label>
                    <mat-select>
                        <mat-option value="red">one</mat-option>
                        <mat-option value="green">Two</mat-option>
                        <mat-option value="blue">Three</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- select bar  -->
                <mat-form-field class="example" appearance="outline">
                    <mat-label>Invoiced</mat-label>
                    <mat-select>
                        <mat-option value="red">one</mat-option>
                        <mat-option value="green">Two</mat-option>
                        <mat-option value="blue">Three</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- select bar  -->
                <mat-form-field class="example" appearance="outline">
                    <mat-label>Free Earner/Owner</mat-label>
                    <mat-select>
                        <mat-option value="red">one</mat-option>
                        <mat-option value="green">Two</mat-option>
                        <mat-option value="blue">Three</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field class="search" appearance="outline">
                    <input matInput placeholder="Search">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <!-- CONTENT -->
            <div class="content fix_div_padding">
                <app-matters-list (matterDetail)="matterBack($event)"></app-matters-list>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- sidebar  -->
        <!-- *ngIf="isSortDetail" -->
        <fuse-sidebar *ngIf="mattersDetail" class="sidebar final-sidebar" name="final-sidebar" position="right" lockedOpen="gt-md">
            <app-matters-sort-detail class="list_sidebar_padding" [mattersDetailData]="mattersDetail" (matterCloseD)="matterClose($event)"></app-matters-sort-detail>
        </fuse-sidebar>
        <!-- / CENTER -->
    </div>
    <!-- / CONTENT-->
</div>