<div id="matters" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="content">
        <!-- CENTER -->
        <div class="center p-24 list_tbl_main more_tbl_clmn">
            <div class="matter-serach-div sticky_search_div">
                <!-- select bar  -->
                <form [formGroup]="matterFilterForm">
                    <mat-form-field class="example" appearance="outline">
                        <mat-label>Active Matters</mat-label>
                        <mat-select formControlName="MatterFilter" (selectionChange)="MatterChange($event.value)">
                            <mat-option value="active">Active Matters</mat-option>
                            <mat-option value="inactive">Inactive Matters</mat-option>
                            <mat-option value="recent inactive">Recently Inactive</mat-option>
                            <mat-option value="near estimate">Near Estimate</mat-option>
                            <mat-option value="">All Matters</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- select bar  -->
                    <mat-form-field class="example invoiceddrop" appearance="outline">
                        <mat-label>Has Uninvoiced Work</mat-label>
                        <mat-select formControlName="InvoiceFilter" (selectionChange)="MatterInvoiceChange($event.value)">
                            <mat-option value="All">All</mat-option>
                            <mat-option value="Yes">Yes</mat-option>
                            <mat-option value="No">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- select bar  -->

                    <mat-form-field class="example" appearance="outline" *ngIf="isShowDrop">
                        <mat-label>Free Earner/Owner</mat-label>
                        <mat-select (selectionChange)="MatterUserChange($event.value)" formControlName="UserFilter">
                            <mat-option value="all">All</mat-option>
                            <mat-option value="">None</mat-option>
                            <mat-option *ngFor="let MatterDrop of MatterDropData" value="{{MatterDrop.USERID}}">{{MatterDrop.USERID}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="search" appearance="outline">
                        <mat-label>Search</mat-label>
                        <!-- <input matInput placeholder="Search" (keyup.enter)="onSearch();" [(ngModel)]="searchFilter" formControlName="searchFilter"> -->
                        <input matInput placeholder="Search" (keydown)="onSearch($event)" formControlName="searchFilter">
                        <mat-icon matSuffix (click)="onSearch('Enter')">search</mat-icon>
                    </mat-form-field>
                </form>
            </div>
            <!-- CONTENT -->

            <div class="content fix_div_padding">
                <app-matters-list (matterDetail)="matterBack($event)"></app-matters-list>
            </div>

            <!-- / CONTENT -->
        </div>
        <!-- sidebar  -->
        <!-- *ngIf="isSortDetail" -->
        <fuse-sidebar *ngIf="mattersDetail" [ngStyle]="{'height': detailHeight}" id="1" id="list_sidebar_right_child_detail" class="sidebar final-sidebar list_sidebar_right_child" name="final-sidebar" position="right" lockedOpen="gt-md">
            <app-matters-sort-detail class="list_sidebar_padding" [mattersDetailData]="mattersDetail" (matterCloseD)="matterClose($event)"></app-matters-sort-detail>
        </fuse-sidebar>
        <!-- / CENTER -->
    </div>
    <!-- / CONTENT-->
</div>