<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div cdkDrag class="popup_main_div add_edit_activities_main">
    <h2 cdkDragHandle mat-dialog-title>{{dialogTitle}}
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        <div class=" one " fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form [formGroup]="activityForm" fxLayout="column" fxFlex="1 0 auto" name="form">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.ACTIVITYTYPE,'has-warning':errorWarningData.Warning?.ACTIVITYTYPE}">
                        <mat-label>Actitity Type</mat-label>
                        <mat-select #value formControlName="ACTIVITYTYPE">
                            <mat-option value="Activity">Actitity</mat-option>
                            <mat-option value="Sundry">Sundry</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.ACTIVITYID,'has-warning':errorWarningData.Warning?.ACTIVITYID}">
                        <mat-label>Sundry / Actitity</mat-label>
                        <input formControlName="ACTIVITYID" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="34" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.DESCRIPTION,'has-warning':errorWarningData.Warning?.DESCRIPTION}">
                        <mat-label>Description</mat-label>
                        <input formControlName="DESCRIPTION" matInput>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.GSTTYPE,'has-warning':errorWarningData.Warning?.GSTTYPE}">
                        <mat-label>Gst Type</mat-label>
                        <mat-select #value formControlName="GSTTYPE">
                            <mat-option value="GST Exclusive">GST Exclusive</mat-option>
                            <mat-option value="GST Inclusive">GST Inclusive</mat-option>
                            <mat-option value="GST Free">GST Free</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.RATEPERUNIT,'has-warning':errorWarningData.Warning?.RATEPERUNIT}">
                        <mat-label>$/Unit</mat-label>
                        <input formControlName="RATEPERUNIT" class="sideText" matInput (focusout)="RatePerUnitVal()" [(ngModel)]="RATEPERUNIT">
                        <span class="currency_sign" matPrefix>$&nbsp;</span>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.UNITDESCRIPTIONSINGLE,'has-warning':errorWarningData.Warning?.UNITDESCRIPTIONSINGLE}">
                        <mat-label>Unit Desc Single</mat-label>
                        <mat-select #value formControlName="UNITDESCRIPTIONSINGLE">
                            <mat-option value="unit">Unit</mat-option>
                            <mat-option value="page">Page</mat-option>
                            <mat-option value="item">Item</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.UNITDESCRIPTIONPLURAL,'has-warning':errorWarningData.Warning?.UNITDESCRIPTIONPLURAL}">
                        <mat-label>Unit Desc Plural</mat-label>
                        <mat-select #value formControlName="UNITDESCRIPTIONPLURAL">
                            <mat-option value="unit">Unit</mat-option>
                            <mat-option value="page">Page</mat-option>
                            <mat-option value="item">Item</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button color="accent" (click)="saveActivity()" [disabled]="isspiner" *ngIf="action === 'new'"><mat-spinner *ngIf="isspiner"></mat-spinner>Add</button>
        <button mat-raised-button color="accent" (click)="saveActivity()" [disabled]="isspiner" *ngIf="action === 'edit'"><mat-spinner *ngIf="isspiner"></mat-spinner>Update</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don't Save</button>
    </mat-dialog-actions>
</div>