<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div cdkDrag class="popup_main_div add_edit_activities_main">
    <h2 cdkDragHandle mat-dialog-title>{{dialogTitle}}
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        <div class=" one " fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form [formGroup]="activityForm" fxLayout="column" fxFlex="1 0 auto" name="form">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.MATTERGUID,'has-warning':errorWarningData.Warning?.MATTERGUID}">
                        <mat-label>Matter</mat-label>
                        <input matInput readonly placeholder="Placeholder" formControlName="matterautoVal">
                        <mat-icon matSuffix (click)='selectMatter()'>
                            <img src="assets/icons/web_app/icon_matter_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4" appearance="outline" [ngClass]="{'has-error':errorWarningData.Error?.ITEMDATE,'has-warning':errorWarningData.Warning?.ITEMDATE}">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="choosedDate('input', $event)" (dateChange)="choosedDate('change', $event)" [(ngModel)]="ActivityModel" formControlName="ITEMDATE">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="34" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.ITEMTIME,'has-warning':errorWarningData.Warning?.ITEMTIME}">
                        <mat-label>Time of day</mat-label>
                        <mat-select formControlName="ITEMTIME">
                            <mat-option *ngFor="let data of timeStops" value="{{data}}">{{data}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.FEEEARNER,'has-warning':errorWarningData.Warning?.FEEEARNER}">
                        <mat-label>Fee Earner</mat-label>
                        <mat-select #value name="selected" (selectionChange)="matterChange('FeeEarner',$event.value)" formControlName="FEEEARNER">
                            <mat-option *ngFor="let user of userList" value="{{user.USERID}}">{{user.FULLNAME}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.QUANTITY,'has-warning':errorWarningData.Warning?.QUANTITY}">
                        <mat-label>Quantity</mat-label>
                        <input matInput formControlName="QUANTITY" type="text" (focusout)="matterChange('Quantity',$event.value)">
                        <mat-icon matSuffix class="secondary-text">quantity</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="34" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.QUANTITYTYPE,'has-warning':errorWarningData.Warning?.QUANTITYTYPE}">
                        <mat-label *ngIf="lookuptype=='Activity'">Activity</mat-label>
                        <mat-label *ngIf="lookuptype=='Sundry'">Sundry</mat-label>
                        <mat-select (selectionChange)="matterChange('QuantityType',$event)" formControlName="QUANTITYTYPE">
                            <mat-option *ngFor="let Lookups of LookupsList" value="{{Lookups.LOOKUPGUID}}">{{Lookups.LOOKUPFULLVALUE}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.PRICE,'has-warning':errorWarningData.Warning?.PRICE}">
                        <mat-label>Charge Ex-GST</mat-label>
                        <input class="sideText" type="text" [readonly]="isreadonly" numeric numericType="decimal" matInput formControlName="PRICE" (keyup)="calcPE()" [(ngModel)]="PRICEVAL">
                        <span class="currency_sign" matPrefix>$&nbsp;</span>
                        <mat-icon matSuffix class="secondary-text">currency</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.PRICEINCGST,'has-warning':errorWarningData.Warning?.PRICEINCGST}">
                        <mat-label>Charge Inc-GST</mat-label>
                        <input class="sideText" [readonly]="isreadonly" type="text" numeric numericType="decimal" matInput formControlName="PRICEINCGST" (keyup)="calcPI()" [(ngModel)]="PRICEINCGSTVAL">
                        <span class="currency_sign" matPrefix>$&nbsp;</span>
                        <mat-icon matSuffix class="secondary-text">currency</mat-icon>
                    </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100" [ngClass]="{'has-error':errorWarningData.Error?.ADDITIONALTEXT,'has-warning':errorWarningData.Warning?.ADDITIONALTEXT}">
                        <mat-label>Invoice Text</mat-label>
                        <textarea matInput formControlName="ADDITIONALTEXT"></textarea>
                    </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100" [ngClass]="{'has-error':errorWarningData.Error?.COMMENT,'has-warning':errorWarningData.Warning?.COMMENT}">
                        <mat-label>Comment</mat-label>
                        <textarea matInput formControlName="COMMENT"></textarea>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button color="accent" (click)="saveActivity()" [disabled]="isspiner" *ngIf="action === 'new'"><mat-spinner *ngIf="isspiner"></mat-spinner>Save</button>
        <button mat-raised-button color="accent" (click)="saveActivity()" [disabled]="isspiner" *ngIf="action === 'edit'"><mat-spinner *ngIf="isspiner"></mat-spinner>Update</button>
        <button mat-raised-button color="accent" (click)="saveActivity()" [disabled]="isspiner" *ngIf="action === 'Duplicate'"><mat-spinner *ngIf="isspiner"></mat-spinner>Duplicate</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don't Save</button>
    </mat-dialog-actions>
</div>