@import "src/@fuse/scss/fuse";
#contacts {
    .header {
        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            @include mat-elevation(1);
            .search {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 18px;
                input {
                    width: 100%;
                    height: 48px;
                    min-height: 48px;
                    max-height: 48px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .content {
        overflow: hidden;
        .sidebar {
            &:not(.locked-open) {
                background: white;
            }
        }
    }
}

@import "src/@fuse/scss/fuse";
:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
    .sidebar-content {
        display: flex;
        flex-direction: column;
        padding: 0;
        @include media-breakpoint(gt-sm) {
            padding: 24px 4px 24px 24px;
        }
        .card {
            display: flex;
            flex-direction: column;
            flex: 0 1 auto;
            padding: 0;
            border-radius: 8px;
            @include media-breakpoint(gt-sm) {
                @include mat-elevation(1);
            }
            >.header {
                flex: 0 1 auto;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            }
            >.content {
                flex: 0 1 auto;
            }
        }
    }
}

.defaults {
    margin-left: 23px;
}

.estimate {
    margin-left: 23px;
}

.reginoal {
    margin-left: 23px;
}

.trust {
    margin-left: 23px;
}

.con.mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.34375em !important;
    margin-top: -0.25em !important;
}

.btn_2 {
    margin-left: 12px !important;
}

.page-layout.simple.inner-sidebar>.header.business_head_tab {
    min-height: 70px;
    max-height: 70px;
}

mat-dialog-actions.popup_ftr.mat-dialog-actions {
    /* align-items: end; */
    float: right !important;
    margin-top: 24px !important;
}

.mainbtn_size {
    width: 114px;
}

mat-dialog-actions mat-spinner {
    position: absolute !important;
}