<div id="setting" class="page-layout carded left-sidebar inner-scroll">
        <div class="top-bg accent"></div>
        <fuse-sidebar class="sidebar" name="mail-main-sidebar" position="left" lockedOpen="gt-md">
                <!-- <app-setting-sidebar></app-setting-sidebar> -->
                <div fxLayout="column" fxLayoutAlign="space-between start"
              class="header accent p-24 pb-4">


</div>

<div class="content" fusePerfectScrollbar [@animate]="{value:'*',params:{y:'50px'}}">

    <div class="px-24 pt-32 pb-12"></div>
    <div class="nav material2">
        <div class="nav-item" >
            <a class="nav-link" matRipple >
             <span (click)="aa()">Name</span>
            </a>
        </div>
    </div>
</div>
            <!-- <div class="content" fusePerfectScrollbar [@animate]="{value:'*',params:{y:'50px'}}">
                </div> -->
        </fuse-sidebar>
        <div class="center">
            <div class="header" fxLayout="row" fxLayoutAlign="start center"> </div>
             <div class="content-card" > 
                    <form name="contactForm" id="contactForm"  fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form">
                <div class="content" fxLayout="row"  >
                <app-name *ngIf="a=='true'" fusePerfectScrollbar fxFlex></app-name>
                </div>
                </form>
    
            </div>
        
    
        </div>
    
    
    </div>
    