<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="popup_main_div add_edit_spendmoney_main">
    <h2 mat-dialog-title>{{dialogTitle}} 
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        <div class=" one " fxLayout="column" fxLayoutAlign="start">
            <form  fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="spendmoneyForm">
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                  <mat-form-field appearance="outline" class="example" fxFlex="{{size}}" class="pr-4">
                    <mat-label>Date Incurred</mat-label>
                    <input matInput [matDatepicker]="DateIncurred" formControlName="DateIncurred">
                    <mat-datepicker-toggle matSuffix  [for]="DateIncurred"></mat-datepicker-toggle>
                    <mat-datepicker #DateIncurred></mat-datepicker>           
                  </mat-form-field>
                  <mat-form-field class="example" fxFlex="{{size}}" class="pr-4" appearance="outline">
                    <mat-label>Paid</mat-label>
                    <mat-select #value name="selected" [(ngModel)]="paidtype"  formControlName="Paid" (ngModelChange)="Paidtype($event)">
                        <mat-option value="paid">paid</mat-option>  
                        <mat-option value="unpaid">unpaid</mat-option> 
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="{{size}}" class="pr-4">
                    <mat-label>Date Paid</mat-label>
                    <input matInput [matDatepicker]="DatePaid"  formControlName="DatePaid">
                    <mat-datepicker-toggle matSuffix [for]="DatePaid"></mat-datepicker-toggle>
                    <mat-datepicker #DatePaid></mat-datepicker> 
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="20" class="pr-4" *ngIf="action === 'edit'">
                    <mat-label>Amount</mat-label>
                    <input matInput formControlName="Amount">
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="20" class="pr-4" *ngIf="action === 'edit'">
                    <mat-label>GST</mat-label>
                    <input matInput formControlName="GST">
                  </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                  <mat-form-field appearance="outline" fxFlex="40" class="pr-4" >
                    <mat-label *ngIf="classtype !=='depreciation'">Bank a/c</mat-label>
                    <mat-label *ngIf="classtype=='depreciation'">Asset a/c</mat-label>
                    <input matInput formControlName="Bankac">
                    <mat-icon matSuffix >
                      <button id="bank" class="matternews" [disabled]="Bankhide"><img src="assets/icons/web_app/icon_accounts_small_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above"></button>
                    </mat-icon>
                  </mat-form-field>                 
                  <mat-form-field appearance="outline" fxFlex="60" class="pr-4">
                    <mat-label *ngIf="classtype !=='matter Expence'">Notes</mat-label>
                    <mat-label *ngIf="classtype =='matter Expence'">Invoice Text</mat-label>
                    <!-- <input matInput formControlName="Notes">
                    <mat-icon matSuffix >
                      <img src="assets/icons/web_app/icon_edit_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                    </mat-icon> -->
                    <textarea matInput></textarea>
                  </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field class="example" fxFlex="25" class="pr-4" appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select #value name="selected" formControlName="Type">
                      <mat-option>1</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
                  <mat-label>Cheque No</mat-label>
                  <input matInput formControlName="ChequeNo">
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
                  <mat-label>Payee</mat-label>
                  <input matInput readonly formControlName="Payee">
                  <mat-icon matSuffix (click)='ContactMatter()'>
                      <img src="assets/icons/web_app/icon_contact_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                  </mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
                    <mat-label>Invoice #/Source Ref</mat-label>
                    <input matInput formControlName="Invoice">
                </mat-form-field>
             </div>
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >
                  <section class="example-section">
                    <mat-checkbox class="example-margin" formControlName="MultiLineExpense">Multi Line Expense</mat-checkbox> 
                  </section>
              </div>
              <div class="example-containerdata" *ngIf="action === 'edit'">
                  <table mat-table #table [dataSource]="getDataForTable" [@animateStagger]="{value:'50'}" class="spen_money_update">
                      <ng-container matColumnDef="class">
                          <th mat-header-cell *matHeaderCellDef>class</th>
                          <td mat-cell *matCellDef="let row">
                              <p class="job-title text-truncate">
                                  {{row.class }}
                              </p>
                          </td>
                      </ng-container>
                      <ng-container matColumnDef="amount">
                          <th mat-header-cell *matHeaderCellDef>amount</th>
                          <td mat-cell *matCellDef="let row">
                              <p class="company text-truncate">
                                  {{row.amount }}
                              </p>
                          </td>
                      </ng-container>
                      <ng-container matColumnDef="Gst">
                          <th mat-header-cell *matHeaderCellDef>Gst</th>
                          <td mat-cell *matCellDef="let row">
                              <p class="company text-truncate">
                                  {{row.Gst }}
                              </p>
                          </td>
                      </ng-container>
                      <ng-container matColumnDef="note">
                          <th mat-header-cell *matHeaderCellDef>note</th>
                          <td mat-cell *matCellDef="let row">
                              <p class="company text-truncate">
                                  {{row.note }}
                              </p>
                          </td>
                      </ng-container>
                      <tr mat-header-row class="tbl_fix_header" *matHeaderRowDef="displayedColumnsTime; sticky: true"></tr>
                      <tr mat-row [style.background]="highlightedRows == row.MATTERGUID ? selectedColore : ''" *matRowDef="let row; columns: displayedColumnsTime;" [ngClass]="highlightedRows == row.MATTERGUID ? 'row-text-colore' : ''" class="contact" (click)="selectMatterId(row);highlightedRows = row.MATTERGUID"
                          matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                      </tr>
                  </table>
              </div>
              <mat-paginator *ngIf="action === 'edit'" [pageSizeOptions]="[10, 20 ,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                  <mat-form-field class="example" fxFlex="33.33" class="pr-4" appearance="outline">
                      <mat-label>Class</mat-label>
                      <mat-select #value name="selected" formControlName="Class" [(ngModel)]="classtype" (ngModelChange)="Classtype($event)">
                        <mat-option value="Expence">Expence</mat-option>
                        <mat-option value="matter Expence">Matter Expence</mat-option>
                        <mat-option value="capital">capital</mat-option>
                        <mat-option value="pay gst">pay gst</mat-option>
                        <mat-option value="pay txt">pay txt</mat-option>
                        <mat-option value="personal">personal</mat-option>
                        <mat-option value="depreciation">depreciation</mat-option>
                        <mat-option value="other">other</mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="33.33" class="pr-4">
                    <mat-label>Matter</mat-label>
                    <input matInput readonly formControlName="Matter">                    
                      <mat-icon matSuffix >
                        <button id="mattersnew" class="matternews menu-disabled" [disabled]="hide" (click)='selectMatter()'><img  src="assets/icons/web_app/icon_matter_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                        </button>
                      </mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="33.33" class="pr-4">
                      <mat-label>Amount Inc GST</mat-label>
                      <input matInput type="number" formControlName="AmountIncGST">
                  </mat-form-field>
               </div>
               <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >
                  <mat-form-field class="example" fxFlex="25" class="pr-4" appearance="outline">
                      <mat-label>GST Type</mat-label>
                      <mat-select #value name="selected"  formControlName="GSTType">
                          <mat-option>1</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
                      <mat-label>GST</mat-label>
                      <input matInput type="number" formControlName="GST1">
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="25" class="pr-4" *ngIf="action !== 'edit'">
                      <mat-label>Amount Ex GST</mat-label>
                        <input matInput formControlName="AmountExGST">
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="25" class="pr-4" *ngIf="classtype=='Expence' || classtype=='matter Expence' || classtype=='depreciation' || classtype=='other'">
                      <mat-label>Expense a/c </mat-label>
                      <input matInput  formControlName="Expenseac">
                    <mat-icon matSuffix >
                      <button id="expac" class="matternews" [disabled]="expac"><img src="assets/icons/web_app/icon_accounts_small_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above"></button>
                    </mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="pr-4" fxFlex="25" *ngIf="classtype=='capital'">
                      <mat-label>Asset a/c</mat-label>
                      <input matInput  formControlName="Assetacs">
                    <mat-icon matSuffix >
                      <button id="expac" class="matternews" [disabled]="expac"><img src="assets/icons/web_app/icon_accounts_small_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above"></button>
                    </mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="25" class="pr-4" *ngIf="classtype=='pay gst'">
                      <mat-label>GST a/c</mat-label>
                      <input matInput  formControlName="Gstac">
                    <mat-icon matSuffix >
                      <button id="expac" class="matternews" [disabled]="expac"> <img src="assets/icons/web_app/icon_accounts_small_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above"></button>
                    </mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="25" class="pr-4" *ngIf="classtype=='pay txt'">
                      <mat-label>Tax a/c</mat-label>
                      <input matInput  formControlName="taxac">
                    <mat-icon matSuffix >
                      <button id="expac" class="matternews" [disabled]="expac"> <img src="assets/icons/web_app/icon_accounts_small_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above"></button>
                    </mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="25" class="pr-4" *ngIf="classtype=='personal'">
                      <mat-label>Equity a/c</mat-label>
                      <input matInput  formControlName="Equityac">
                    <mat-icon matSuffix >
                      <button id="expac" class="matternews" [disabled]="expac"> <img src="assets/icons/web_app/icon_accounts_small_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above"></button>
                    </mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="25" class="pr-4" *ngIf="action === 'edit'">
                      <mat-label>Note</mat-label>
                      <input matInput formControlName="Note">
                  </mat-form-field>
               </div>
            </form>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
       <div class="left_popup_btn">
          <button mat-raised-button color="accent" *ngIf="action === 'edit'" (click)="Addspendmoney()">Add</button>
          <button mat-raised-button color="accent" *ngIf="action === 'edit'" (click)="Editspendmoney()">Edit</button>  
          <button mat-raised-button color="accent" *ngIf="action === 'edit'" (click)="deletespendmoney()">Delete</button>
      </div>
      <div class="right_popup_btn">
        <button mat-raised-button color="accent" [disabled]="isspiner" *ngIf="action !== 'edit'"><mat-spinner *ngIf="isspiner"></mat-spinner>Add</button>
        <button mat-raised-button color="accent" [disabled]="isspiner" *ngIf="action === 'edit'"><mat-spinner *ngIf="isspiner"></mat-spinner>Update</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don`t Save</button>
      </div>
    </mat-dialog-actions>
  </div>
  <!-- </form> -->