<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="popup_main_div view_invoice_main">
    <h2 mat-dialog-title>
        View Invoice
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
      </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        <div class=" one " fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form name="invoiceDetailForm" id="invoiceDetailForm" [formGroup]="invoiceDetailForm" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" class="generalReceiptForm">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Client</mat-label>
                        <input matInput readonly placeholder="Client" formControlName="CLIENTNAME">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example" fxFlex="50" class="pr-4">
                        <mat-label>Matter</mat-label>
                        <input matInput placeholder="Matter" readonly formControlName="SHORTNAME">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" class="example" fxFlex="33" class="pr-4">
                        <mat-label>Invoice No</mat-label>
                        <input matInput placeholder="Invoice No" formControlName="INVOICECODE">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example" fxFlex="33" class="pr-4">
                        <mat-label>Invoice Date</mat-label>
                        <input (dateInput)="choosedInvoiceDate('input', $event)" (dateChange)="choosedInvoiceDate('change', $event)" matInput readonly [satDatepicker]="picker2" formControlName="INVOICEDATETEXT">
                        <sat-datepicker #picker2 [rangeMode]="true"> </sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example" fxFlex="33" class="pr-4">
                        <mat-label>Due Date</mat-label>
                        <input (dateInput)="choosedDueDate('input', $event)" (dateChange)="choosedDueDate('change', $event)" matInput readonly formControlName="DUEDATETEXT" [satDatepicker]="picker1">
                        <sat-datepicker #picker1 [rangeMode]="true"> </sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker1"></sat-datepicker-toggle>
                    </mat-form-field>
                </div>
                <div class="one">
                    <mat-tab-group>
                        <mat-tab label="Time Entries" class="time-entries">
                            <div class="example-containerdata">
                                <table mat-table #table [dataSource]="invoiceDatasor" [@animateStagger]="{value:'50'}" matSort class="mat-elevation-z8">
                                    <ng-container matColumnDef="ITEMDATE">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                        <td mat-cell *matCellDef="let row">
                                            {{row.ITEMDATE}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="FEEEARNER">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>FE</th>
                                        <td mat-cell *matCellDef="let row">
                                            {{row.FEEEARNER }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="ADDITIONALTEXT">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Text</th>
                                        <td mat-cell *matCellDef="let row">
                                            {{row.ADDITIONALTEXT }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="PRICE">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Charge</th>
                                        <td mat-cell *matCellDef="let row">
                                            {{row.PRICE | currency}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="GST">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>GST</th>
                                        <td mat-cell *matCellDef="let row">
                                            {{row.GST | currency}}
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row class="tbl_fix_header" *matHeaderRowDef="displayedColumnsTime; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsTime;" matRipple [@animate]="{value:'*',params:{y:'100%'}}"></tr>
                                    <!-- <tr mat-row [style.background]="highlightedRows == row.PERSONGUID ? selectedColore : ''" *matRowDef="let row; columns: displayedColumnsTime;" [ngClass]="highlightedRows == row.PERSONGUID ? 'row-text-colore' : ''" class="contact" (click)="editContact(row.PERSONGUID);highlightedRows = row.PERSONGUID"
                                        matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                    </tr> -->
                                </table>
                            </div>
                            <mat-paginator [pageSizeOptions]="[10, 20 ,50,100]" showFirstLastButtons></mat-paginator>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" class="example" fxFlex="100" class="pr-4">
                                    <mat-label>Comment</mat-label>
                                    <textarea matInput></textarea>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="30" class="example" class="pr-4">
                                    <mat-label>Invoice Total</mat-label>
                                    <input matInput formControlName="INVOICETOTAL">
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex="30" class="example" class="pr-4">
                                    <mat-label>GST</mat-label>
                                    <input matInput formControlName="GST">
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex="30" class="example" class="pr-4">
                                    <mat-label>Total</mat-label>
                                    <input matInput formControlName="AGENCYTOTAL">
                                </mat-form-field>
                            </div>
                        </mat-tab>
                        <mat-tab label="Receipts">
                            <div class="example-containerdata">
                                <table mat-table #table [dataSource]="ReceiptsData" [@animateStagger]="{value:'50'}" matSort class="mat-elevation-z8">
                                    <ng-container matColumnDef="RECEIPTCODE">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Receipt</th>
                                        <td mat-cell *matCellDef="let row">
                                            <p class="job-title text-truncate">
                                                {{row.RECEIPTCODE}}
                                            </p>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="RECEIPTDATE">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Received</th>
                                        <td mat-cell *matCellDef="let row">
                                            <p class="company text-truncate">
                                                {{row.RECEIPTDATE }}
                                            </p>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Type">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                                        <td mat-cell *matCellDef="let row">
                                            <p class="company text-truncate">
                                                {{row.Type }}
                                            </p>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="AMOUNT">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                                        <td mat-cell *matCellDef="let row">
                                            <p class="company text-truncate">
                                                {{row.AMOUNT | currency}}
                                            </p>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row class="tbl_fix_header" *matHeaderRowDef="displayedColumnsRecipt; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsRecipt;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                        <!-- <tr mat-row [style.background]="highlightedRows == row.PERSONGUID ? selectedColore : ''" *matRowDef="let row; columns: displayedColumnsRecipt;" [ngClass]="highlightedRows == row.PERSONGUID ? 'row-text-colore' : ''" class="contact" (click)="editContact(row.PERSONGUID);highlightedRows = row.PERSONGUID"
                                        matRipple [@animate]="{value:'*',params:{y:'100%'}}"> -->
                                    </tr>
                                </table>
                            </div>
                            <mat-paginator [pageSizeOptions]="[10, 20 ,50,100]" showFirstLastButtons></mat-paginator>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" class="example" fxFlex="59" class="pr-4">
                                    <mat-label>Invoice Total</mat-label>
                                    <input matInput name="INVOICETOTAL">
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>Outstanding</mat-label>
                                    <input name="Outstanding" matInput formControlName="AMOUNTOUTSTANDINGINCGST">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <button mat-raised-button>Write Off Outstanding Balance</button>
                            </div>
                        </mat-tab>
                        <mat-tab label="Interest Charges">
                            <div class="example-containerdata">
                                <table mat-table #table [dataSource]="IntersetChatgesData" [@animateStagger]="{value:'50'}" matSort class="mat-elevation-z8">
                                    <ng-container matColumnDef="INVOICECODE">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice</th>
                                        <td mat-cell *matCellDef="let row">
                                            {{row.INVOICECODE}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="INVOICEDATE">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                        <td mat-cell *matCellDef="let row">
                                            {{row.INVOICEDATE }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="INVOICETOTAL">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
                                        <td mat-cell *matCellDef="let row">
                                            {{row.INVOICETOTAL | currency }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="AMOUNTOUTSTANDINGEXGST">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Outstanding</th>
                                        <td mat-cell *matCellDef="let row">
                                            {{row.AMOUNTOUTSTANDINGEXGST | currency }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="COMMENT">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
                                        <td mat-cell *matCellDef="let row">
                                            {{row.COMMENT }}
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row class="tbl_fix_header" *matHeaderRowDef="displayedColumnsInterest; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsInterest;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                        <!-- <tr mat-row [style.background]="highlightedRows == row.PERSONGUID ? selectedColore : ''" *matRowDef="let row; columns: displayedColumnsInterest;" [ngClass]="highlightedRows == row.PERSONGUID ? 'row-text-colore' : ''" class="contact" (click)="editContact(row.PERSONGUID);highlightedRows = row.PERSONGUID"
                                        matRipple [@animate]="{value:'*',params:{y:'100%'}}"> -->
                                    </tr>
                                </table>
                            </div>
                            <mat-paginator [pageSizeOptions]="[10, 20 ,50,100]" showFirstLastButtons></mat-paginator>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </form>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button color="accent" (click)="SaveReceipt()" [disabled]="isspiner"><mat-spinner *ngIf="isspiner"></mat-spinner>Add</button>
        <!-- <button mat-raised-button color="accent" (click)="ondialogSaveClick()" [disabled]="isspiner" *ngIf="action === 'edit'"><mat-spinner *ngIf="isspiner"></mat-spinner>Update</button> -->
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don`t Save</button>
    </mat-dialog-actions>
</div>