<div id="AccountRecouncile" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="content" fxLayoutAlign="center">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div responsive_auto">
                <form [formGroup]="AccountRecouncile" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field class="example" appearance="outline" fxFlex="16.66">
                            <mat-label>Last Reconciled Date</mat-label>
                            <input matInput formControlName="ReconciledDate">
                        </mat-form-field>
                        <mat-form-field class="example" appearance="outline" fxFlex="16.66">
                            <mat-label>Statement Closing Bal.</mat-label>
                            <input matInput formControlName="Statement" type="number" value="$0.00">
                        </mat-form-field>
                        <mat-form-field class="example" appearance="outline" fxFlex="16.66">
                            <mat-label>Bank Statement Date</mat-label>
                            <input (dateInput)="choosedDate('input', $event)"
                                (dateChange)="choosedDateOfBank('change', $event)" matInput formControlName="Bankdate"
                                [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="example" appearance="outline" fxFlex="16.66">
                            <mat-label>Calculated Closing Bal.</mat-label>
                            <input matInput formControlName="closeBal" value="$5,994.00">
                        </mat-form-field>
                        <mat-form-field class="example" appearance="outline" fxFlex="16.66">
                            <mat-label>Last Reconciled Balance</mat-label>
                            <input matInput formControlName="LastBal" value="$5,994.00">
                        </mat-form-field>
                        <mat-form-field class="example" appearance="outline" fxFlex="16.66">
                            <mat-label>Out of Balance</mat-label>
                            <input matInput formControlName="OutBal" value="$5,994.00">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field class="example" appearance="outline" fxFlex="20">
                            <mat-label>Unpresented Deposites</mat-label>
                            <input matInput formControlName="UnDeposite" value="$0.00">
                        </mat-form-field>
                        <mat-form-field class="example" appearance="outline" fxFlex="20">
                            <mat-label>Prepared by</mat-label>
                            <input matInput formControlName="PreBy" value="Diana Parkinson">
                        </mat-form-field>
                        <mat-form-field class="example" appearance="outline" fxFlex="20">
                            <mat-label>Unbanked Cash/Chqs</mat-label>
                            <input matInput formControlName="UnbankedCase" value="$0.00">
                        </mat-form-field>
                        <mat-form-field class="example" appearance="outline" fxFlex="20">
                            <mat-label>Unpresented Withdrawals</mat-label>
                            <input matInput formControlName="UnWith" value="$0.00">
                        </mat-form-field>
                        <mat-form-field class="search" appearance="outline" fxFlex="20">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="Search" (keydown)="onSearch($event)"
                                formControlName="searchFilter">
                            <mat-icon matSuffix (click)="onSearch('Enter')">search</mat-icon>
                        </mat-form-field>
                    </div>
                    <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                       
                    </div> -->
                </form>
            </div>
            <div class="content">
                <div class="page-layout simple left-sidebar inner-sidebar">
                    <div fxLayoutAlign="center" class="content">
                        <div class="center more_tbl_clmn" fusePerfectScrollbar>
                            <div class="content">
                                <div class="btn top_right_action_billing_position">
                                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                                        <mat-icon class="secondary-text">more_vert</mat-icon>
                                    </button>
                                </div>
                                <div class="content">
                                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                                    </div>
                                    <div class="example-containerdata">
                                        <table mat-table [dataSource]="dataSource" matSort>

                                            <!-- Checkbox Column -->
                                            <ng-container matColumnDef="select">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                                        [checked]="selection.hasValue() && isAllSelected()"
                                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                        [aria-label]="checkboxLabel()">
                                                    </mat-checkbox>
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <mat-checkbox (click)="$event.stopPropagation()"
                                                        (change)="$event ? selection.toggle(row) : null"
                                                        [checked]="selection.isSelected(row)"
                                                        [aria-label]="checkboxLabel(row)">
                                                    </mat-checkbox>
                                                </td>
                                            </ng-container>


                                            <ng-container matColumnDef="Chequeno">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cheque No </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Chequeno}} </td>
                                            </ng-container>


                                            <ng-container matColumnDef="Chequetotal">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cheque Total
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Chequetotal}} </td>
                                            </ng-container>


                                            <ng-container matColumnDef="Description">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
                                            </ng-container>


                                            <ng-container matColumnDef="Withdrawals">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Withdrawals </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Withdrawals}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Deposite">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Deposite </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Deposite}} </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                            <tr [style.background]="highlightedRows == row.Chequeno ? selectedColore : ''"
                                                [ngClass]="highlightedRows == row.Chequeno ? 'row-text-colore' : ''"
                                                highlightedRows=row.Chequeno mat-row
                                                *matRowDef="let row; columns: displayedColumns;"
                                                (click)="clickAc(row.Chequeno);highlightedRows = row.Chequeno "
                                                (click)="selection.toggle(row)" matRipple>
                                            </tr>
                                        </table>
                                        <!-- </div> -->
                                        <mat-paginator [pageSizeOptions]="[10, 20,50,100]" showFirstLastButtons>
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>