<button mat-raised-button type="button" color="primary" id="refreshRecouncilItem" (click)="refreshRecouncilItem();">Refresh</button>

<div class="nameCount">
    {{this.chartAccountDetail.name}}
</div>
<div id="AccountRecouncile" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
      
    <div class="content" fxLayoutAlign="center">
           
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div responsive_auto">
              
                <form [formGroup]="AccountRecouncile" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field class="example" appearance="outline" fxFlex="16.66">
                            <mat-label>Last Reconciled Date</mat-label>
                            <input matInput formControlName="LASTRECONCILEDDATE" readonly>
                        </mat-form-field>

                        <mat-form-field class="example" appearance="outline" fxFlex="16.66">
                            <mat-label>Last Reconciled Balance</mat-label>
                            <input matInput formControlName="LASTRECONCILEDBALANCE" readonly class="sideText">
                            <span class="currency_sign" matPrefix>$&nbsp;</span>
                        </mat-form-field>

                        <mat-form-field class="example" appearance="outline" fxFlex="16.66">
                            <mat-label>Bank Statement Date</mat-label>
                            <input (dateInput)="BankchoosedDate('input', $event)" (dateChange)="BankchoosedDate('change', $event)" matInput formControlName="Bankdate" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="example" appearance="outline" fxFlex="16.66">
                            <mat-label>Statement Closing Bal.</mat-label>
                            <input (focusout)="statmentClosingBal()" matInput formControlName="statementClosingBalance" type="number" class="sideText">
                            <span class="currency_sign" matPrefix>$&nbsp;</span>
                        </mat-form-field>

                        <mat-form-field class="example" appearance="outline" fxFlex="16.66">
                            <mat-label>Calculated Closing Balance</mat-label>
                            <input  matInput formControlName="calculatedClosingBalance" readonly class="sideText">
                            <span class="currency_sign" matPrefix>$&nbsp;</span>
                        </mat-form-field>

                        <mat-form-field class="example" appearance="outline" fxFlex="16.66">
                            <mat-label>Out of Balance</mat-label>
                            <input matInput formControlName="OutBal" class="sideText">
                            <span class="currency_sign" matPrefix>$&nbsp;</span>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field class="example" appearance="outline" fxFlex="20">
                            <mat-label>Unpresented Deposits</mat-label>
                            <input readonly matInput formControlName="UnDeposite" class="sideText">
                            <span class="currency_sign" matPrefix>$&nbsp;</span>
                        </mat-form-field>
                        <mat-form-field class="example" appearance="outline" fxFlex="20">
                            <mat-label>Unpresented Withdrawals</mat-label>
                            <input readonly matInput formControlName="UnWith" class="sideText">
                            <span class="currency_sign" matPrefix>$&nbsp;</span>
                        </mat-form-field>
                        <mat-form-field class="example" appearance="outline" fxFlex="20">
                            <mat-label>Prepared by</mat-label>
                            <input matInput formControlName="PreBy" readonly>
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div class="content">
                <div class="page-layout simple left-sidebar inner-sidebar">
                    <div fxLayoutAlign="center" class="content">
                        <div class="center more_tbl_clmn" fusePerfectScrollbar>
                            <div class="content">
                                <div class="btn top_right_action_billing_position">
                                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                                        <mat-icon class="secondary-text">more_vert</mat-icon>
                                    </button>
                                </div>
                                <div class="content">
                                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                                    </div>
                                    <div class="example-containerdata">
                                        <table mat-table [dataSource]="ReconciliationData" matSort
                                            [@animateStagger]="{value:'50'}">
                                            <ng-container *ngFor="let item of displayedColumns;"
                                                matColumnDef="{{item}}">
                                                <span *ngIf="item=='select'">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                        <mat-checkbox
                                                            (change)="$event ? masterToggle() : null;helloFunction();"
                                                            [checked]="selection.hasValue() && isAllSelected()"
                                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                            [aria-label]="checkboxLabel()">
                                                        </mat-checkbox>
                                                    </th>
                                                    <td mat-cell *matCellDef="let row">
                                                        <mat-checkbox (click)="$event.stopPropagation();"
                                                            (change)="$event ? selection.toggle(row) : null;helloFunction();"
                                                            [checked]="selection.isSelected(row)"
                                                            [aria-label]="checkboxLabel(row)">
                                                        </mat-checkbox>
                                                    </td>
                                                </span>
                                                <span *ngIf="item!='select'">
                                                    <th mat-header-cell *matHeaderCellDef class="header_title"
                                                        mat-sort-header> {{ tempColobj[item].DESCRIPTION }}</th>
                                                    <td mat-cell *matCellDef="let row">
                                                        <span *ngIf="row[item]">{{row[item]}}</span>
                                                    </td>
                                                </span>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple
                                                [@animate]="{value:'*',params:{y:'100%'}}">
                                            </tr>
                                        </table>
                                    </div>
                                    <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize"
                                        (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>