<div class=" one " fxLayout="column" [formGroup]="matterdetailForm">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" class="example" fxFlex="33" class="pr-4">
            <mat-label>Matter Type</mat-label>
            <mat-select name="MatterType" formControlName="MATTERTYPE">
                <mat-option *ngFor="let matter of MatterType" value="{{matter.LOOKUPGUID}}">{{matter.LOOKUPFULLVALUE}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="33" class="pr-4">
            <mat-label>Client Source</mat-label>
            <mat-select formControlName="CLIENTSOURCE">
                <mat-option *ngFor="let Client of ClientSource" value="{{Client.LOOKUPGUID}}">{{Client.LOOKUPFULLVALUE}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="33" class="pr-4">
            <mat-label>Filed Of Law</mat-label>
            <mat-select formControlName="FIELDOFLAW">
                <mat-option *ngFor="let Filed of FiledOfLaw" value="{{Filed.LOOKUPGUID}}">{{Filed.LOOKUPFULLVALUE}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" class="example" fxFlex="40" class="pr-4">
            <mat-label>Industry </mat-label>
            <mat-select formControlName="INDUSTRY">
                <mat-option *ngFor="let Ins of Industry" value="{{Ins.LOOKUPGUID}}">{{Ins.LOOKUPFULLVALUE}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="60" class="pr-4">
            <mat-label>Referrer</mat-label>
            <input matInput readonly formControlName="REFERRERGUID">
            <mat-icon matSuffix (click)='ContactMatter()'>
                <img src="assets/icons/web_app/icon_contact_new_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
            </mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" class="example" fxFlex="50" class="pr-4">
            <mat-label>Archive No </mat-label>
            <input matInput formControlName="ARCHIVENO">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="50" class="pr-4">
            <mat-label>Archive Date</mat-label>
            <input (dateInput)="ArchiveDate('input', $event)" formControlName="ARCHIVEDATE" (dateChange)="ArchiveDate('change', $event)" matInput [matDatepicker]="picker4">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field>
    </div>
</div>