<div class=" one " fxLayout="column" [formGroup]="matterdetailForm">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
       
            <mat-form-field appearance="outline" fxFlex="33" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.MATTERTYPE,'has-warning':errorWarningData.Warning?.MATTERTYPE}">
                    <mat-label>Matter Type</mat-label>
                    <input type="text" placeholder="Matter Type"  matInput name="MATTERTYPE" formControlName="MATTERTYPE" [matAutocomplete]="auto1">
                    <mat-autocomplete #auto1="matAutocomplete">
                        <mat-option *ngFor="let val of MatterType" value="{{val.LOOKUPFULLVALUE}}">
                            {{val.LOOKUPFULLVALUE}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
<!-- 
        <mat-form-field appearance="outline" class="example" fxFlex="33" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.CLIENTSOURCE,'has-warning':errorWarningData.Warning?.CLIENTSOURCE}">
            <mat-label>Client Source</mat-label>
            <mat-select formControlName="CLIENTSOURCE">
                <mat-option *ngFor="let Client of ClientSource" value="{{Client.LOOKUPFULLVALUE}}">{{Client.LOOKUPFULLVALUE}}</mat-option>
            </mat-select>
        </mat-form-field> -->



        <mat-form-field appearance="outline" fxFlex="33" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.CLIENTSOURCE,'has-warning':errorWarningData.Warning?.CLIENTSOURCE}">
                <mat-label>Client Source</mat-label>
                <input type="text" placeholder="Client Source"  matInput name="CLIENTSOURCE" formControlName="CLIENTSOURCE" [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete">
                    <mat-option *ngFor="let val of ClientSource" value="{{val.LOOKUPFULLVALUE}}">
                        {{val.LOOKUPFULLVALUE}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="33" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.FIELDOFLAW,'has-warning':errorWarningData.Warning?.FIELDOFLAW}">
            <mat-label>Field Of Law</mat-label>
            <input type="text" placeholder="Field Of Law" aria-label="Number" matInput name="FIELDOFLAW" formControlName="FIELDOFLAW" [matAutocomplete]="auto3">
            <mat-autocomplete #auto3="matAutocomplete">
                <mat-option *ngFor="let val of FiledOfLaw" value="{{val.LOOKUPFULLVALUE}}">
                    {{val.LOOKUPFULLVALUE}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        

        <mat-form-field appearance="outline" fxFlex="33" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.FIELDOFLAW,'has-warning':errorWarningData.Warning?.FIELDOFLAW}">
                <mat-label>Industry</mat-label>
                <input type="text" placeholder="Industry" matInput name="INDUSTRY" formControlName="INDUSTRY" [matAutocomplete]="auto4">
                <mat-autocomplete #auto4="matAutocomplete">
                    <mat-option *ngFor="let val of Industry" value="{{val.LOOKUPFULLVALUE}}">
                        {{val.LOOKUPFULLVALUE}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

        <mat-form-field appearance="outline" class="example" fxFlex="60" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.REFERRERGUID,'has-warning':errorWarningData.Warning?.REFERRERGUID}">
            <mat-label>Referrer</mat-label>
            <input matInput readonly formControlName="REFERRERGUIDTEXT">
            <mat-icon matSuffix (click)='ContactMatter()'>
                <img src="assets/icons/web_app/icon_contact_new_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
            </mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" class="example" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.ARCHIVENO,'has-warning':errorWarningData.Warning?.ARCHIVENO}">
            <mat-label>Archive No </mat-label>
            <input matInput formControlName="ARCHIVENO">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.ARCHIVEDATE,'has-warning':errorWarningData.Warning?.ARCHIVEDATE}">
            <mat-label>Archive Date</mat-label>
            <input (dateInput)="ArchiveDate('input', $event)" formControlName="ARCHIVEDATETEXT" (dateChange)="ArchiveDate('change', $event)" matInput [matDatepicker]="picker4">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field>
    </div>
</div>