<!-- [formGroup]="matterdetailForm" -->
<div class=" one " fxLayout="column" [formGroup]="matterdetailForm">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" [ngClass]="{'has-error':errorWarningData.Error?.FirmGuid,'has-warning':errorWarningData.Warning?.FirmGuid}">
            <mat-label>Client</mat-label>
            <input matInput formControlName="Clientmattertext">
            <mat-icon matSuffix (click)='ContactMatter()'>
                <img src="assets/icons/web_app/icon_contact_new_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
            </mat-icon>
        </mat-form-field>
    </div>
    <div fxFlex="100">
        correspondents and parties
        <button mat-raised-button color="accent" (click)="Addcorres_party()" [disabled]="isspiner"><mat-spinner *ngIf="isspiner"></mat-spinner>add corres./Party</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-card>
            <div class="customer mb-32" *ngIf="isEdit">
                <table class="simple">
                    <tr *ngFor="let item of CorrespondEdit">
                        <td>{{item.TYPENAME}}</td>
                        <td>{{item.CONTACTNAME}}</td>
                        <td>
                            <mat-icon (click)="editElement(item)" class="pr-4">edit</mat-icon>
                            <mat-icon (click)="deleteElement(item)" class="pr-4">delete</mat-icon>
                        </td>
                    </tr>
                    <br>
                </table>
            </div>
            <div class="customer mb-32" *ngIf="!isEdit">
                <table class="simple">
                    <tr *ngFor="let item of Correspond">
                        <td>{{item.type}}</td>
                        <td>{{item.Text}}</td>
                        <!-- <td>
                            <mat-icon (click)="editElement()" class="pr-4">edit</mat-icon>
                            <mat-icon (click)="deleteElement()" class="pr-4">delete</mat-icon>
                        </td> -->
                    </tr>
                    <br>
                </table>
            </div>
        </mat-card>
    </div>
</div>