<div class="one" [formGroup]="SettingForm" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field  appearance="outline" fxFlex="60" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.ABN,'has-warning':errorWarningData.Warning?.ABN}">
                    <mat-label>ABN</mat-label>
                    <input name="ABN" formControlName="ABN" matInput>
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                </mat-form-field>
                <!-- <mat-checkbox class="check_child" name="KNOWNBYOTHERNAME">Defult Rate
                        </mat-checkbox> -->
            </div>
            <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-checkbox class="" name="KNOWNBYOTHERNAME">Defult Rate
                </mat-checkbox>
           </div> -->
           Defult Rate
             <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-radio-group name="GSTTYPE" formControlName="GSTTYPE" aria-label="Select an option" fxFlex="33" class="pr-4">
                            <mat-radio-button value="0">GST Exclusive</mat-radio-button>
                    </mat-radio-group>
                    <mat-radio-group name="GSTTYPE" formControlName="GSTTYPE"  aria-label="Select an option" fxFlex="34" class="pr-4">
                            <mat-radio-button value="1">GST Inclusive</mat-radio-button>
                    </mat-radio-group>
                    <mat-radio-group name="GSTTYPE" formControlName="GSTTYPE" aria-label="Select an option" fxFlex="33" class="pr-4">
                            <mat-radio-button value="2">GST Free</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex="33" class="pr-4"  [ngClass]="{'has-error':errorWarningData.Error?.HOURLYBASERATE,'has-warning':errorWarningData.Warning?.HOURLYBASERATE}">
                                <mat-label>Hourly Rate</mat-label>
                                <input type="number" name="HOURLYBASERATE" formControlName="HOURLYBASERATE"   matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="34" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.DAILYBASERATE,'has-warning':errorWarningData.Warning?.DAILYBASERATE}">
                                <mat-label>Daily Rate</mat-label>
                                <input type="number" name="DAILYBASERATE" formControlName="DAILYBASERATE" matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="33" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.UNITSPERHOUR,'has-warning':errorWarningData.Warning?.UNITSPERHOUR}">
                                        <mat-label>Unit Size</mat-label>
                                <mat-select name="UNITSPERHOUR" formControlName="UNITSPERHOUR" placeholder="Unit Size">
                                        <mat-option *ngFor="let val of getDropDownValue.UNITSPERHOUR" value="{{val.VALUE}}">{{val.DESCRIPTION}}</mat-option>
                                       
                                      </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4"[ngClass]="{'has-error':errorWarningData.Error?.DUEDATEOFFSET,'has-warning':errorWarningData.Warning?.DUEDATEOFFSET}">
                                <mat-label>Due Date Offset</mat-label>
                                <input type="number" name="DUEDATEOFFSET" formControlName="DUEDATEOFFSET" matInput>
                                <mat-icon matSuffix class="secondary-text"></mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.OFFICECHEQUEFORMAT,'has-warning':errorWarningData.Warning?.OFFICECHEQUEFORMAT}">
                                        <mat-label>Office Cheque Formate</mat-label>
                                    <mat-select name="OFFICECHEQUEFORMAT" formControlName="OFFICECHEQUEFORMAT" placeholder="Office Cheque Formate">
                                            <mat-option *ngFor="let val of getDropDownValue.OFFICECHEQUEFORMAT" value="{{val.VALUE}}">{{val.DESCRIPTION}}</mat-option>
                                          
                                          </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" class="check" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <mat-checkbox name="VENDORISLIABLEFORSETTLEMENTDATE" formControlName="VENDORISLIABLEFORSETTLEMENTDATE" class="check_1" name="KNOWNBYOTHERNAME">Vendor Is Liable For Settlement Day
                                    </mat-checkbox>
                                  
                            </div>
                            <div fxLayout="row"  fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.RATEOVERRIDESEQUENCE,'has-warning':errorWarningData.Warning?.RATEOVERRIDESEQUENCE}">
                                                <mat-label>Time Entry Rate Calculation Sequence</mat-label>
                                    <mat-select name="RATEOVERRIDESEQUENCE" formControlName="RATEOVERRIDESEQUENCE" placeholder="Time Entry Rate Calculation Sequence">
                                            <mat-option value="0">Matter -> Contact -> Fee Earner </mat-option>
                                            <mat-option value="1">Matter -> Matter Class-> Fee Earner </mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>



                        </div>