app-business {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    border-right: 1px solid;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .no-messages-text {
        font-size: 24px;
        font-weight: 300;
    }

    .app-business {
        position: relative;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}
.one {
    margin-left: 7px; 
    margin-top: 15px;
}
.card {
    // margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
mat-radio-button#mat-radio-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.check_1 {
    width: 50% !important ;
}
.check_2 {
    width: 50% !important ;
}
mat-radio-group.pr-4.mat-radio-group {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
mat-checkbox#mat-checkbox-2 {
    margin-bottom: 10px !important;
}

