<div class="popup_main_div matter_contact_popup_main select_metter_main_div">
    <h2 cdkDragHandle mat-dialog-title>Select Matter Contact
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
      </button>
    </h2>
    <div mat-dialog-content class="mat-typography">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="one select_matter_contact_main_div">
            <div class="example-containerdata">
                <table mat-table #table [dataSource]="matterContactData" [@animateStagger]="{value:'50'}">
                    <ng-container matColumnDef="CONTACTNAME">
                        <th mat-header-cell *matHeaderCellDef>Contact</th>
                        <td mat-cell *matCellDef="let row">
                            <p class="job-title text-truncate">
                                {{row.CONTACTNAME }}
                            </p>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="ORDER">
                        <th mat-header-cell *matHeaderCellDef>#</th>
                        <td mat-cell *matCellDef="let row">
                            <p class="job-title text-truncate">
                                {{row.ORDER }}
                            </p>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="TYPENAME">
                        <th mat-header-cell *matHeaderCellDef> Type</th>
                        <td mat-cell *matCellDef="let row">
                            <p class="company text-truncate">
                                {{row.TYPENAME}}
                            </p>
                        </td>
                    </ng-container>
                    <tr mat-header-row class="tbl_fix_header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr [style.background]="highlightedRows == row.MATTERCONTACTGUID ? selectedColore : ''" [ngClass]="highlightedRows == row.MATTERCONTACTGUID ? 'row-text-colore' : ''" highlightedRows=row.MATTERCONTACTGUID mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="currentMatterContactData=row;highlightedRows = row.MATTERCONTACTGUID " matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                    </tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20 ,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr contact_select_footer">
        <div class="left_popup_btn">
            <button mat-raised-button color="accent">Edit</button>
        </div>
        <button mat-raised-button [mat-dialog-close]="currentMatterContactData" color="accent">Select</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
    </mat-dialog-actions>
</div>>