<div class=" one "  fxLayout="column"> 
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Title Ref(s) - Separate with commas </mat-label>
          <input matInput>         
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <div fxFlex="25">
            <mat-label>Lots(s)</mat-label>
        </div>
        <div fxFlex="25">
            <mat-label>Plan Type (s)</mat-label>
        </div>
        <div fxFlex="25">
            <mat-label>Plan No(s)</mat-label>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">            
            <input  matInput name="Lots">              
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">            
            <input  matInput name="PlanType">              
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">            
            <input  matInput name="PlanNo">              
        </mat-form-field>
        <div fxFlex="25" class="Split-Title">
          <button mat-raised-button>Split Title Refs</button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">            
            <input  matInput name="Lots">              
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">            
            <input  matInput name="PlanType">              
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">           
            <input  matInput name="PlanNo">              
        </mat-form-field>        
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">            
            <input  matInput name="Lots">              
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">            
            <input  matInput name="PlanType">              
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">           
            <input  matInput name="PlanNo">              
        </mat-form-field>        
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">            
            <input  matInput name="Lots">              
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">            
            <input  matInput name="PlanType">              
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">           
            <input  matInput name="PlanNo">              
        </mat-form-field>        
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">            
            <input  matInput name="Lots">              
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">            
            <input  matInput name="PlanType">              
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">           
            <input  matInput name="PlanNo">              
        </mat-form-field>        
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">
            <mat-label>Section</mat-label>
            <input  matInput name="Section">              
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">
            <mat-label>Block</mat-label>
            <input  matInput name="Block">              
        </mat-form-field>
        <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4">
            <mat-label>Stage No</mat-label>
            <input  matInput name="StageNo">              
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
            <mat-label>Redevelopment No</mat-label>
            <input name="RedevelopmentNo" matInput>
        </mat-form-field>
    </div>
</div>