<div id="matters_detail_div" class="page-layout carded fullwidth">
    <div class="top-bg accent"></div>
    <!-- CENTER -->
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-16" [routerLink]="'/matters'">
                  <mat-icon>arrow_back</mat-icon>
                 </button>
                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        File-Notes Detail for Matter({{currentMatter?.SHORTNAME}})
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Client</span>
                        <span> {{currentMatter?.MATTER}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="filenotes" class="page-layout simple left-sidebar inner-sidebar">
            <div fxLayoutAlign="center" class="content">
                <div class="center more_tbl_clmn" fusePerfectScrollbar>
                    <div class="content">
                        <div class="btn top_right_action_billing_position">
                            <button mat-icon-button (click)="openDialog()" aria-label="More">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>
                        </div>
                        <div class="content">
                            <div class="example-loading-shade" *ngIf="isLoadingResults">
                                <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                            </div>
                            <div class="example-containerdata">
                                <table mat-table #table [dataSource]="filenotes_table" [@animateStagger]="{value:'50'}">
                                    <ng-container matColumnDef="FILENOTEGUID">
                                        <th mat-header-cell class="header_title" *matHeaderCellDef>{{ tempColobj['FILENOTEGUID'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.FILENOTEGUID}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="MATTERGUID">
                                        <th mat-header-cell class="header_title" *matHeaderCellDef>{{ tempColobj['MATTERGUID'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.MATTERGUID}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="USERNAME">
                                        <th mat-header-cell class="header_title" *matHeaderCellDef>{{ tempColobj['USERNAME'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.USERNAME}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="DATE">
                                        <th mat-header-cell class="header_title" *matHeaderCellDef>{{ tempColobj['DATE'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.DATE}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="TIME">
                                        <th mat-header-cell class="header_title" *matHeaderCellDef>{{ tempColobj['TIME'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.TIME}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="NOTE">
                                        <th mat-header-cell class="header_title" *matHeaderCellDef>{{ tempColobj['NOTE'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.FILENOTES}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="SHORTNAME">
                                        <th mat-header-cell class="header_title" *matHeaderCellDef>{{ tempColobj['SHORTNAME'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.SHORTNAME}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="CONTACTNAME">
                                        <th mat-header-cell class="header_title" *matHeaderCellDef>{{ tempColobj['CONTACTNAME'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.CONTACTNAME}}</td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr *matRowDef="let row; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}"></tr>
                                </table>
                            </div>
                        </div>
                        <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>