<ng-container *ngIf="!item.hidden">

    <!-- item.URL -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="item.URL && !item.externalURL && !item.function" [routerLink]="[item.URL]" [routerLinkActive]="['active', 'accent']" [routerLinkActiveOptions]="{exact: item.exactMatch || false}" [target]="item.openInNewTab ? '_blank' : '_self'">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- item.externalURL -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="item.URL && item.externalURL && !item.function" [href]="item.URL" [target]="item.openInNewTab ? '_blank' : '_self'">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- item.function -->
    <span class="nav-link" [ngClass]="item.classes" *ngIf="!item.URL && item.function" (click)="item.function()">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </span>

    <!-- item.URL && item.function -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="item.URL && !item.externalURL && item.function" (click)="item.function()" [routerLink]="[item.URL]" [routerLinkActive]="['active', 'accent']" [routerLinkActiveOptions]="{exact: item.exactMatch || false}"
        [target]="item.openInNewTab ? '_blank' : '_self'">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- item.externalURL && item.function -->
    <a class="nav-link" [ngClass]="item.classes" *ngIf="item.URL && item.externalURL && item.function" (click)="item.function()" [href]="item.URL" [target]="item.openInNewTab ? '_blank' : '_self'">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <ng-template #itemContent>
        <!-- <mat-icon class="nav-link-icon" *ngIf="item.icon">{{item.icon}}</mat-icon> -->
        <mat-icon class="nav-link-icon" *ngIf="item.icon">
            <img *ngIf="item.TITLE=='Matters'" src="assets/icons/web_app/icon_matter_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
            <img *ngIf="item.TITLE=='Contact'" src="assets/icons/web_app/icon_contact_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
            <img *ngIf="item.TITLE=='Time entries'" src="assets/icons/web_app/icon_time_cost_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
            <img *ngIf="item.TITLE=='Diary'" src="assets/icons/web_app/icon_diary_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
            <img *ngIf="item.TITLE=='Invoice'" src="assets/icons/web_app/icon_invoice_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
            <img *ngIf="item.TITLE=='Spend money'" src="assets/icons/web_app/icon_expenses_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
            <img *ngIf="item.TITLE=='Receive money'" src="assets/icons/web_app/icon_receipt_small_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
            <img *ngIf="item.TITLE=='Generate document'" src="assets/icons/web_app/icon_letters_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
        </mat-icon>
        <span class="nav-link-title">{{item.TITLE}}<mat-icon class="nav-link-icon nav-link-icon-div" (click)="onChange(item.TITLE)">delete_forever</mat-icon></span>
        <span class="nav-link-badge" *ngIf="item.badge" [translate]="item.badge.translate" [ngStyle]="{'background-color': item.badge.bg,'color': item.badge.fg}">
            {{item.badge.TITLE}} 
        </span>
    </ng-template>
</ng-container>