:host {
    .folded:not(.unfolded) & {
        .nav-link {
            >.nav-link-title,
            >.nav-link-badge {
                opacity: 0;
                transition: opacity 200ms ease;
            }
        }
    }
}

.nav-link-icon-div {
    color: #fff;
    cursor: pointer;
    margin-right: 0 !important;
    float: right;
}