<div class="popup_main_div corres_popup_main select_metter_main_div" cdkDrag>
    <h2 cdkDragHandle mat-dialog-title> {{whichTypeTemplate}} Generated
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </h2>


    <div mat-dialog-content class="mat-typography" *ngIf="whichTypeTemplate == 'Template'">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="popup_body document_generated_main_div">

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="document_generated_main_first">
                <div class="middle" fxLayoutAlign="start center">The {{filefolder_Name}} has been produced.</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="button"
                class="document_generated_main_last">
                <a href="{{this.filefolderUrl}}" target="_blank">
                    <button mat-raised-button mat-dialog-close color="accent">Click here to view it</button>
                </a>
            </div>

        </div>
    </div>


    <div mat-dialog-content class="mat-typography">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="popup_body document_generated_main_div" *ngIf="whichTypeTemplate == 'Email'">

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="document_generated_main_first">
                <div class="middle" fxLayoutAlign="start center">The {{filefolder_Name}} has been produced.</div>
            </div>
            <div  *ngFor="let val of PacksEmail; let index = index"  fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="button"
                class="document_generated_main_last">
                <a target="_blank">
                    <button mat-raised-button (click)="SendMain(val)" color="accent">Click here to view it</button>
                </a>
            </div>

        </div>
    </div>

    <div mat-dialog-content class="mat-typography">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="popup_body document_generated_main_div"  *ngIf="whichTypeTemplate == 'Pack'">
                
                <!-- <span  fxLayoutAlign="start center">LOADING.......</span> -->

            <div *ngFor="let val of PacksDocument; let index = index" fxLayout="row" fxLayoutAlign="start center"
                fxFlex="1 0 auto" class="document_generated_main_first">
                <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto" class="button"
                    class="document_generated_main_last">
                    <div class="middle" fxLayoutAlign="start start"><span>{{index}} Document has been produced.</span>
                    </div>
                    <a href="{{val.FILENAME}}" target="_blank">
                        <button mat-raised-button color="accent">Click here to view it</button>
                    </a>
                </div>
            </div>
            <div *ngFor="let val of PacksEmail; let index = index" fxLayout="row" fxLayoutAlign="start center"
                fxFlex="1 0 auto" class="document_generated_main_first">
                <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto" class="button"
                    class="document_generated_main_last">
                    <div class="middle" fxLayoutAlign="start start"><span>{{index}} Email has been produced.</span>
                    </div>
                    <a target="_blank">
                        <button mat-raised-button (click)="SendMain(val)" color="accent">Click here to view it</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <mat-dialog-actions align="end" class="popup_ftr">
        <div class="right_popup_btn">
            <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
        </div>
    </mat-dialog-actions>
</div>