<div class="popup_main_div corres_popup_main select_metter_main_div" cdkDrag>
    <h2 cdkDragHandle mat-dialog-title> {{Title}} Generated
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog"><mat-icon>close</mat-icon></button>
    </h2>


    <div mat-dialog-content class="mat-typography">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="popup_body">

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div fxLayoutAlign="start center">The {{filefolder_Name}} has been produced.</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="button">
                <a href="{{this.base_url}}{{this.filefolderUrl}}" target="_blank">
                    <button mat-raised-button mat-dialog-close color="accent">Click here to view it</button>
                </a>
            </div>

        </div>
    </div>

    <mat-dialog-actions align="end" class="popup_ftr">
        <div class="right_popup_btn">
            <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
        </div>
    </mat-dialog-actions>
</div>