<div class=" one " fxLayout="column" [formGroup]="matterdetailForm">
    <label id="example-radio-group-label">GST Type</label>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 40px">
        <mat-radio-group aria-label="Billing Method" formControlName="GSTTYPE" (change)="radioChange($event.val)" class="example" fxFlex="100" class="pr-4">
            <mat-radio-button value="GST Exclusive">GST Exclusive</mat-radio-button>
            <mat-radio-button value="GST Inclusive">GST Inclusive </mat-radio-button>
            <mat-radio-button value="GST Free">GST Free</mat-radio-button>
            <mat-radio-button value="Export">Export</mat-radio-button>
        </mat-radio-group>
        <mat-checkbox formControlName="ONCHARGEDISBURSEMENTGST" [disabled]="isDisabled" class="gst_charge">Charge Disbursement GST</mat-checkbox>
    </div>
    <label id="example-radio-group-label">Billing Method</label>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 40px">
        <mat-radio-group fxFlex="100" class="pr-4" formControlName="BILLINGMETHOD">
            <mat-radio-button value="Time Costed">Time Costed</mat-radio-button>
            <mat-radio-button value="Fixed">Fixed </mat-radio-button>
            <mat-radio-button value="Pro Bono">Pro Bono</mat-radio-button>
            <mat-radio-button value="Speculative">Speculative</mat-radio-button>
        </mat-radio-group>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="59" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.RATEPERHOUR,'has-warning':errorWarningData.Warning?.RATEPERHOUR}">
            <mat-label>Per Hours</mat-label>
            <input  class="sideText" matInput type="number" class="sideText" formControlName="RATEPERHOUR">
            <span class="currency_sign" matPrefix>$&nbsp;</span>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.RATEPERDAY,'has-warning':errorWarningData.Warning?.RATEPERDAY}">
            <mat-label>Per Day</mat-label>
            <input  class="sideText" name="PerDay" class="sideText" matInput type="number" formControlName="RATEPERDAY">
            <span class="currency_sign" matPrefix>$&nbsp;</span>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" class="example" fxFlex="59" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.FIXEDRATEEXGST,'has-warning':errorWarningData.Warning?.FIXEDRATEEXGST}">
            <mat-label>Fixed Price</mat-label>
            <input class="sideText" numeric numericType="decimal" matInput name="FixedPrice" type="number" (keyup)="calcPE()" formControlName="FIXEDRATEEXGST" [(ngModel)]="FIXEDRATEEXGST">
            <span class="currency_sign" matPrefix>$&nbsp;</span>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.FIXEDRATEINCGST,'has-warning':errorWarningData.Warning?.FIXEDRATEINCGST}">
            <mat-label>Ex-GST</mat-label>
            <input class="sideText" numeric numericType="decimal" name="Ex-GST" matInput type="number" formControlName="FIXEDRATEINCGST" (keyup)="calcPI()" [(ngModel)]="FIXEDRATEINCGST">
            <span class="currency_sign" matPrefix>$&nbsp;</span>
            <mat-icon matSuffix class="secondary-text"></mat-icon>
        </mat-form-field>
    </div>
</div>