
  .one{
    
    margin-top: 20px;   
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.btn{
    margin-top: 20px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.Check_1 {
  opacity: 0.7;
}
.sideText{ text-align: right; }