<div class=" one " fxLayout="column" [formGroup]="matterdetailForm">
    <label id="example-radio-group-label">Billing Method</label>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 40px">
        <mat-radio-group aria-label="Billing Method" formControlName="GSTTYPE" [(ngModel)]="GSTTYPEVALI" class="example" fxFlex="100" class="pr-4">
            <mat-radio-button value="Gst Exclusive">GST Exclusive</mat-radio-button>
            <mat-radio-button value="Gst Inclusive">GST Inclusive </mat-radio-button>
            <mat-radio-button value="Gst Free">GST Free</mat-radio-button>
            <mat-radio-button value="Export">Export</mat-radio-button>
        </mat-radio-group>
        <mat-checkbox formControlName="ONCHARGEDISBURSEMENTGST" class="gst_charge">Charge Disbursement GST</mat-checkbox>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 40px">
        <mat-radio-group fxFlex="100" class="pr-4" [(ngModel)]="BILLINGMETHODVALI" formControlName="BILLINGMETHOD">
            <mat-radio-button value="Time Costed">Time Costed</mat-radio-button>
            <mat-radio-button value="Fixed">Fixed </mat-radio-button>
            <mat-radio-button value="Pro Bono">Pro Bono</mat-radio-button>
            <mat-radio-button value="Speculative">Speculative</mat-radio-button>
        </mat-radio-group>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="59" class="pr-4">
            <mat-label>Per Hours</mat-label>
            <input matInput type="number" formControlName="RATEPERHOUR">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Per Day</mat-label>
            <input name="PerDay" matInput type="number" formControlName="RATEPERDAY">
            <mat-icon matSuffix class="secondary-text"></mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" class="example" fxFlex="59" class="pr-4">
            <mat-label>Fixed Price</mat-label>
            <input matInput name="FixedPrice" type="number" formControlName="FIXEDRATEEXGST">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Ex-GST</mat-label>
            <input name="Ex-GST" matInput type="number" formControlName="FIXEDRATEINCGST">
            <mat-icon matSuffix class="secondary-text"></mat-icon>
        </mat-form-field>
    </div>
</div>