
<div id="account" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
        <div class="content" fxLayoutAlign="center">
            <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
                <div class="matter-serach-div sticky_search_div responsive_auto">
                    <form >
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field fxFlex="33" class="example" appearance="outline">
                                        <mat-label>Status</mat-label>
                                        <mat-select  >
                                            <mat-option value="All">All</mat-option>
                                            <mat-option value="Review Soon ">Review Soon </mat-option>
                                            <mat-option value="Checked In ">Checked In </mat-option>
                                            <mat-option value="Checked In/Returned">Checked In/Returned</mat-option>
                                            <mat-option value="Borrowed">Borrowed</mat-option>
                                            <mat-option value="Returned">Returned</mat-option>
                                            <mat-option value="Checked Out ">Checked Out </mat-option>
                                            <mat-option value="Not Checked Out">Not Checked Out</mat-option>
                                            <mat-option value="Review Soon ">Review Soon </mat-option>
                                            <mat-option value="Archived">Archived</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-checkbox class="check_top" (change)="CheckboxChecxed()" >All Matters </mat-checkbox>
    
                                <mat-form-field class="example" fxFlex="34"  appearance="outline" >
                                        <mat-label>Matter</mat-label>
                                        <input readonly   matInput>
                                        <mat-icon class="set_icon" matSuffix (click)='SelectMatter()'  >
                                                <img class="menu-disabled" src="assets/icons/web_app/icon_matter_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                                            </mat-icon>
                                    </mat-form-field>
                                    
                                   
                                    
                                    <mat-form-field class="example" fxFlex="34"  appearance="outline" >
                                            <mat-label>Client</mat-label>
                                            <input readonly   matInput>
                                            <mat-icon class="set_icon" matSuffix (click)='SelectContactMatter()'  >
                                                    <img class="menu-disabled" src="assets/icons/web_app/icon_matter_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                                                </mat-icon>
                                        </mat-form-field>
                                  
                        </div>  
                        <!-- <button mat-raised-button type="button" color="primary" id="refreshAccount" (click)="loadData(lastFilter);">Refresh</button> -->
                    </form>
                </div>
                <div class="content">
                    <div class="page-layout simple left-sidebar inner-sidebar">
                        <div fxLayoutAlign="center" class="content">
                            <div class="center more_tbl_clmn" fusePerfectScrollbar>
                                <div class="content">
                                    <div class="btn top_right_action_billing_position">
                                        <button mat-icon-button  aria-label="More">
                                            <mat-icon class="secondary-text">more_vert</mat-icon>
                                        </button>
                                    </div>
                                    <div class="content">
                                        <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
                                            <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                                        </div> -->
                                        <div class="example-containerdata">
                                            
                                                <!-- table view  -->
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>