<div id="matters_detail_div" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <!-- CENTER -->
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-16" [routerLink]="'/matters'">
                  <mat-icon>arrow_back</mat-icon>
                 </button>
                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Matter Invoice Detail Matter({{currentMatter?.SHORTNAME}})
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Client</span>
                        <span> {{currentMatter?.MATTER}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="matter_invoice" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
            <div fxLayoutAlign="center" class="content">
                <div class="center more_tbl_clmn" fusePerfectScrollbar>
                    <div class="content">
                        <div class="btn top_right_action_billing_position">
                            <button mat-icon-button (click)="openDialog()" aria-label="More">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>
                        </div>
                        <div class="content">
                            <div class="example-loading-shade" *ngIf="isLoadingResults">
                                <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                            </div>
                            <div class="example-containerdata">
                                <table mat-table #table [dataSource]="MatterInvoicesdata" [@animateStagger]="{value:'50'}">
                                    <ng-container matColumnDef="INVOICEREVERSALGUID">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">invoice reversal guid</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.INVOICEREVERSALGUID}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="MATTERGUID">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md class="header_title">matter guid</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.MATTERGUID }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="SHORTNAME">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md class="header_title">short name</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.SHORTNAME}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="CLIENTNAME">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md class="header_title">client name</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.CLIENTNAME}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="PARENTINVOICEGUID">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title"> parent invoice guid</th>
                                        <td mat-cell *matCellDef="let row">{{row.PARENTINVOICEGUID}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="INVOICECODE">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">invoice code</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.INVOICECODE}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="INVOICEDATE">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">invoice date</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.INVOICEDATE}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="DUEDATE">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">due date</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.DUEDATE}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="PRINTEDDATE">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">printed date</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.PRINTEDDATE}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="INVOICETOTAL">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title"> invoice total</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.INVOICETOTAL}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="GST">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">gst</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.GST}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="AGENCYTOTAL">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title"> agency total</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.AGENCYTOTAL}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="AGENCYGST">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">agency gst</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.AGENCYGST}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="AMOUNTPAIDEXGST">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title"> amount paid ex gst</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.AMOUNTPAIDEXGST}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="AMOUNTPAIDINCGST">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">amount paid in cgst</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.AMOUNTPAIDINCGST}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="AMOUNTWRITTENOFFEXGST">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">amount written off ex gst</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.AMOUNTWRITTENOFFEXGST}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="AMOUNTWRITTENOFFINCGST">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">amount written off in cgst</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.AMOUNTWRITTENOFFINCGST}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="AMOUNTOUTSTANDINGEXGST">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">amount outstanding ex gst</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.AMOUNTOUTSTANDINGEXGST}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="AMOUNTOUTSTANDINGINCGST">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title"> amount outstanding in cgst</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.AMOUNTOUTSTANDINGINCGST}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="DISBURSEMENTAMOUNTEXGST">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">disbursement amount ex gst</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.DISBURSEMENTAMOUNTEXGST}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="DISBURSEMENTAMOUNTINCGST">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">disbursement amount in cgst </th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.DISBURSEMENTAMOUNTINCGST}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="FOREIGNCURRENCYID">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title"> foreign currency id</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.FOREIGNCURRENCYID}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="FOREIGNCURRENCYRATE">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">foreign currency rate</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.FOREIGNCURRENCYRATE}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="FOREIGNCURRENCYAMOUNT">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">foreign currency amount</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.FOREIGNCURRENCYAMOUNT}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="FOREIGNCURRENCYGST">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">foreign currency gst</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.FOREIGNCURRENCYGST}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="COMMENT">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">comment</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.COMMENT}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="INVOICEGUID">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title"> invoice guid</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.INVOICEGUID}}
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>