<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div cdkDrag class="popup_main_div add_edit_contact_main select_metter_main_div">
    <h2 cdkDragHandle mat-dialog-title>Generate Invoice
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        Select the Pack you want to generate for this Invoice.
        <div class="custome-example-containerdata">
            <table fxFlex="100" mat-table #table [dataSource]="GenerateInvoiceData" matSort [@animateStagger]="{value:'50'}">
                <ng-container matColumnDef="Pack">
                    <th mat-header-cell *matHeaderCellDef>Pack</th>
                    <td mat-cell *matCellDef="let element"> {{element.KITNAME}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;let element;" class="row" (click)="RowClick
                    (row);highlightedRows=row.KITGUID" [style.background]="highlightedRows == row.KITGUID ? selectedColore : ''" [ngClass]="highlightedRows == row.KITGUID ? 'row-text-colore' : ''" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                </tr>
            </table>
        </div>
        <mat-dialog-actions align="left" class="popup_ftr">
            <!-- <button mat-raised-button color="accent" (click)="GenerateDocumentPack('Pack')" cdkFocusInitial>Generate Document Pack</button>
        <button mat-raised-button color="primary" (click)="GenerateDocumentPack('Template')" cdkFocusInitial>Generate Invoice Only</button> -->
            <button mat-button (click)="GenerateDocumentPack('Pack')">
            <section class="large-button-container">
                <mat-icon class="main-icon">
                    <img src="assets/icons/web_app/icon_doc_pack_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                    </mat-icon>
                <div class="main-text">
                    <span>Generate Document Pack</span>
                </div>
            </section>
             </button>

            <button mat-button (click)="GenerateDocumentPack('Template')">
                <section class="large-button-container">
                    <mat-icon class="main-icon">
                        <img src="assets/icons/web_app/icon_invoice_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                        </mat-icon>
                    <div class="main-text">
                        <span>Generate Invoice Only</span>
                    </div>
                </section>
                 </button>
        </mat-dialog-actions>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <!-- <button mat-raised-button color="accent" (click)="save()" [mat-dialog-close]="false" cdkFocusInitial>Save</button> -->
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don't Save</button>
    </mat-dialog-actions>
</div>