app-name {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    border-right: 1px solid;
    overflow-y: auto;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    .no-messages-text {
        font-size: 24px;
        font-weight: 300;
    }

    .app-name {
        position: relative;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}
.one {
    margin-left: 20px;
    margin-right: 15px; 
    margin-top: 20px;
    margin-bottom: 15px;
}


// h2.ng-tns-c26-56 {
//     margin-top: 1px !important;
// }
h2.ng-tns-c26-8 {
    margin-top: 1px !important;
}
.check_1{
    margin-bottom: 15px;
}
// .mat-form-field-outline.ng-tns-c14-573.ng-star-inserted {
  
//     margin: 7px;
// }
// .mat-form-field-infix {
//     margin: -5px !important;
//     // margin-left: 10px !important;
// }

