<div [formGroup]="SettingForm" class="one" fxLayout="column">
    <h2>Name</h2>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field class="a" appearance="outline" fxFlex="100" class="pr-4">
                <mat-label>Name</mat-label>
                <input name="NAME" formControlName="NAME" matInput>
                <mat-icon matSuffix class="secondary-text"></mat-icon>
            </mat-form-field>
        </div>
        <h2>Address</h2>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                    <mat-label>Street</mat-label>
                    <input matInput>
                    <mat-icon matSuffix class="secondary-text"></mat-icon>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <mat-label>Suburb</mat-label>
                        <input name="ADDRESS1"  matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
                        <mat-label>State</mat-label>
                        <input name="ADDRESS2"  matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <mat-label>Post Code</mat-label>
                        <input name="ADDRESS3"  matInput>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                            <mat-label>Postal</mat-label>
                            <input matInput>
                            <mat-icon matSuffix class="secondary-text"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                                <mat-label>Suburb</mat-label>
                                <input name="ADDRESS1"  matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
                                <mat-label>State</mat-label>
                                <input name="ADDRESS2"  matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                                <mat-label>Post Code</mat-label>
                                <input name="ADDRESS3"  matInput>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>DX Number</mat-label>
                                    <input name="ADDRESS1"  matInput>
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>Suburb</mat-label>
                                    <input name="ADDRESS2"  matInput>
                                </mat-form-field>
                            </div>
                            <h2>Phone and  Email</h2>
                            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                        <mat-label>Phone 1</mat-label>
                                        <input name="ADDRESS1"  matInput>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                        <mat-label>Phone 2</mat-label>
                                        <input name="ADDRESS2"  matInput>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                            <mat-label>Fax 1</mat-label>
                                            <input name="ADDRESS1"  matInput>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                            <mat-label>Fax 2</mat-label>
                                            <input name="ADDRESS2"  matInput>
                                        </mat-form-field>
                                    </div>
                                </div>