<div class="one" [formGroup]="addInvoiceForm" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <div fxFlex="40" style="text-align: right; padding-right: 19px !important;"> </div>
        <div fxFlex="25">Excluding GST</div>
        <div fxFlex="10">GST</div>
        <div fxFlex="25">Including GST</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <div fxFlex="40" style="text-align: right; padding-right: 19px !important;">
            Total invoiced befor this invoice ?
        </div>
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
            <input matInput readonly placeholder="Date Received" formControlName="INVOICEDVALUEEXGST">
        </mat-form-field>
        <div fxFlex="10"></div>
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
            <input matInput readonly placeholder="Date Received" formControlName="INVOICEDVALUEINCGST">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <div fxFlex="40" style="text-align: right; padding-right: 19px !important;">
            Total invoiced including this invoice?
        </div>
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
            <input matInput readonly placeholder="Date Received" formControlName="FIXEDRATEEXGSTTOTAL">
        </mat-form-field>
        <div fxFlex="10"></div>
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
            <input matInput readonly placeholder="Date Received" formControlName="FIXEDRATEINCGSTTOTAL">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="isFixPrice">
        <div fxFlex="30" style="text-align: right; padding-right: 19px !important;">Fixed Price Status: </div>
        <div fxFlex="20">Exceeded By :</div>
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
            <input matInput readonly placeholder="Date Received" formControlName="FIXEDRATEEXGST">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
            <input matInput readonly placeholder="Date Received" formControlName="FIXEDRATEINCGST">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="!isFixPrice">
        <div fxFlex="40" style="text-align: right; padding-right: 19px !important;"> Fixed Price Status: </div>
        <div fxFlex="60">Fixed Price not specified!</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="isMin">
        <div fxFlex="30" style="text-align: right; padding-right: 19px !important;">Minimum Estimate Status: </div>
        <div fxFlex="20">Exceeded By :</div>
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
            <input matInput readonly placeholder="Date Received" formControlName="ESTIMATETOTOTALEXGST">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
            <input matInput readonly placeholder="Date Received" formControlName="ESTIMATETOTOTALINCGST">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="!isMin">
        <div fxFlex="40" style="text-align: right; padding-right: 19px !important;"> Minimum Estimate Status: </div>
        <div fxFlex="60">No Minimum Estimate Provided!</div>
    </div>



    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="isMax">
        <div fxFlex="30" style="text-align: right; padding-right: 19px !important;">Maximum Estimate Status: </div>
        <div fxFlex="20">Exceeded By :</div>
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
            <input matInput readonly placeholder="Date Received" formControlName="ESTIMATEFROMTOTALEXGST">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
            <input matInput readonly placeholder="Date Received" formControlName="ESTIMATEFROMTOTALINCGST">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="!isMax">
        <div fxFlex="40" style="text-align: right; padding-right: 19px !important;"> Maximum Estimate Status: </div>
        <div fxFlex="60">No Maximum Estimate Provided!</div>
    </div>
</div>
<mat-divider></mat-divider>