<div class=" one " fxLayout="column" [formGroup]="matterdetailForm">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>Address</mat-label>
            <input matInput readonly formControlName="Address2">
            <mat-icon matSuffix (click)='Matteraddress()'>
                <img src="assets/icons/web_app/adr1.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
            </mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <section class="example-section">
            <mat-checkbox formControlName="LEASERECEIVED">Lease Received</mat-checkbox>
        </section>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Date Executed </mat-label>
            <input (dateInput)="DateExecutedClick('input', $event)" formControlName="DATEEXECUTEDTEXT" (dateChange)="DateExecutedClick('change', $event)" matInput [matDatepicker]="DateExecuted">
            <mat-datepicker-toggle matSuffix [for]="DateExecuted"></mat-datepicker-toggle>
            <mat-datepicker #DateExecuted></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Valid Until</mat-label>
            <input (dateInput)="ValidUntilClick('input', $event)" formControlName="VALIDUNTILTEXT" (dateChange)="ValidUntilClick('change', $event)" matInput [matDatepicker]="ValidUntil">
            <mat-datepicker-toggle matSuffix [for]="ValidUntil"></mat-datepicker-toggle>
            <mat-datepicker #ValidUntil></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
            <mat-label>Option Date</mat-label>
            <input (dateInput)="OptionDateClick('input', $event)" formControlName="OPTIONDATETEXT" (dateChange)="OptionDateClick('change', $event)" matInput [matDatepicker]="OptionDate">
            <mat-datepicker-toggle matSuffix [for]="OptionDate"></mat-datepicker-toggle>
            <mat-datepicker #OptionDate></mat-datepicker>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Term</mat-label>
            <input matInput formControlName="Term">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Disclosure Date</mat-label>
            <input (dateInput)="DisclosureDateClick('input', $event)" formControlName="DISCLOSUREDATETEXT" (dateChange)="DisclosureDateClick('change', $event)" matInput [matDatepicker]="DisclosureDate">
            <mat-datepicker-toggle matSuffix [for]="DisclosureDate"></mat-datepicker-toggle>
            <mat-datepicker #DisclosureDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
            <mat-label>Registered Number</mat-label>
            <input matInput formControlName="REGISTEREDINFILEMAN">
        </mat-form-field>
    </div>
</div>