<div class="popup_main_div">
    <h2 mat-dialog-title>Select Matter Contact
        <button class="btn" mat-icon-button (click)="ondialogcloseClick()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
    </h2>
    <div mat-dialog-content class="mat-typography">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="one">
            <mat-table #table [dataSource]="getDataForTable" [@animateStagger]="{value:'50'}">
                <!-- Job Title Column -->
                <ng-container matColumnDef="contact">
                    <mat-header-cell *matHeaderCellDef fxShow.gt-md>Contact</mat-header-cell>
                    <mat-cell *matCellDef="let row" fxShow.gt-md>
                        <p class="job-title text-truncate">
                            {{row.CONTACTNAME}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Company Column -->
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef fxShow.gt-md>Type</mat-header-cell>
                    <mat-cell *matCellDef="let row" fxShow.gt-md>
                        <p class="company text-truncate">
                            {{row.TYPENAME }}
                        </p>
                    </mat-cell>
                </ng-container>
                <mat-header-row class="tbl_fix_header" *matHeaderRowDef="displayedColumns"></mat-header-row>
                <!-- sticky: true" -->
                <mat-row [style.background]="highlightedRows == row.PERSONGUID ? selectedColore : ''" *matRowDef="let row; columns: displayedColumns;" class="contact" (click)="editContact(row.PERSONGUID);highlightedRows = row.PERSONGUID" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10, 20 ,50,100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button mat-dialog-close color="accent" (click)="selectButton()">Select</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
    </mat-dialog-actions>
</div>