<h2 mat-dialog-title>Select Matter Contact</h2>
<div mat-dialog-content class="mat-typography main">
    <div class="one">
        <mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
            <!-- Job Title Column -->
            <ng-container matColumnDef="contact">
                <mat-header-cell *matHeaderCellDef fxShow.gt-md>Contact</mat-header-cell>
                <mat-cell *matCellDef="let row" fxShow.gt-md>
                    <p class="job-title text-truncate">
                        {{row.contact}}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Company Column -->
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef fxShow.gt-md>Type</mat-header-cell>
                <mat-cell *matCellDef="let row" fxShow.gt-md>
                    <p class="company text-truncate">
                        {{row.type }}
                    </p>
                </mat-cell>
            </ng-container>
            <mat-header-row class="tbl_fix_header" *matHeaderRowDef="displayedColumns; sticky: true;"></mat-header-row>
            <!-- sticky: true" -->
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="contact" (click)="editContact(row)" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="accent">Save</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Don't Save</button>
</mat-dialog-actions>