<div id="Spendmoney" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="content" fxLayoutAlign="center">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div responsive_auto">
                <form>
                    <mat-form-field class="example" appearance="outline">
                        <mat-label>Show What?</mat-label>
                        <mat-select>
                            <mat-option value="all">All class</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example" appearance="outline">
                        <mat-label></mat-label>
                        <mat-select>
                            <mat-option value="Incurred Date">Incurred Date</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example" appearance="outline">
                        <mat-label></mat-label>
                        <mat-select>
                            <mat-option value="Last 30 days">Last 30 days</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example" fxFlex="17.33">
                        <mat-label>Date Range</mat-label>
                        <input matInput [satDatepicker]="picker2" (dateInput)="DateRange('input', $event)" (dateChange)="DateRange('change', $event)">
                        <sat-datepicker #picker2 [rangeMode]="true"> </sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
                    </mat-form-field>
                    <mat-form-field class="example" appearance="outline">
                        <mat-label>Spend Total Inc</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="example" appearance="outline">
                        <mat-label>Spend Total Ex</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="example" appearance="outline">
                        <mat-label>Search</mat-label>
                        <input matInput placeholder="Search" (keydown)="onSearch($event)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </form>
            </div>
            <div class="content fix_div_padding">
                <!-- <div class="btn top_right_action_billing_one one">
                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                      <mat-icon class="secondary-text">more_vert</mat-icon>
                   </button>
                </div> -->
                <div id="matter_invoice" class="page-layout simple left-sidebar inner-sidebar">
                    <div fxLayoutAlign="center" class="content">
                        <div class="center more_tbl_clmn" fusePerfectScrollbar>
                            <div class="content">
                                <div class="btn top_right_action_billing_position">
                                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                                        <mat-icon class="secondary-text">more_vert</mat-icon>
                                    </button>
                                </div>
                                <div class="content">
                                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                                    </div>
                                    <div class="example-containerdata">
                                        <table mat-table #table [dataSource]="Spendmoneydata" [@animateStagger]="{value:'50'}" matSort class="mat-elevation-z8">
                                            <ng-container matColumnDef="INVOICEREVERSALGUID">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>{{ tempColobj['INVOICEREVERSALGUID'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.INVOICEREVERSALGUID}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="class">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>{{ tempColobj['class'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.class }}
                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                            <tr mat-row [style.background]="highlightedRows == row.INVOICEGUID ? selectedColore : ''" *matRowDef="let row; columns: displayedColumns;" [ngClass]="highlightedRows == row.INVOICEGUID ? 'row-text-colore' : ''" class="contact" (click)="selectMatterId(row);highlightedRows = row.INVOICEGUID"
                                                matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>