<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="popup_main_div add_general_receipt_main" cdkDrag>
    <h2 cdkDragHandle mat-dialog-title>
        General Receipt
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
      </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        <div class=" one " fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form name="generalReceiptForm" id="generalReceiptForm" class="generalReceiptForm" [formGroup]="generalReceiptForm" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.INCOMEDATE,'has-warning':errorWarningData.Warning?.INCOMEDATE}">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="choosedDate('input', $event)" (dateChange)="choosedDate('change', $event)" formControlName="INCOMEDATETEXT">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.INCOMECLASS,'has-warning':errorWarningData.Warning?.INCOMECLASS}">
                        <mat-label>Class</mat-label>
                        <mat-select formControlName="INCOMECLASS" (selectionChange)="classChange($event.value)">
                            <mat-option value="Income">Income</mat-option>
                            <mat-option value="Capital">Capital</mat-option>
                            <!-- <mat-option value="Receipt">Receipt</mat-option> -->
                            <mat-option value="GST Refund"> GST Refund </mat-option>
                            <mat-option value="Tax Refund">Tax Refund</mat-option>
                            <mat-option value="Personal">Personal</mat-option>
                            <mat-option value="Other">Other</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.INCOMETYPE,'has-warning':errorWarningData.Warning?.INCOMETYPE}">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="INCOMETYPE">
                            <mat-option value="Cash">Cash</mat-option>
                            <mat-option value="Cheque">Cheque</mat-option>
                            <mat-option value="Credit Card">Credit Card</mat-option>
                            <mat-option value="Direct Deposit">Direct Deposit</mat-option>
                            <mat-option value="Direct Withdrawal">Direct Withdrawal</mat-option>
                            <mat-option value="Money Order">Money Order</mat-option>
                            <mat-option value="Transfer">Transfer</mat-option>
                            <mat-option value="Other">Other</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example" fxFlex="25" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.PAYEE,'has-warning':errorWarningData.Warning?.PAYEE}">
                        <mat-label>Payor</mat-label>
                        <mat-select (selectionChange)="PayeeTypeChange($event.value)" formControlName="PAYEE">
                            <mat-option *ngFor="let val of getPayourarray" [value]="val.CONTACTNAME">{{val.CONTACTNAME}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" class="example pr-4" fxFlex="20" [ngClass]="{'has-error':errorWarningData.Error?.AMOUNT,'has-warning':errorWarningData.Warning?.AMOUNT}">
                        <mat-label>Amount</mat-label>
                        <input matInput class="sideText" type="number" formControlName="AMOUNT" [(ngModel)]="AMOUNT" (focusout)="amountVal()">
                        <span class="currency_sign" matPrefix>$&nbsp;</span>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example pr-4" fxFlex="20">
                        <mat-label>Gst Type</mat-label>
                        <mat-select (selectionChange)="gstTypeChange($event.value)" formControlName="gsttype">
                            <mat-option *ngFor="let val of gsttypeData" [value]="val.id">{{val.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example pr-4" fxFlex="20" [ngClass]="{'has-error':errorWarningData.Error?.GST,'has-warning':errorWarningData.Warning?.GST}">
                        <mat-label>Gst</mat-label>
                        <input matInput class="sideText" type="number" formControlName="GST" [readonly]="isGstReadonly" [(ngModel)]="GST" (focusout)="gstVal()">
                        <span class="currency_sign" matPrefix>$&nbsp;</span>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example pr-4" fxFlex="20" [ngClass]="{'has-error':errorWarningData.Error?.BANKACCOUNTGUID,'has-warning':errorWarningData.Warning?.BANKACCOUNTGUID}">
                        <mat-label>Bank A/C</mat-label>
                        <input matInput formControlName="BANKACCOUNTGUIDTEXT" readonly>
                        <mat-icon matSuffix>
                            <button id="bank" class="matternews" (click)="BankingDialogOpen('BANK ACCOUNT')"><img src="assets/icons/web_app/icon_accounts_small_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above"></button>
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example pr-4" fxFlex="20" [ngClass]="{'has-error':errorWarningData.Error?.INCOMEACCOUNTGUID,'has-warning':errorWarningData.Warning?.INCOMEACCOUNTGUID}">
                        <mat-label>{{classText}}</mat-label>
                        <input matInput formControlName="INCOMEACCOUNTGUIDTEXT" readonly>
                        <mat-icon matSuffix>
                            <button id="bank" class="matternews" (click)="BankingDialogOpen(classType)"><img src="assets/icons/web_app/icon_accounts_small_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above"></button>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline" class="example pr-4" fxFlex="100" [ngClass]="{'has-error':errorWarningData.Error?.NOTE,'has-warning':errorWarningData.Warning?.NOTE}">
                    <mat-label>Note</mat-label>
                    <textarea matInput formControlName="NOTE"></textarea>
                </mat-form-field>
            </form>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button *ngIf="action=='edit'" color="accent" (click)="SaveGeneralReceipt()" [disabled]="isspiner"><mat-spinner *ngIf="isspiner"></mat-spinner>Update</button>
        <button mat-raised-button *ngIf="action!='edit'" color="accent" (click)="SaveGeneralReceipt()" [disabled]="isspiner"><mat-spinner *ngIf="isspiner"></mat-spinner>Save</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don`t Save</button>
    </mat-dialog-actions>
</div>