
       <div class="one" fxLayout="column">
          <div class="example-loading-shade" *ngIf="isLoadingResults">
              <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
          </div>
          <div class="example-containerdata">
              <table [@animateStagger]="{value:'50'}" mat-table [dataSource]="FinalList" matSort>
                  <ng-container matColumnDef="ACCOUNTNO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCOUNTNO</th>
                    <td mat-cell *matCellDef="let element"> {{element.ACCOUNTNO}} </td>
                  </ng-container>
                  <ng-container matColumnDef="DESCRIPTION">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPTION </th>
                    <td mat-cell *matCellDef="let element"> {{element.DESCRIPTION}} </td>
                  </ng-container>
                  <ng-container matColumnDef="ACCOUNTTYPE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCOUNTTYPE </th>
                    <td mat-cell *matCellDef="let element"> {{element.ACCOUNTTYPE}} </td>
                  </ng-container>
                  <ng-container matColumnDef="ACCOUNTGUIDNAME">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header> ACCOUNTGUIDNAME </th>
                    <td mat-cell *matCellDef="let element"> {{element.ACCOUNTGUIDNAME}} </td>
                  </ng-container>
                  <ng-container matColumnDef="ACCOUNTNAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCOUNTNAME </th>
                    <td mat-cell *matCellDef="let element"> {{element.ACCOUNTNAME}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr [style.background]="highlightedRows == index? selectedColore : ''" [ngClass]="highlightedRows == index ? 'row-text-colore' : ''" highlightedRows=index mat-row *matRowDef="let row let index = index; columns: displayedColumns;" (click)="accountrow(row,index);highlightedRows = index "
                  matRipple [@animate]="{value:'*',params:{y:'100%'}}"></tr>
                </table>
              
          </div>
          <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
          <mat-dialog-actions align="end" class="popup_ftr">
            
            <button mat-raised-button color="accent" class="btn_2" (click)="ondialogClick()"  >Edit</button>
            
              <!-- <button mat-raised-button color="accent" class="btn_2" (click)="save()">Have To Save</button> -->

          </mat-dialog-actions>

         
      </div>
