<div class=" one  mb-24" fxLayout="column" >


<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
        <mat-label>Phone</mat-label>
        <input matInput >
        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
        <mat-label>Phone2</mat-label>
        <input matInput >
        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
    </mat-form-field>


</div>



<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
        <mat-label>Fax</mat-label>
        <input matInput>
        <mat-icon matSuffix class="secondary-text">fax</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
        <mat-label>Fax2</mat-label>
        <input matInput>
        <mat-icon matSuffix class="secondary-text">fax</mat-icon>
    </mat-form-field>

</div>



<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Mobile</mat-label>
        <input matInput >
        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
    </mat-form-field>

</div>

<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
        <mat-label>Email</mat-label>
        <input matInput >
        <mat-icon matSuffix class="secondary-text">email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
        <mat-label>Email2</mat-label>
        <input matInput>
        <mat-icon matSuffix class="secondary-text">email</mat-icon>
    </mat-form-field>


</div>

<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Web Site</mat-label>
        <input matInput>
        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
    </mat-form-field>

</div>

<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Skype Username</mat-label>
        <input matInput>
        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
    </mat-form-field>

</div>

<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Electronics Service Email</mat-label>
        <input matInput >
        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
    </mat-form-field>

</div>


</div>