<div class=" one  mb-24" [formGroup]="contactForm" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.PHONE,'has-warning':errorWarningData.Warning?.PHONE}">
            <mat-label>Phone</mat-label>
            <input name="PHONE" [formControlName]="'PHONE'" matInput>
            <mat-icon matSuffix class="secondary-text">phone</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.PHONE2,'has-warning':errorWarningData.Warning?.PHONE2}">
            <mat-label>Phone 2</mat-label>
            <input name="PHONE2" [formControlName]="'PHONE2'" matInput>
            <mat-icon matSuffix class="secondary-text">phone</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.FAX,'has-warning':errorWarningData.Warning?.FAX}">
            <mat-label>Fax</mat-label>
            <input name="FAX" [formControlName]="'FAX'" matInput>
            <mat-icon matSuffix class="secondary-text">fax</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.FAX2,'has-warning':errorWarningData.Warning?.FAX2}">
            <mat-label>Fax 2</mat-label>
            <input name="FAX2" [formControlName]="'FAX2'" matInput>
            <mat-icon matSuffix class="secondary-text">fax</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.MOBILE,'has-warning':errorWarningData.Warning?.MOBILE}">
            <mat-label>Mobile</mat-label>
            <input name="MOBILE" [formControlName]="'MOBILE'" matInput>
            <mat-icon matSuffix class="secondary-text">phone</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.EMAIL,'has-warning':errorWarningData.Warning?.EMAIL}">
            <mat-label>Email</mat-label>
            <input name="EMAIL" [formControlName]="'EMAIL'" matInput>
            <mat-icon matSuffix class="secondary-text">mail</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.EMAIL2,'has-warning':errorWarningData.Warning?.EMAIL2}">
            <mat-label>Email 2</mat-label>
            <input name="EMAIL2" [formControlName]="'EMAIL2'" matInput>
            <mat-icon matSuffix class="secondary-text">mail</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.WEBADDRESS,'has-warning':errorWarningData.Warning?.WEBADDRESS}">
            <mat-label>Web Site</mat-label>
            <input name="WEBADDRESS" [formControlName]="'WEBADDRESS'" matInput>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.SKYPEUSERNAME,'has-warning':errorWarningData.Warning?.SKYPEUSERNAME}">
            <mat-label>Skype Username</mat-label>
            <input name="SKYPEUSERNAME" [formControlName]="'SKYPEUSERNAME'" matInput>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.ELECTRONICSERVICEEMAIL,'has-warning':errorWarningData.Warning?.ELECTRONICSERVICEEMAIL}">
            <mat-label>Electronic Service Email</mat-label>
            <input name="ELECTRONICSERVICEEMAIL" [formControlName]="'ELECTRONICSERVICEEMAIL'" matInput>
        </mat-form-field>
    </div>
</div>