
 <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<!-- <div  fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
<div  fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">
        
<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
<mat-card class="example-card">
    
    
<mat-card-header>
      <mat-card-title>Aged Debtors (Unpaid Invoices)</mat-card-title>
   
    </mat-card-header>
   
    
   
    <mat-card-content class="canvas_class">
    
    <ngx-charts-pie-chart
        *fuseIfOnDom
        [scheme]="widgets.widget7.scheme"
        [results]="widgets.widget7.devices"
        [doughnut]="true">
    </ngx-charts-pie-chart>

    </mat-card-content>
   
    <mat-card-actions>
    


    </mat-card-actions>

  </mat-card>

  
</div>

</div>
</div> -->


<!-- <div class="matter-serach-div sticky_search_div responsive_auto">
    <form fxLayout="row" class="form_dash" fxLayoutAlign="start" fxFlex="1 0 auto">
        <mat-form-field fxFlex="16.6" class="pr-4" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select (selectionChange)="selectStatus($event.value)">
                <mat-option value="Daily ">Daily </mat-option>
                <mat-option value="Weekly">Weekly</mat-option>
                <mat-option value="Monthly">Monthly</mat-option>
                <mat-option value="Quarterly">Quarterly</mat-option>
                <mat-option value="Calendar Year">Calendar Year</mat-option>
                <mat-option value="Financial Year">Financial Year</mat-option>

            </mat-select>
        </mat-form-field>


        <mat-form-field fxFlex="16.6" class="pr-4" appearance="outline">
            <mat-label>Free Earner</mat-label>
            <mat-select (selectionChange)="selectStatus($event.value)">
                <mat-option value="Daily ">All </mat-option>


            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-4" fxFlex="16.6">
            <mat-label>Date Range</mat-label>
            <input matInput [satDatepicker]="picker2">
            <sat-datepicker #picker2 [rangeMode]="true"> </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
        </mat-form-field>


        <mat-checkbox class="check_top pr-4" fxFlex="16.6">GST Incl. </mat-checkbox>
        <mat-checkbox class="check_top pr-4" fxFlex="16.6">Excl. Pro Bono/Secial </mat-checkbox>
        <mat-checkbox class="check_top pr-4" fxFlex="16.6">Excl. Disbs (Very slowly)</mat-checkbox>
    </form>
</div> -->





<div id="dashboard-analytics" class="page-layout blank">
    <div class="content">
        <div class="left mr-lg-32">

            <div class="left">

                <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
              
                    <div *ngIf="widget7 !='empty'" fxFlex="100" fxFlex.gt-sm="50" class="widget ">
                        <div class="pb-24 font-size-18 font-weight-300">
                        </div>
                        <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                            <div class="p-16">
                                <a class="link_click" [routerLink]="'/invoice'"  mat-list-item >
                                        Aged Debtors (Unpaid Invoices)   
                                </a>
                            </div>
                            <div class="h-300">
                                <h3 class="total_Val">$<span><strong> {{AgedDebatorTotal | number}}</strong></span></h3>
                                <!-- <ngx-charts-pie-chart *fuseIfOnDom [scheme]="widget7.scheme" [results]="widget7.devices" [doughnut]="true">
                                </ngx-charts-pie-chart> -->
                                <ngx-charts-pie-chart
                                *fuseIfOnDom
                                [scheme]="widget7.scheme"
                                [results]="widget7.devices"
                                [legend]="widget7.showLegend"
                                [explodeSlices]="widget7.explodeSlices"
                                [labels]="widget7.labels"
                                [doughnut]="widget7.doughnut"
                                [gradient]="widget7.gradient"
                                (select)="widget7.onSelect($event)">
                            </ngx-charts-pie-chart> 
                            </div>
                            <div class="py-8 mh-16 border-top" fxLayout="row" fxLayoutAlign="center center">
                                    <div  *ngFor="let device of widget7.devices" class="py-8 border-right" fxLayout="column" fxLayoutAlign="start center" fxFlex="100"
                                         fxFlex.gt-sm="50">
                                        <span class="mat-display-1 main_name mb-0">
                                                {{device.name}}
                                        </span>
                                        <span class="h4 sub_val">$ {{device.value}}</span>
                                    </div>
                                </div>
                            <!-- <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                                <div class="px-16" fxLayout="column" fxLayoutAlign="start center" *ngFor="let device of widget7.devices">
                                    <div class="h4 secondary-text">{{device.name}}</div>
                                    <div class="h4 font-weight-300 secondary-text py-8">$<b>{{device.value}}</b></div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div *ngIf="widget2 !='empty'" fxFlex="100" fxFlex.gt-sm="50" class="widget ">
                        <div class="pb-24 font-size-18 font-weight-300">
                        </div>
                        <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0'">
                            <div class="p-16">
                                <div class="h1 font-weight-300">Unbilled WIP</div>
                            </div>
                          
                            <div class="h-300">
                                <h3 class="total_Val">$<span><strong> {{UnbilledTotal | number}} </strong></span></h3>
                                <!-- <ngx-charts-pie-chart *fuseIfOnDom [scheme]="widget2.scheme" [results]="widget2.devices" [doughnut]="true">
                                </ngx-charts-pie-chart> -->
                                <ngx-charts-pie-chart
                                *fuseIfOnDom
                                [scheme]="widget2.scheme"
                                [results]="widget2.devices"
                                [legend]="widget2.showLegend"
                                [explodeSlices]="widget2.explodeSlices"
                                [labels]="widget2.labels"
                                [doughnut]="widget2.doughnut"
                                [gradient]="widget2.gradient"
                                (select)="widget2.onSelect($event)">
                            </ngx-charts-pie-chart> 
                            </div>
                            <div class="py-8 mh-16 border-top" fxLayout="row" fxLayoutAlign="center center">
                                    <div  *ngFor="let device of widget2.devices" class="py-8 border-right" fxLayout="column" fxLayoutAlign="start center" fxFlex="100"
                                         fxFlex.gt-sm="50">
                                        <span class="mat-display-1 main_name mb-0">
                                                {{device.name}}
                                        </span>
                                        <span class="h4 sub_val">$ {{device.value}}</span>
                                    </div>
                                </div>

                            <!-- <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                                <div class="px-16" fxLayout="column" fxLayoutAlign="start center" *ngFor="let device of widget2.devices">
                                    <div class="h4 secondary-text">{{device.name}}</div>
                                    <div class="h4  secondary-text font-weight-300 py-8">$<b>{{device.value}}</b></div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                    <!-- <div  fxFlex="100" fxFlex.gt-sm="50" class="widget ">
                    <div class="pb-24 font-size-18 font-weight-300">
                    </div>
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16">
                            <div class="h1 font-weight-300">Unbilled WIP </div>
                        </div>
                        <div class="UnBill_cus_css">
                            <h3 class="TolUnbil" ><b>Total: </b><span class="unbilToCl"> ${{UnbilledTotal}}</span> </h3>
                        </div>
                        <div class="h-260">
                                <ngx-charts-pie-chart
                                *fuseIfOnDom
                                [scheme]="widget6.scheme"
                                [results]="widget2.devices"
                                [legend]="widget6.showLegend"
                                [explodeSlices]="widget6.explodeSlices"
                                [labels]="widget6.labels"
                                [doughnut]="widget6.doughnut"
                                [gradient]="widget6.gradient"
                                (select)="widget6.onSelect($event)">
                            </ngx-charts-pie-chart> 
                        </div>
                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">  
                        </div>
                    </div>
                </div> -->
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <div *ngIf="widget11 !='empty'" class="widget" fxFlex="100" fxFlex.gt-sm="33">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Total Invoiced</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                   $ {{widget11.conversion.value | number}}
                                </div>
                            </div>
                        </div>
                        <div class="h-96 w-100-p">
                            <canvas baseChart [datasets]="widget11.datasets" [labels]="widget11.labels" [colors]="widget11.colors" [options]="widget11.options" [chartType]="widget11.chartType">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div *ngIf="widget12 !='empty'" class="widget" fxFlex="100" fxFlex.gt-sm="33">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Total Expenses</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                   $ {{widget12.conversion.value | number}}
                                </div>
                            </div>
                        </div>
                        <div class="h-96 w-100-p">
                            <canvas baseChart [datasets]="widget12.datasets" [labels]="widget12.labels" [colors]="widget12.colors" [options]="widget12.options" [chartType]="widget12.chartType">
                                </canvas>
                        </div>
                    </div>
                </div>
                <div *ngIf="widget13 !='empty'" class="widget" fxFlex="100" fxFlex.gt-sm="34">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Total Receipts</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                   $ {{widget13.conversion.value | number}}
                                </div>
                            </div>
                        </div>
                        <div class="h-96 w-100-p">
                            <canvas baseChart [datasets]="widget13.datasets" [labels]="widget13.labels" [colors]="widget13.colors" [options]="widget13.options" [chartType]="widget13.chartType">
                                </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3 extra chart end  -->

            <!-- widght5 2 mix chart start  -->
            <div *ngIf="widget5 !='empty'" class="fuse-card auto-width">

                <div class="position-relative p-24" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <span class="h2">Income Vs Expenses</span>
                    </div>
                </div>
                <div class="position-relative h-368 pb-16">
                    <canvas baseChart [datasets]="widget5.datasets[widget5SelectedDay]" [labels]="widget5.labels" [colors]="widget5.colors" [options]="widget5.options" [chartType]="widget5.chartType">
            </canvas>
                </div>

            </div>
            <!-- width5 2 mix chart end  -->
        </div>
    </div>