@import "src/@fuse/scss/fuse";

#dashboard-analytics {

    .main-widget {
        display: flex;
        flex-direction: column;
    }

    .content {
        display: flex;
        flex: 1 1 auto;
        padding: 32px;
        min-width: 0;

        @include media-breakpoint('lt-lg') {
            flex-direction: column;
        }

        .left {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            min-width: 0;

            .widget {
                height: 500px;
                flex: 1 1 auto;
                min-width: 0;
            }
        }

        .right {
            display: flex;
            flex: 0 0 auto;
            width: 320px;
            min-width: 320px;
            max-width: 320px;

            @include media-breakpoint('lt-lg') {
                flex: 1 0 100%;
                margin-top: 32px;
                width: 100%;
                min-width: 0;
                max-width: none;
            }

            .fuse-card {
                height: 500px !important;
                @include media-breakpoint('lt-lg') {
                    width: 100%;
                    min-width: 0;
                    max-width: none;
                }
            }
        }
    }

}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  .unbilToCl{
      color: red;
  }
//   .TolUnbil{
//       margin-left: 90px;
//   }

.UnBill_cus_css {
    float: right;
    margin-right: 20px;
    margin-top: -60px;
}

.sticky_search_div {
    // position: fixed;
    // top: 163px;
    // padding-left: 300px;
    width: 100%;
    background-color: #f5f5f5;
    z-index: 9999;
    left: 0;
}
.check_top{
    margin-top: 12px !important;
}
.form_dash{
    margin-top: 12px;
    margin-left: 20px;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.my-chart {
    display: block;
    width: 533px;
    height: 266px;
}
.total_Val{
    color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 39%;
    font-size: 14px;
}
.h-200 {
    position: relative;
}
// .example-card {
//     width: 400px;
//     height: 600px;
//     margin-left: 40px;
//     margin-top: 30px;
//   }
  
//   .example-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
//   }

//   .canvas_class{
//       max-width: 300px;
//       height: 300px;
//   }
//   .Widg7_name{
//     flex: 1 1;
//   }
//   .Widg7_val{
//     flex: 1 1;
// }