<!-- <div  fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
<div  fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">
        
<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
<mat-card class="example-card">
    
    
<mat-card-header>
      <mat-card-title>Aged Debtors (Unpaid Invoices)</mat-card-title>
   
    </mat-card-header>
   
    
   
    <mat-card-content class="canvas_class">
    
    <ngx-charts-pie-chart
        *fuseIfOnDom
        [scheme]="widgets.widget7.scheme"
        [results]="widgets.widget7.devices"
        [doughnut]="true">
    </ngx-charts-pie-chart>

    </mat-card-content>
   
    <mat-card-actions>
    


    </mat-card-actions>

  </mat-card>

  
</div>

</div>
</div> -->













<div id="dashboard-analytics" class="page-layout blank">
    <div class="content">
        <div class="left mr-lg-32">
        <div class="left mr-lg-32">

            <div fxLayout="column" fxLayoutAlign="start"
            fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
         


            <!-- <div class="widget" fxFlex="100" fxFlex.gt-sm="50">

                <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">

                  
                    <div class="h-96 w-100-p">
                         <ngx-charts-pie-chart
                                *fuseIfOnDom
                                [scheme]="widgets.widget7.scheme"
                                [results]="widgets.widget7.devices"
                                [doughnut]="true">
                            </ngx-charts-pie-chart>
                    </div>

                </div>

            </div> -->

                <div fxFlex="100" fxFlex.gt-sm="33" class="widget " >
                    <div class="pb-24 font-size-18 font-weight-300">
                    </div>
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16">
                            <div class="h1 font-weight-300">Aged Debtors (Unpaid Invoices)</div>
                        </div>
                        <div class="h-200">
                                <ngx-charts-pie-chart
                                *fuseIfOnDom
                                [scheme]="widgets.widget7.scheme"
                                [results]="widgets.widget7.devices"
                                [doughnut]="true">
                            </ngx-charts-pie-chart>
                    
                        </div>
                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center"
                                 *ngFor="let device of widgets.widget7.devices">
                                <div class="h4 secondary-text">{{device.name}}</div>
                                <div class="h4 font-weight-300 py-8">$<b>{{device.value}}</b></div>
                            </div>
                        </div>
                   
                    </div>
                </div>
             
                <div  fxFlex="100" fxFlex.gt-sm="50" class="widget ">
                    <div class="pb-24 font-size-18 font-weight-300">
                    </div>
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16">
                            <div class="h1 font-weight-300">Unbilled WIP </div>
                        </div>
                        <div class="UnBill_cus_css">
                            <h3 class="TolUnbil" ><b>Total: </b><span class="unbilToCl"> ${{UnbilledTotal}}</span> </h3>
                        </div>
                        <div class="h-260">
                                <ngx-charts-pie-chart
                                *fuseIfOnDom
                                [scheme]="widget2.scheme"
                                [results]="widgets.widget2.mainChart"
                                [legend]="widget2.legend"
                                [explodeSlices]="widget2.explodeSlices"
                                [labels]="widget2.labels"
                                [doughnut]="widget2.doughnut"
                                [gradient]="widget2.gradient"
                                (select)="widget2.onSelect($event)">
                            </ngx-charts-pie-chart>
                        </div>
                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                            
                        </div>
                      
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
