<div id="landing_page" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/silq white.png">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            SILQ Online is here!
        </div>
        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            We have migrated to our new Online version with many additional features and a look and feel similar to the desktop version.<br> Your login details remain the same.<br> Please click here to go to <a [routerLink]="'/login'"> Online.silq.com.au</a><br>
        </div>
        <div class="description-footer" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Need help? Call us on 1300 5566 89. Email us at support@silq.com.au
        </div>
        <!-- <div class="copy-right-footer" [@animate]="{value:'*',params:{scale:'0.2'}}">
            @{{currentYear}} Silqware Pty Ltd All Rights Reserved
        </div> -->
    </div>
</div>