<div id="dashboard-analytics" class="page-layout blank">
    <div class="content">
        <div class="left mr-lg-32">
        <div class="left mr-lg-32">

            <div fxLayout="column" fxLayoutAlign="start"
            fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <!-- Widget 7 -->
                <div fxFlex="100" fxFlex.gt-sm="30" class="widget mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">
                    <div class="pb-24 font-size-18 font-weight-300">
                    </div>
                    <div class="fuse-card">
                        <div class="p-16">
                            <div class="h1 font-weight-300">Aged Debtors (Unpaid Invoices)</div>
                        </div>
                        <div class="h-200">
                                <ngx-charts-pie-chart
                                *fuseIfOnDom
                                [scheme]="widgets.widget7.scheme"
                                [results]="widgets.widget7.devices"
                                [doughnut]="true">
                            </ngx-charts-pie-chart>
                            <!-- <canvas baseChart 
                            [chartType]="widgets.widget7.chartType"
                            [datasets]="widgets.widget7.datasets"
                            [labels]="widgets.widget7.labels"
                            [colors]="widgets.widget7.colors"
                            [options]="widgets.widget7.options">
                    </canvas> -->
                        </div>
                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center"
                                 *ngFor="let device of widgets.widget7.devices">
                                <div class="h4 secondary-text">{{device.name}}</div>
                                <div class="h4 font-weight-300 py-8">$<b>{{device.value}}</b></div>
                            </div>
                        </div>
                        <!-- <div class="card-divider mb-0"></div> -->
                    </div>
                </div>
                <!-- / Widget 7 -->

                <div  fxFlex="100" fxFlex.gt-sm="30" class="widget mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">
                    <div class="pb-24 font-size-18 font-weight-300">
                    </div>
                    <div class="fuse-card">
                        <div class="p-16">
                            <div class="h1 font-weight-300">Unbilled WIP </div>
                        </div>
                        <h3 class="TolUnbil" ><b>Total:</b><span class="unbilToCl">${{UnbilledTotal}}</span> </h3>
                        <div class="h-300">
                                <ngx-charts-pie-chart
                                *fuseIfOnDom
                                [scheme]="widget2.scheme"
                                [results]="widgets.widget2.mainChart"
                                [legend]="widget2.legend"
                                [explodeSlices]="widget2.explodeSlices"
                                [labels]="widget2.labels"
                                [doughnut]="widget2.doughnut"
                                [gradient]="widget2.gradient"
                                (select)="widget2.onSelect($event)">
                            </ngx-charts-pie-chart>
                        </div>
                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center">
                                <!-- <div class="h4 secondary-text">{{UnbilledTotal}}</div> -->
                               
                            </div>
                        </div>
                        <!-- <div class="card-divider mb-0"></div> -->
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
