<div id="authorities" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div fxLayoutAlign="center" class="content">
        <div class="center p-24" fusePerfectScrollbar>
            <div class="content">

                    <div class="btn top_right_action">
                            <button mat-icon-button (click)="openDialog()" aria-label="More">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>
                        </div>
                <mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
                    <ng-container matColumnDef="topic">
                        <mat-header-cell *matHeaderCellDef>Topic</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.topic}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="authority">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Authority</mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.authority}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="citation">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Citation</mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.citation}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="reference">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Reference</mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.reference}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="web_address">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Web Address</mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.web_address}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="comment">
                        <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.comment}}
                        </mat-cell>
                    </ng-container>
                    <!-- <ng-container matColumnDef="button">
                        <mat-header-cell *matHeaderCellDef><button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>
                
                        <mat-menu #moreMenu="matMenu">
                            <button mat-menu-item aria-label="remove" (click)="deleteContact(row)">
                                <mat-icon>delete</mat-icon>
                                <span>Remove</span>
                            </button>
                        </mat-menu> </mat-header-cell>
                        
                        <mat-cell *matCellDef="let row"></mat-cell>
                    </ng-container> -->
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                    </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>