
<div id="matters_detail_div" class="page-layout carded fullwidth">
    <div class="top-bg accent work_progress_height"></div>
    <!-- CENTER   fxLayout="row" fxLayoutAlign="start center"-->
    <!-- fxLayout="row" fxLayoutAlign="space-between center -->
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-16" [routerLink]="'/matters'">
                    <mat-icon>arrow_back</mat-icon>
                    </button>
                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Authorities Detail for Matter({{currentMatter?.SHORTNAME}})
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Client </span>
                        <span> {{currentMatter?.MATTER}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="matter-serach-div sticky_search_div">
            <form name="form" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field class="example p-16" fxFlex="22" appearance="outline">
                    <mat-label>Matter</mat-label>
                    <input [(ngModel)]="LegalAuthority.Matter" name="Matter" readonly matInput>
                    <mat-icon matSuffix fxFlex="5">
                        <img class="seticon" src="assets/icons/web_app/icon_matter_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                    </mat-icon>
                </mat-form-field>

                <mat-form-field class="example p-16" fxFlex="22" appearance="outline">
                    <mat-label>Client</mat-label>
                    <input [(ngModel)]="LegalAuthority.Contact" name="Contact" readonly matInput>
                    <mat-icon matSuffix fxFlex="5">
                        <img class="seticon" src="assets/icons/web_app/icon_contact_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                    </mat-icon>
                </mat-form-field>

                <!-- <mat-form-field class="example p-16" fxFlex="22" appearance="outline" >
                        <mat-label>Search</mat-label>
                        <input (keyup)='FilterSearch($event.target.value)' matInput placeholder="search"   >
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field> -->
            </form>
        </div>
        <div id="chronetab" class="page-layout simple left-sidebar  inner-sidebar">
            <div fxLayoutAlign="center" class="content">
                <div class="center more_tbl_clmn" fusePerfectScrollbar>
                    <div class="content">
                        <!-- <div class="btn top_right_action_billing_position">
                                <button mat-icon-button (click)="openDialog()" aria-label="More">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>
                            </div> -->
                        <div class="example-containerdata">
                            <div class="content">
                                <div class="example-loading-shade" *ngIf="isLoadingResults">
                                    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                                </div>
                                <div class="example-containerdata1">
                                    <table>
                                        <thead class="header_title" fxLayoutAlign="center center">
                                            <tr class="mat-header-row">
                                                <th class="mat-header-cell" fxFlex>Authority</th>
                                                <th class="mat-header-cell" fxFlex="20">Citation</th>
                                                <th class="mat-header-cell" fxFlex="20">Web Address</th>
                                                <th class="mat-header-cell" fxFlex="20">Comment</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                                        <!-- This is the tree node template for leaf nodes -->
                                        <mat-tree-node class="border-top" *matTreeNodeDef="let node" matTreeNodePadding [style.background]="highlightedRows ==  node.index? selectedColore : ''" [ngClass]="highlightedRows == node.index ? 'row-text-colore' : ''" highlightedRows=node.index (click)="clickRow(node);highlightedRows = node.index "
                                            matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                            <!-- use a disabled button to provide padding for tree leaf -->
                                            <button mat-icon-button disabled></button>
                                            <span>{{node.name}}</span>
                                            <!-- <div fxFlex="20" class="text-center">
                                                    <span class="pale">{{node.item}}</span>
                                                </div> -->
                                            <span fxFlex="20" class="text-center1">{{node.AUTHORITY}}</span>
                                            <!-- <span fxFlex="20"  class="text-center1" >{{node.index}}</span>
                                                  <span fxFlex="20" class="text-center1">{{node.parent}}</span> -->
                                            <!-- <span fxFlex="20" class="text-center" >{{node.index}}</span> -->
                                        </mat-tree-node>
                                        <!-- This is the tree node template for expandable nodes -->
                                        <mat-tree-node class="border-top" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding [style.background]="highlightedRows ==  node.index? selectedColore : ''" [ngClass]="highlightedRows == node.index ? 'row-text-colore' : ''" highlightedRows=node.index
                                            (click)="clickRow(node);highlightedRows = node.index " matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" [style.background]="highlightedRows ==  node.index? selectedColore : ''" [ngClass]="highlightedRows == node.index ? 'row-text-colore' : ''" highlightedRows=node.index
                                                (click)="clickRow(node);highlightedRows = node.index ">
                                                    <mat-icon class="mat-icon-rtl-mirror" >
                                                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                                    </mat-icon>
                                                  </button>
                                            <span>{{node.name}}</span>
                                            <span fxFlex="50" class="text-center">{{node.AUTHORITY}}</span>
                                            <!-- <span fxFlex="50" class="text-center">{{node.index}}</span>
                                                  <span fxFlex="50" class="text-center">{{node.parent}}</span> -->
                                            <!-- <span fxFlex="20" class="text-center">{{node.index}}</span> -->
                                        </mat-tree-node>
                                    </mat-tree>
                                    <!-- <table  mat-table #table [dataSource]="authorities_table" matSort [@animateStagger]="{value:'50'}">
                                            <ng-container *ngFor="let item of displayedColumns;" matColumnDef="{{item}}">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_title"> {{ tempColobj[item].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row"> <span *ngIf="row[item]!==undefined">{{row[item]}}</span> </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;let element;" class="row" (click)="RowClick(row);highlightedRows=row.CHRONOLOGYGUID" [style.background]="highlightedRows == row.CHRONOLOGYGUID ? selectedColore : ''" [ngClass]="highlightedRows == row.CHRONOLOGYGUID ? 'row-text-colore' : ''"
                                                matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                            </tr>
                                        </table> -->
                                </div>
                                <div class="border_width"></div>
                                <div class="example-containerdata2">
                                    <table mat-table #table [dataSource]="authorities_table" matSort [@animateStagger]="{value:'50'}">
                                        <ng-container *ngFor="let item of displayedColumns;" matColumnDef="{{item}}">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header_title"> {{ tempColobj[item].DESCRIPTION }}</th>
                                            <td mat-cell *matCellDef="let row">
                                                <span *ngIf="row[item]!==undefined">{{row[item] | toFixedAmount:tempColobj[item].CURRENCY | wordwrap:tempColobj[item].WIDEDATA}}</span>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;let element;" class="row" (click)="RowClick(row);highlightedRows2=row.AUTHORITYGUID" [style.background]="highlightedRows2 == row.AUTHORITYGUID ? selectedColore : ''" [ngClass]="highlightedRows2 == row.AUTHORITYGUID ? 'row-text-colore' : ''"
                                            matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>