<div class=" one "  fxLayout="column"> 
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"> 
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
          <mat-label>Parish </mat-label>
          <input matInput>         
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="pr-4">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Locality </mat-label>
          <input matInput>         
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="pr-4">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Council</mat-label>
          <input matInput>         
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline"  fxFlex="50" class="pr-4">
            <mat-label>Council Property No </mat-label>            
            <input  matInput name="CouncilPropertyNo">              
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">        
            <mat-label>SPI </mat-label>    
            <input  matInput name="SPI">              
        </mat-form-field>
    </div>
</div>