
<div class="one" fxLayout="column">

 
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <mat-select placeholder="Defaults Expense">
                            <mat-option value="option">Cash</mat-option>
                            
                          </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
                        <mat-select placeholder="Default Paid Type">
                            <mat-option value="option">Cash</mat-option>
                           
                          </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <mat-select placeholder="Default Income Type">
                            <mat-option value="option">Cash</mat-option>
                            
                          </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-select placeholder="Matter No. Strategy">
                            <mat-option value="option">xyz</mat-option> 
                          </mat-select>               
                    </mat-form-field>
                </div>


            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-select placeholder="Cost Agreement">
                            <mat-option value="option">Not Requried</mat-option>
                            
                          </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-select placeholder="Default Master Class">
                            <mat-option value="option">Not Requried</mat-option>
                           
                          </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <mat-select placeholder="Matter Owner">
                            <mat-option value="option">Not Requried</mat-option>
                            
                          </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
                        <mat-select placeholder="Matter Free Earner">
                            <mat-option value="option">Not Requried</mat-option>
                           
                          </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <mat-select placeholder="Sundry Free Earner">
                            <mat-option value="option">Not Requried</mat-option>
                            
                          </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-card class="card">
                        <mat-checkbox class="" name="KNOWNBYOTHERNAME">Show Conflict Check when creating new matter
                        </mat-checkbox>
                    </mat-card>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-card class="card">
                        <mat-checkbox class="" name="KNOWNBYOTHERNAME">Allow Mobile Access
                        </mat-checkbox>
                    </mat-card>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-card class="card">
                        <mat-checkbox class="" name="KNOWNBYOTHERNAME">Don’t Notify About Cloud Sync 
                        </mat-checkbox>
                    </mat-card>
                </div>
                
</div>