<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div cdkDrag class="popup_main_div add_edit_contact_main">
    <h2 cdkDragHandle mat-dialog-title>{{title}}
            <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
            </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        <div class="one" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form [formGroup]="TaskForm" fxLayout="column" fxFlex="1 0 auto" name="form">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>User</mat-label>
                        <input formControlName="UserName" placeholder="User" matInput>
                        <mat-icon class="set_icon" matSuffix (click)='SelectContact()'>
                            <img class="menu-disabled" src="assets/icons/web_app/icon_contact_new_d.ico" alt=""
                                matTooltip="Twitter" matTooltipPosition="above">
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.MATTERGUID,'has-warning':errorWarningData.Warning?.MATTERGUID}">
                        <mat-label>Matter</mat-label>
                        <input formControlName="MatterName" placeholder="Matter" matInput>
                        <mat-icon class="set_icon" matSuffix (click)='SelectMatter()'>
                            <img class="menu-disabled" src="assets/icons/web_app/icon_matter_d.ico" alt=""
                                matTooltip="Twitter" matTooltipPosition="above">
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field [ngClass]="{'has-error':errorWarningData.Error?.STATUS,'has-warning':errorWarningData.Warning?.STATUS}" fxFlex="50" class="example pr-4" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select  formControlName="STATUS">
                            <mat-option value="Not Started">Not Started</mat-option>
                            <mat-option value="In Progress">In Progress</mat-option>
                            <mat-option value="Completed">Completed</mat-option>
                            <mat-option value="Waiting on son">Waiting on somone else</mat-option>
                            <mat-option value="Deferred">Deferred</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field [ngClass]="{'has-error':errorWarningData.Error?.PRIORITY,'has-warning':errorWarningData.Warning?.PRIORITY}" fxFlex="50" class="example pr-4" appearance="outline">
                        <mat-label>Priority</mat-label>
                        <mat-select  formControlName="PRIORITY">
                            <mat-option value="0">Low</mat-option>
                            <mat-option value="1">Medium</mat-option>
                            <mat-option value="2">high</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field [ngClass]="{'has-error':errorWarningData.Error?.PERCENTCOMPLETE,'has-warning':errorWarningData.Warning?.PERCENTCOMPLETE}" appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>% complete</mat-label>
                        <input   formControlName="PERCENTCOMPLETE" placeholder="Matter" type="number" matInput>
                    </mat-form-field>

                    <mat-checkbox  formControlName="REMINDER" (change)="ChekBoxClick($event)"  fxFlex="50" class="check_1 pr-4">Reminder </mat-checkbox>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field [ngClass]="{'has-error':errorWarningData.Error?.REMINDERDATE,'has-warning':errorWarningData.Warning?.REMINDERDATE}" appearance="outline" class="example" fxFlex="50" class="pr-4">
                        <input formControlName="REMINDERDATE" (dateInput)="choosedReminderDate('input', $event)"
                            (dateChange)="choosedReminderDate('change', $event)" matInput [matDatepicker]="picker"
                            placeholder="Reminder Date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field [ngClass]="{'has-error':errorWarningData.Error?.REMINDERTIME,'has-warning':errorWarningData.Warning?.REMINDERTIME}" appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Reminder Time</mat-label>
                        <input  formControlName="REMINDERTIME" placeholder="Reminder Time" type="time" matInput>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field [ngClass]="{'has-error':errorWarningData.Error?.STARTDATE,'has-warning':errorWarningData.Warning?.STARTDATE}" appearance="outline" class="example" fxFlex="50" class="pr-4">
                        <input formControlName="STARTDATE" (dateInput)="choosedStartDate('input', $event)"
                            (dateChange)="choosedStartDate('change', $event)" matInput [matDatepicker]="picker2"
                            placeholder="Start Date">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field [ngClass]="{'has-error':errorWarningData.Error?.DUEDATE,'has-warning':errorWarningData.Warning?.DUEDATE}" appearance="outline" class="example" fxFlex="50" class="pr-4">
                        <input  formControlName="DUEDATE" (dateInput)="choosedDueDate('input', $event)"
                            (dateChange)="choosedDueDate('change', $event)" matInput [matDatepicker]="picker3"
                            placeholder="Due Date">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field [ngClass]="{'has-error':errorWarningData.Error?.DESCRIPTION,'has-warning':errorWarningData.Warning?.DESCRIPTION}" appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Description</mat-label>
                        <input formControlName="DESCRIPTION" placeholder="Description" matInput>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button color="accent" (click)="TaskSave()" >Save</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don't Save</button>
    </mat-dialog-actions>
</div>