

.one{
    
    margin-top: 20px;   
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.btn{
    margin-top: 20px;
}
.sideText{ text-align: right; }

// .mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
//     top: 0em !important;
// }