<div class="one" [formGroup]="SettingForm" fxLayout="column">

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select  name="INVOICETEMPLATE" formControlName="INVOICETEMPLATE"  placeholder="Invoice Template">
                            <mat-option *ngFor="let val of getDropDownValue.INVOICETEMPLATE" value="{{val.VALUE}}">{{val.DESCRIPTION}}</mat-option>
                         
                          </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select placeholder="Receipt Template" name="RECEIPTTEMPLATE" formControlName="RECEIPTTEMPLATE">
                            <mat-option  *ngFor="let val of getDropDownValue.RECEIPTTEMPLATE" value="{{val.VALUE}}">{{val.DESCRIPTION}}</mat-option>
                          
                          </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" class="check" fxLayoutAlign="start center" fxFlex="1 0 auto">
            
                <mat-checkbox name="DONTGENERATERECEIPT" formControlName="DONTGENERATERECEIPT" >Don't generate receipt
                </mat-checkbox>
          
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select name="SAVEDOCUMENTS" formControlName="SAVEDOCUMENTS" placeholder="Save Document ">
                            <mat-option *ngFor="let val of getDropDownValue.SAVEDOCUMENTS" value="{{val.VALUE}}">{{val.DESCRIPTION}}</mat-option>
                            
                          </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select name="DIRECTORYSAVESTRATEGY" formControlName="DIRECTORYSAVESTRATEGY" placeholder="Folder Naming strategy">
                            <mat-option value="option">static 1</mat-option>
                            <mat-option value="option">static 2</mat-option>
                          </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select placeholder="Sub Folders ">
                            <mat-option value="option">static 1</mat-option>
                            <mat-option value="option">static 2</mat-option>
                          </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select placeholder="File naming strategy">
                            <mat-option value="option">static 1</mat-option>
                            <mat-option value="option">static 2</mat-option>
                          </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row"  fxLayoutAlign="start center" fxFlex="1 0 auto">
          
                <mat-checkbox class="check_1" name="KNOWNBYOTHERNAME">Record in Document Register
                </mat-checkbox>
          
        </div>

      
    </div>