<div class="one" fxLayout="column">

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select placeholder="Invoice Template">
                            <mat-option value="option">static 1</mat-option>
                            <mat-option value="option">static 2</mat-option>
                          </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select placeholder="Receipt Template">
                            <mat-option value="option">static 1</mat-option>
                            <mat-option value="option">static 2</mat-option>
                          </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" class="check" fxLayoutAlign="start center" fxFlex="1 0 auto">
            
                <mat-checkbox  name="KNOWNBYOTHERNAME">Don't generate receipt
                </mat-checkbox>
          
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select placeholder="Save Document ">
                            <mat-option value="option">static 1</mat-option>
                            <mat-option value="option">static 2</mat-option>
                          </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select placeholder="Folder Naming strategy">
                            <mat-option value="option">static 1</mat-option>
                            <mat-option value="option">static 2</mat-option>
                          </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select placeholder="Sub Folders ">
                            <mat-option value="option">static 1</mat-option>
                            <mat-option value="option">static 2</mat-option>
                          </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select placeholder="File naming strategy">
                            <mat-option value="option">static 1</mat-option>
                            <mat-option value="option">static 2</mat-option>
                          </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row"  fxLayoutAlign="start center" fxFlex="1 0 auto">
          
                <mat-checkbox class="check_1" name="KNOWNBYOTHERNAME">Record in Document Register
                </mat-checkbox>
          
        </div>

      
    </div>