<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div cdkDrag class="popup_main_div add_edit_contact_main">
    <h2 cdkDragHandle mat-dialog-title>{{dialogTitle}}
        <button class="btn" mat-icon-button (click)="CloseUserBudget()" [mat-dialog-close]="false" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        <div class=" one " fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form name="user_budget" id="user_budget" [formGroup]="user_budget" fxLayout="column" fxLayoutAlign="start"
                fxFlex="1 0 auto" name="form">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" class="example" fxFlex="50" class="pr-4">
                        <mat-label>Date</mat-label>
                        <!-- <input (ngModelChange)="firstDate($event)" (dateInput)="budgetsChange('input', $event)" (dateChange)="budgetsChange('change', $event)" matInput  [matDatepicker]="picker3">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker> -->
                        <input (dateInput)="budgetsChange('input', $event)"  (dateChange)="budgetsChange('change', $event)" matInput [matDatepicker]="picker3">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>

                        <!-- <input (ngModelChange)="firstDate($event)" [formControlName]="'Budgetdate'"matInput [matDatepicker]="picker3">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Rate /Hr</mat-label>
                        <input matInput name="number" [formControlName]="'ratehr'" readonly>
                        <mat-icon matSuffix class="secondary-text">ratehr</mat-icon>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Yearly Hours</mat-label>
                        <input (ngModelChange)="YearHour($event)" value="0.00" name="YearHour" type="number"
                            [formControlName]="'YearHour'" matInput>
                        <mat-icon matSuffix class="secondary-text">yearlyhours</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Yearly $(Ex-GST)</mat-label>
                        <input (ngModelChange)="YearExGst($event)" value="0.00" name="YearExGst" type="number"
                            [formControlName]="'YearExGst'" matInput>
                        <mat-icon matSuffix class="secondary-text">yearlygst</mat-icon>
                    </mat-form-field>
                </div>
                <div *ngFor="let val of Months" of fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <input value="{{val}}" name="june1" [formControlName]="'june1'" matInput readonly>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <input [(ngModel)]="YearlyHours"  name="YearlyHours" type="number" [formControlName]="'YearlyHours'"
                            matInput>
                        <mat-icon matSuffix class="secondary-text">julyhours</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
                        <input [(ngModel)]="YearlyRate"  name="YearlyRate" type="number" [formControlName]="'YearlyRate'"
                            matInput>
                        <mat-icon matSuffix class="secondary-text">julyrate</mat-icon>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button color="primary" (click)="ok_budget()" cdkFocusInitial>Ok</button>
        <button mat-raised-button color="danger" [mat-dialog-close]="false" cdkFocusInitial>Cencel</button>
    </mat-dialog-actions>
</div>