<div class="one" [formGroup]="userForm" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <p fxFlex="100">
            Enter a username and password for the search provider if you want to use a different login for this user.If nothing is provided here it will use the system defult login.
        </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.SEARCHUSERNAME,'has-warning':errorWarningData.Warning?.SEARCHUSERNAME}">
            <mat-label>User Name</mat-label>
            <input formControlName="SEARCHUSERNAME" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.SEARCHUSERPASSWORD,'has-warning':errorWarningData.Warning?.SEARCHUSERPASSWORD}">
            <mat-label>Password</mat-label>
            <input formControlName="SEARCHUSERPASSWORD" matInput>
        </mat-form-field>
    </div>
</div>