<div class="one" [formGroup]="userForm" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <p fxFlex="100">
            Enter a username and password for the search provider if you want to use a different login for this user.If nothing is provided here it will use the system defult login.
        </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>User Name</mat-label>
            <input name="usernameinfo" formControlName="usernameinfo" [formControlName]="'usernameinfo'" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Password</mat-label>
            <input name="passwordinfo" formControlName="passwordinfo" [formControlName]="'passwordinfo'" matInput>
        </mat-form-field>
    </div>
</div>