<div class=" one "  fxLayout="column"> 
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4"> 
            <mat-label>Allotment </mat-label>           
            <input  matInput name="Lots">              
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">  
            <mat-label>Block </mat-label>           
            <input  matInput name="PlanType">              
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
            <mat-label>Section </mat-label>           
            <input  matInput name="PlanNo">              
        </mat-form-field>   
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">  
            <mat-label>Portion </mat-label>         
            <input  matInput name="PlanNo">              
        </mat-form-field>        
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline"  fxFlex="25" class="pr-4"> 
            <mat-label>Sub Division </mat-label>                   
            <input  matInput name="Lots">              
        </mat-form-field>
        <mat-form-field appearance="outline"  fxFlex="75" class="pr-4">   
            <mat-label>Parish </mat-label>                 
            <input  matInput name="PlanType">              
        </mat-form-field>  
    </div>  
</div>