<div class="example-loading-shade" *ngIf="isLoadingResults">
  <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div cdkDrag class="popup_main_div add_edit_contact_main" >
  <h2 cdkDragHandle mat-dialog-title>Change Password
    <button class="btn" mat-icon-button (click)="closePassworld()"  [mat-dialog-close]="false" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  <div mat-dialog-content class="mat-typography main">
    <div class=" one " fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form [formGroup]="Chnagepass" fxLayout="column" fxFlex="1 0 auto" name="form">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>User's Name</mat-label>
            <input name="username" [formControlName]="'username'" value="Diana Parkinson" matInput readonly>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>Enter Your Password</mat-label>
            <input name="passoword" [formControlName]="'passoword'" value="" matInput disabled>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Enter Your New Password</mat-label>
            <input name="newpass"  [formControlName]="'newpass'" value="" matInput disabled>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label> Re-Enter New Password</mat-label>
            <input name="repass"  [formControlName]="'repass'" value="" matInput disabled>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
  <mat-dialog-actions align="end" class="popup_ftr">
    <button mat-raised-button color="accent" (click)="SavePass()">Save</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don't Save</button>
  </mat-dialog-actions>
</div>