<div id="forgot-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/sm-silq.png">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to the SILQ!
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            In order to use cloud please ensure you have synced your database to the cloud using the<br> cloud sync option within your desktop application. Fore more information now how to do this,<br> please click on one of the below
        </div>
        <div class="description-footer" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Need help? Call us on 1300 5566 89. Email us at support@silq.com.au
        </div>

    </div>

    <div id="forgot-password-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/sm-silq.png">
            </div>

            <div class="title">RECOVER YOUR PASSWORD</div>

            <form name="forgoPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <button [disabled]="isspiner" mat-raised-button class="submit-button" (click)="forgetpassword()" color="accent" aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid">
                    <mat-spinner *ngIf="isspiner"></mat-spinner> SEND RESET LINK
              </button>

            </form>

            <div class="login login_btm_margin" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">Go back to login</a>
            </div>
            <div fxLayout="column" fxLayoutAlign="start center" class="login_margin">
                <button mat-raised-button class="google">
                            Cloud Sync Guide for Solicitors
                      </button>
                <button mat-raised-button class="facebook">
                            Cloud Sync Guide for Barristers
                      </button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="logo-footer" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/151-54.png">
        </div>
        <div class="copy-right-footer" [@animate]="{value:'*',params:{scale:'0.2'}}">
            @2018 Silqware Pty Ltd All Rights Reserved
        </div>
    </div>
</div>