@import "src/@fuse/scss/fuse";
app-forgot-password {
    #forgot-password {
        width: 100%;
        overflow: hidden;
        // background: url('/assets/images/backgrounds/bg.jpg') no-repeat;
        background-size: cover;
        #forgot-password-intro {
            padding: 128px;
            @include media-breakpoint('sm') {
                padding: 128px 64px;
            }
            .logo {
                width: 128px;
                margin-bottom: 32px;
            }
            .title {
                font-size: 42px;
                font-weight: 300;
                line-height: 1;
            }
            .description {
                padding-top: 16px;
                font-size: 14px;
                max-width: 600px;
                line-height: 25px;
            }
        }
        #forgot-password-form-wrapper {
            width: 400px;
            min-width: 400px;
            max-width: 400px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            @include mat-elevation(16);
            @include media-breakpoint('sm') {
                width: 360px;
                min-width: 360px;
                max-width: 360px;
            }
            @include media-breakpoint('xs') {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
            }
            #forgot-password-form {
                // padding: 128px 48px 48px 48px;
                padding: 115px 48px 40px 48px;
                @include media-breakpoint('xs') {
                    text-align: center;
                    padding: 24px;
                }
                .logo {
                    width: 128px;
                    margin: 32px auto;
                }
                .title {
                    font-size: 21px;
                }
                .description {
                    padding-top: 8px;
                }
                form {
                    width: 100%;
                    padding-top: 32px;
                    mat-form-field {
                        width: 100%;
                        @include media-breakpoint('xs') {
                            width: 80%;
                        }
                    }
                    .submit-button {
                        width: 100%;
                        margin: 16px auto;
                        display: block;
                        @include media-breakpoint('xs') {
                            width: 80%;
                        }
                    }
                }
                .login {
                    margin: 32px auto 24px auto;
                    width: 250px;
                    font-weight: 600;
                    .text {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}

body.theme-default app-forgot-password #forgot-password #forgot-password-form-wrapper {
    background: white;
}

body.theme-default app-forgot-password #forgot-password #forgot-password-intro {
    color: white;
}

body.theme-default app-forgot-password #forgot-password #forgot-password-intro {
    color: white;
    width: 100%;
    overflow: hidden;
    background: url(assets/images/backgrounds/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.logo-footer.ng-trigger.ng-trigger-animate {
    padding: 13px 0px 0px 116px;
}

app-forgot-password #forgot-password #forgot-password-intro .description-footer {
    padding-top: 330px;
    font-size: 14px;
    max-width: 600px;
}

.logo img.ng-tns-c18-2 {
    height: 105px;
}

.mat-divider {
    border-top-width: 3px !important;
}

app-forgot-password #forgot-password #forgot-password-form-wrapper #forgot-password-form button.google {
    background-color: #5a9440;
    margin-bottom: 8px;
    width: 70%;
    text-transform: none;
    color: #FFFFFF;
    font-size: 13px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 0;
}

app-forgot-password #forgot-password #forgot-password-form-wrapper #forgot-password-form button.facebook {
    background-color: #5f3694;
    width: 70%;
    text-transform: none;
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 0;
}

.copy-right-footer.ng-trigger.ng-trigger-animate {
    // padding: 30px 0px 0px 64px;
    // color: #9f9f9f;
    padding: 0px 0px 0px 0;
    color: #9f9f9f;
    text-align: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 0;
}

.login_margin {
    margin-top: 50px;
}

.logo-footer.ng-trigger.ng-trigger-animate {
    text-align: center;
    padding: 30px 0 0;
}

.login_btm_margin {
    margin-bottom: 130px !important;
}

.mat-divider {
    border-top-width: 1px !important;
    width: 80%;
    margin: 0 auto;
    border-top-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1650px) {
    .copy-right-footer.ng-trigger.ng-trigger-animate {
        position: relative;
        bottom: 0;
        padding: 30px 0 10px;
    }
}
