<div [formGroup]="accountMngForm"  class="one" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field  appearance="outline" fxFlex="50" class="pr-4"  > 
            <mat-label>Company Name</mat-label>
            <input  matInput>
        </mat-form-field>

        <mat-form-field  appearance="outline" fxFlex="50" class="pr-4"  > 
            <mat-label>Registration name</mat-label>
            <input  matInput>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field  appearance="outline" fxFlex="33" class="pr-4"  > 
            <mat-label>First Name</mat-label>
            <input  matInput>
        </mat-form-field>

        <mat-form-field  appearance="outline" fxFlex="34" class="pr-4"  > 
            <mat-label>Middle name</mat-label>
            <input  matInput>
        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex="33" class="pr-4"  > 
            <mat-label>Last name</mat-label>
            <input  matInput>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field  appearance="outline" fxFlex="33" class="pr-4"  > 
            <mat-label>Address</mat-label>
            <input  matInput>
        </mat-form-field>

        <mat-form-field  appearance="outline" fxFlex="34" class="pr-4"  > 
            <mat-label>Suburb</mat-label>
            <input  matInput>
        </mat-form-field>


        <mat-form-field  appearance="outline" fxFlex="33" class="pr-4"  > 
            <mat-label>State</mat-label>
            <input  matInput>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field  appearance="outline" fxFlex="33" class="pr-4"  > 
            <mat-label>Postcode</mat-label>
            <input  matInput>
        </mat-form-field>

        <mat-form-field  appearance="outline" fxFlex="34" class="pr-4"  > 
            <mat-label>Phone</mat-label>
            <input  matInput>
        </mat-form-field>


        <mat-form-field  appearance="outline" fxFlex="33" class="pr-4"  > 
            <mat-label>Mobile</mat-label>
            <input  matInput>
        </mat-form-field>
    </div>
    

    

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field  appearance="outline" fxFlex="50" class="pr-4"  > 
            <mat-label>General Email</mat-label>
            <input  matInput>
        </mat-form-field>

        <mat-form-field  appearance="outline" fxFlex="50" class="pr-4"  > 
            <mat-label>Accounts Email</mat-label>
            <input  matInput>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field  appearance="outline" fxFlex="50" class="pr-4"  > 
            <mat-label>Technical Email</mat-label>
            <input  matInput>
        </mat-form-field>

        <mat-form-field  appearance="outline" fxFlex="50" class="pr-4"  > 
            <mat-label>Manager Email</mat-label>
            <input  matInput>
        </mat-form-field>
    </div>
</div>