<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div cdkDrag class="popup_main_div add_invoice_div_main">
    <h2 cdkDragHandle mat-dialog-title>
        Prepare Invoice
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
      </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        <div class=" one " fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form name="addInvoiceForm" id="addInvoiceForm" [formGroup]="addInvoiceForm" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Matter</mat-label>
                        <input matInput readonly placeholder="Matter" formControlName="MATTER">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <mat-label>Invoice No</mat-label>
                        <input matInput placeholder="Date Received" formControlName="INVOICECODE">
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
                        <mat-label>Invoice Date</mat-label>
                        <input (dateInput)="CompletedDate('input', $event)" formControlName="INVOICEDATETEXT" (dateChange)="CompletedDate('change', $event)" matInput [matDatepicker]="picker3">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <mat-label>Due Date</mat-label>
                        <input (dateInput)="CompletedDate('input', $event)" formControlName="DUEDATETEXT" (dateChange)="CompletedDate('change', $event)" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <!-- tab detail start -->
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-tab-group class="add-invoice-tab" mat-align-tabs="start">
                        <mat-tab label="Summary">
                            <app-summary [addInvoiceForm]="addInvoiceForm" [isMax]="isMax" [isMin]="isMin" [isFixPrice]="isFixPrice"> </app-summary>
                        </mat-tab>
                        <mat-tab label="Details">
                            <app-details [addInvoiceForm]="addInvoiceForm" (totalDataOut)=changeTotalDataOut($event)></app-details>
                        </mat-tab>
                        <mat-tab label="Comment">
                            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Comment</mat-label>
                                    <textarea matInput formControlName="COMMENT"></textarea>
                                </mat-form-field>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-tab>
                        <mat-tab label="Discount/Increase">
                            <app-discount-increase [addInvoiceForm]="addInvoiceForm" (discountAmount)=changeDiscountAmount($event)></app-discount-increase>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <!-- tab detail end -->
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div fxFlex="40" style="text-align: right; padding-right: 19px !important;">
                        Discount
                    </div>
                    <mat-form-field appearance="outline" fxFlex="20" class="pr-4">
                        <input matInput readonly formControlName="DISEXAMOUNT">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="pr-4">
                        <input matInput readonly formControlName="DISGSTAMOUNT">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="pr-4">
                        <input matInput readonly formControlName="DISUINAMOUNT">
                    </mat-form-field>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div fxFlex="40" style="text-align: right; padding-right: 19px !important;">
                        Original Total
                    </div>
                    <mat-form-field appearance="outline" fxFlex="20" class="pr-4">
                        <input matInput readonly placeholder="Date Received" [(ngModel)]="ORIEXTOTAL" formControlName="ORIEXTOTAL">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="pr-4">
                        <input matInput readonly placeholder="Date Received" [(ngModel)]="ORIGSTTOTAL" formControlName="ORIGSTTOTAL">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="pr-4">
                        <input matInput readonly placeholder="Date Received" [(ngModel)]="ORIINTOTAL" formControlName="ORIINTOTAL">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div fxFlex="40" style="text-align: right;padding-right: 19px !important;">
                        Override The Total
                    </div>
                    <mat-form-field appearance="outline" fxFlex="20" class="pr-4">
                        <input matInput placeholder="Date Received" [(ngModel)]="OVEEXTOTAL" formControlName="OVEEXTOTAL">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="pr-4">
                        <input matInput readonly placeholder="Date Received" [(ngModel)]="OVEGSTTOTAL" formControlName="OVEGSTTOTAL">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="pr-4">
                        <input matInput placeholder="Date Received" [(ngModel)]="OVEINTOTAL" formControlName="OVEINTOTAL">
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button color="accent" (click)="SaveInvoice()" [disabled]="isspiner"><mat-spinner *ngIf="isspiner"></mat-spinner>Save</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don`t Save</button>
    </mat-dialog-actions>
</div>
<!-- </form> -->