<!-- [formGroup]="matterdetailForm" -->
<div class=" one " fxLayout="column" [formGroup]="matterdetailForm">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.CLASSOFSHARES,'has-warning':errorWarningData.Warning?.CLASSOFSHARES}">
            <mat-label>Class of Shares</mat-label>
            <input matInput formControlName="CLASSOFSHARES">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.NUMBEROFSHARES,'has-warning':errorWarningData.Warning?.NUMBEROFSHARES}">
            <mat-label>Number of Shares</mat-label>
            <input matInput type="number" formControlName="NUMBEROFSHARES">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="pr-4">
        <mat-form-field appearance="outline" fxFlex="100" [ngClass]="{'has-error':errorWarningData.Error?.CONSIDERATION,'has-warning':errorWarningData.Warning?.CONSIDERATION}">
            <mat-label>Consideration</mat-label>
            <input matInput formControlName="CONSIDERATION">
        </mat-form-field>
    </div>
</div>