<div id="matters_detail_div" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <!-- CENTER -->
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-16" [routerLink]="'/matters'">
                  <mat-icon>arrow_back</mat-icon>
                 </button>
                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Estimate Detail for Matter({{currentMatter?.SHORTNAME}})
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Client</span>
                        <span> {{currentMatter?.MATTER}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="estimate" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
            <div fxLayoutAlign="center" class="content">
                <div class="center more_tbl_clmn" fusePerfectScrollbar>
                    <div class="content">
                        <div class="btn top_right_action_billing_position one">
                            <button mat-icon-button (click)="openDialog()" aria-label="More">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>
                        </div>
                        <div class="content">
                            <div class="example-loading-shade" *ngIf="isLoadingResults">
                                <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                            </div>
                            <div class="example-containerdata">
                                <table mat-table #table [dataSource]="Estimatedata" [@animateStagger]="{value:'50'}">
                                    <ng-container matColumnDef="ESTIMATEITEMGUID">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">estimate item guid </th>
                                        <td mat-cell *matCellDef="let row">{{row.ESTIMATEITEMGUID}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="ESTIMATEGUID">
                                        <th mat-header-cell *matHeaderCellDef class="header_title"> estimate guid </th>
                                        <td mat-cell *matCellDef="let row">{{row.ESTIMATEGUID }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="WORKITEMGUID">
                                        <th mat-header-cell *matHeaderCellDef class="header_title"> workitem guid </th>
                                        <td mat-cell *matCellDef="let row">{{row.WORKITEMGUID }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="MATTERGUID">
                                        <th mat-header-cell *matHeaderCellDef class="header_title"> matter guid </th>
                                        <td mat-cell *matCellDef="let row">{{row.MATTERGUID }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="ITEMTYPE">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">item type </th>
                                        <td mat-cell *matCellDef="let row">{{row.ITEMTYPE }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="FEEEARNER">
                                        <th mat-header-cell *matHeaderCellDef class="header_title"> fee earner </th>
                                        <td mat-cell *matCellDef="let row">{{row.FEEEARNER }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="FEETYPE">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">fee type </th>
                                        <td mat-cell *matCellDef="let row">{{row.FEETYPE }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="ORDER">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">order </th>
                                        <td mat-cell *matCellDef="let row">{{row.ORDER }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="QUANTITYFROM">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">quantity from </th>
                                        <td mat-cell *matCellDef="let row">{{row.QUANTITYFROM }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="QUANTITYTYPEFROM">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">quantity type from </th>
                                        <td mat-cell *matCellDef="let row">{{row.QUANTITYTYPEFROM }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="FORMATTEDQUANTITYFROM">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">formatted quantity from </th>
                                        <td mat-cell *matCellDef="let row">{{row.FORMATTEDQUANTITYFROM }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="PRICEFROM">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">price from </th>
                                        <td mat-cell *matCellDef="let row">{{row.PRICEFROM }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="GSTFROM">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">gst from </th>
                                        <td mat-cell *matCellDef="let row">{{row.GSTFROM }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="PRICEINCGSTFROM">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">pricein gst from </th>
                                        <td mat-cell *matCellDef="let row">{{row.PRICEINCGSTFROM }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="QUANTITYTO">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">quantity to </th>
                                        <td mat-cell *matCellDef="let row">{{row.QUANTITYTO }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="QUANTITYTYPETO">
                                        <th mat-header-cell *matHeaderCellDef class="header_title"> quantity type to </th>
                                        <td mat-cell *matCellDef="let row">{{row.QUANTITYTYPETO }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="FORMATTEDQUANTITYTO">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">formatted quantity to </th>
                                        <td mat-cell *matCellDef="let row">{{row.FORMATTEDQUANTITYTO }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="PRICETO">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">price to </th>
                                        <td mat-cell *matCellDef="let row">{{row.PRICETO }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="GSTTO">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">gst to </th>
                                        <td mat-cell *matCellDef="let row">{{row.GSTTO }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="PRICEINCGSTTO">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">pricein gst to </th>
                                        <td mat-cell *matCellDef="let row">{{row.PRICEINCGSTTO }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="SERVICE">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">service </th>
                                        <td mat-cell *matCellDef="let row">{{row.SERVICE }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="SHORTNAME">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">short name </th>
                                        <td mat-cell *matCellDef="let row">{{row.SHORTNAME }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="CLIENTNAME">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">client name </th>
                                        <td mat-cell *matCellDef="let row">{{row.CLIENTNAME }}
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>