.one {
    margin-top: 15px;
}    
.mat-radio-button {
    margin-left: 12px;
}
//Once
.Once{
    margin-top: 15px;
    margin-left: 12px;
}

p#Once{
    margin-left: 3px;
    font-size: 15px;
    width: 100%;
}

//Daily
.Daily{
    margin-top: 15px;
    margin-left: 12px;
}
p#Daily{
    font-size: 15px;
    width: 100%;
    margin-left: 3px;
}

//Weekly
.Weekly{
    margin-top: 15px;
    margin-left: 12px;
}
p#Weekly {
    margin-left: 3px;
    font-size: 15px;
    width: 100%;
}
.mat-checkbox {
    margin-left: 7px;
}
//Monthly
.Monthly{
    margin-top: 15px;
    margin-left: 12px;
}
p#Monthly{
    font-size: 15px;
    width: 100%;
    margin-left: 3px
}
//Yearly
.Yearly{
    margin-top: 15px;
    margin-left: 12px;
}
p#Yearly{
    font-size: 15px;
    width: 100%;
    margin-left: 3px
}
.LastSection{
    //margin-top: 10px;
}
.mat-form-field{

}
.radiobtn_size{
    margin-bottom: 24px !important;
}