<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div cdkDrag class="popup_main_div add_edit_contact_main" >
    <h2 cdkDragHandle mat-dialog-title>{{dialogTitle}}
      <button class="btn" mat-icon-button (click)="CloseEmail()"  [mat-dialog-close]="false" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
      <div class=" one " fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
          <form [formGroup]="EmailTemplete" fxLayout="column" fxFlex="1 0 auto" name="form">
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                    <mat-label>Name</mat-label>
                    <input name="CONTACTNAME" formControlName="name" matInput>
                    <!-- <mat-icon matSuffix class="secondary-text">account_circle</mat-icon> -->
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">              
              <mat-form-field appearance="outline" class="example" fxFlex="100" class="pr-4">
                <mat-label>To</mat-label>
                <input type="text" placeholder="Pick one" aria-label="Number" formControlName = "ToEmail" matInput [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of To_options" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" class="example" fxFlex="50" class="pr-4">
                  <mat-label>CC</mat-label>
                  <input type="text" placeholder="Pick one" aria-label="Number" formControlName = "CCEmail" matInput [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of CC_options" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field appearance="outline" class="example" fxFlex="50" class="pr-4">
                    <mat-label>BCC</mat-label>
                    <input type="text" placeholder="Pick one" aria-label="Number" formControlName = "BCCEmail" matInput [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of BCC_options" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" class="example" fxFlex="50" class="pr-4">
                  <mat-label>Subject</mat-label>
                  <input type="text" placeholder="Pick one" aria-label="Number" formControlName = "subject" matInput [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of SUb_options" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field appearance="outline" class="example" fxFlex="50" class="pr-4">
                    <mat-label>Attachment</mat-label>
                    <input formControlName = "attachment" matInput   value="">
                </mat-form-field>
                <mat-icon matSuffix (click)='DcoumentFloder()'>
                    <img src="assets/icons/web_app/folder.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                </mat-icon>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>Text</mat-label>
                  <textarea  formControlName = "text"  matInput ></textarea>
                </mat-form-field>
                <mat-table class="mat-elevation-z8" [dataSource]="dataSource" fxFlex="50" class="pr-4" matSort>
                    
                    <ng-container matColumnDef="Name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="Description">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.Description}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                    <mat-row [style.background]="highlightedRows == row.Name ? selectedColore : ''" 
                      [ngClass]="highlightedRows == row.Name ? 'row-text-colore' : ''" 
                      highlightedRows=row.Name mat-row *matRowDef="let row; columns: displayedColumns;"
                      (click)="clicktable(row.Name);highlightedRows = row.Name "
                      matRipple>
                    </mat-row>
                </mat-table>	
            </div>
          </form>
      </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button color="accent" (click)="EmailSave()" [disabled]="isspiner" *ngIf="action === 'new'"><mat-spinner *ngIf="isspiner"></mat-spinner>Add</button>
        <button mat-raised-button color="accent" (click)="EmailSave()" [disabled]="isspiner" *ngIf="action === 'edit'"><mat-spinner *ngIf="isspiner"></mat-spinner>Update</button>
        <button mat-raised-button color="accent" (click)="EmailSave()" [disabled]="isspiner" *ngIf="action !== 'new' && action !== 'edit'"><mat-spinner *ngIf="isspiner"></mat-spinner>Duplicate</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don't Save</button>
    </mat-dialog-actions>
</div>