<div id="matters_detail_div" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <!-- CENTER -->
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-16" [routerLink]="'/matters'">
                  <mat-icon>arrow_back</mat-icon>
                 </button>
                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Matter Trust Detail for Matter({{currentMatter?.SHORTNAME}})
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Client</span>
                        <span> {{currentMatter?.MATTER}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="mattertrust" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
            <div fxLayoutAlign="center" class="content">

                <div class="center" fusePerfectScrollbar>
                    <div class="content">
                        <div class="btn top_right_action_billing_position">
                            <button mat-icon-button (click)="openDialog()" aria-label="More">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>
                        </div>
                        <div class="example-containerdata">
                            <div class="example-loading-shade" *ngIf="isLoadingResults">
                                <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                            </div>
                            <mat-table #table [dataSource]="MatterTrustdata" [@animateStagger]="{value:'50'}">
                                <ng-container matColumnDef="Trust Transaction ItemGuid">
                                    <mat-header-cell *matHeaderCellDef class="header_title">trust transactionitem guid</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.TRUSTTRANSACTIONITEMGUID}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Trust Transaction Guid">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">trust transaction guid </mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.TRUSTTRANSACTIONGUID}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Entered Date">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md class="header_title">entered date</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.ENTEREDDATE}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Entered Time">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md class="header_title">entered time</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.ENTEREDTIME}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Amount">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md class="header_title">amount</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.AMOUNT}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Item Type">
                                    <mat-header-cell *matHeaderCellDef class="header_title"> item type</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.ITEMTYPE}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Account Guid">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">account guid</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.ACCOUNTGUID}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Matter Guid">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">matter guid</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.MATTERGUID}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Short Name">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">short name</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.SHORTNAME}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Matter Description">
                                    <mat-header-cell *matHeaderCellDef class="header_title">matter description</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.MATTERDESCRIPTION}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Client Guid">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">client guid</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.CLIENTGUID}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Client Name">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">client name</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.CLIENTNAME}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Bankbsb">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title"> bankbsb</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.BANKBSB}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Bank Account Number">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">bank account number</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.BANKACCOUNTNUMBER}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Ledger Balance">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">ledger balance</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.LEDGERBALANCE}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Purpose">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">purpose</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.PURPOSE}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Contact Name">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">contact name</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.CONTACTNAME}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Transaction Class">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">transaction class</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.TRANSACTIONCLASS}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Transaction Type">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title"> transaction type</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.TRANSACTIONTYPE}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Cashbook">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">cashbook</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.CASHBOOK}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Cashbook Code">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">cashbook code</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.CASHBOOKCODE}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Transaction Date">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">transaction date</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.TRANSACTIONDATE}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Payor">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">payor</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.PAYOR}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Cheque No">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">cheque no</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.CHEQUENO}}
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                </mat-row>
                            </mat-table>
                        </div>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>