<div id="matters_detail_div" class="page-layout carded fullwidth">
    <div class="top-bg accent"></div>
    <!-- CENTER -->
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-16" [routerLink]="'/matters'">
                  <mat-icon>arrow_back</mat-icon>
                 </button>
                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Matter Trust Detail for Matter({{currentMatter?.SHORTNAME}})
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Client</span>
                        <span> {{currentMatter?.MATTER}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="mattertrust" class="page-layout simple left-sidebar inner-sidebar">
            <div fxLayoutAlign="center" class="content">

                <div class="center more_tbl_clmn" fusePerfectScrollbar>
                    <div class="content">
                        <div class="btn top_right_action_billing_position">
                            <button mat-icon-button (click)="openDialog()" aria-label="More">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>
                        </div>
                        <div class="content">
                            <div class="example-loading-shade" *ngIf="isLoadingResults">
                                <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                            </div>
                            <div class="example-containerdata">
                                <table mat-table #table [dataSource]="MatterTrustdata" [@animateStagger]="{value:'50'}">

                                    <ng-container matColumnDef="TRUSTTRANSACTIONITEMGUID">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['TRUSTTRANSACTIONITEMGUID'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.TRUSTTRANSACTIONITEMGUID}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="TRUSTTRANSACTIONGUID">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['TRUSTTRANSACTIONGUID'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.TRUSTTRANSACTIONGUID}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="ENTEREDDATE">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md class="header_title">{{ tempColobj['ENTEREDDATE'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.ENTEREDDATE}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="ENTEREDTIME">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md class="header_title">{{ tempColobj['ENTEREDTIME'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.ENTEREDTIME}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="AMOUNT">
                                        <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md class="header_title">{{ tempColobj['AMOUNT'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.AMOUNT}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="ITEMTYPE">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['ITEMTYPE'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.ITEMTYPE}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="ACCOUNTGUID">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['ACCOUNTGUID'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.ACCOUNTGUID}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="MATTERGUID">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['MATTERGUID'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.MATTERGUID}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="SHORTNAME">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['SHORTNAME'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.SHORTNAME}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="MATTERDESCRIPTION">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['MATTERDESCRIPTION'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.MATTERDESCRIPTION}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="CLIENTGUID">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['CLIENTGUID'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.CLIENTGUID}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="CLIENTNAME">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['CLIENTNAME'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.CLIENTNAME}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="BANKBSB">
                                        <th mat-header-cell *matHeaderCellDef class="header_title"> {{ tempColobj['BANKBSB'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.BANKBSB}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="BANKACCOUNTNUMBER">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['BANKACCOUNTNUMBER'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.BANKACCOUNTNUMBER}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="LEDGERBALANCE">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['LEDGERBALANCE'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.LEDGERBALANCE}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="PURPOSE">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['PURPOSE'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.PURPOSE}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="TRANSACTIONCLASS">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['TRANSACTIONCLASS'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.TRANSACTIONCLASS}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="TRANSACTIONTYPE">
                                        <th mat-header-cell *matHeaderCellDef class="header_title"> {{ tempColobj['TRANSACTIONTYPE'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.TRANSACTIONTYPE}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="CASHBOOK">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['CASHBOOK'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.CASHBOOK}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="CASHBOOKCODE">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['CASHBOOKCODE'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.CASHBOOKCODE}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="TRANSACTIONDATE">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['TRANSACTIONDATE'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.TRANSACTIONDATE}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="DATEENTERED">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['DATEENTERED'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.DATEENTERED}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="CONTACTNAME">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['CONTACTNAME'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.CONTACTNAME}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="PAYOR">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['PAYOR'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.PAYOR}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="CHEQUENO">
                                        <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['CHEQUENO'].DESCRIPTION }}</th>
                                        <td mat-cell *matCellDef="let row">{{row.CHEQUENO}}
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>