<div id="contact" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div fxLayoutAlign="center" class="content">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div">
                <form [formGroup]="userfilter">
                    <mat-form-field class="example" appearance="outline">
                        <mat-label>Show What</mat-label>
                        <mat-select #value name="selected" (selectionChange)="UserTypeChange($event.Userdata)" formControlName="UserType">
                            <mat-option value="all">All Users</mat-option>
                            <mat-option value="activeusers">Active Users</mat-option>
                            <mat-option value="inactiveusers">Inactive Users</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <div class="content">
                <div class="btn contact_right_action one">
                    <button mat-icon-button (click)="userDialog()" aria-label="More">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>
                </div>
                <div class="content">
                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                    </div>
                    <div class="example-containerdata user_module_table">
						<table mat-table [dataSource]="Useralldata" matSort class="mat-elevation-z8">
							<ng-container matColumnDef="Username">
									<th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>Username</th>
									<td mat-cell *matCellDef="let row"> {{row.Username}} </td>
							</ng-container>
							<ng-container matColumnDef="Userid">
								<th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>Userid</th>
								<td mat-cell *matCellDef="let row"> {{row.Userid}} </td>
							</ng-container>

							<ng-container matColumnDef="Active">
									<th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>Active</th>
									<td mat-cell *matCellDef="let row"> {{row.Active}} </td>
							</ng-container>

							<ng-container matColumnDef="Fullname">
									<th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>Fullname</th>
									<td mat-cell *matCellDef="let row"> {{row.Fullname}} </td>
							</ng-container>

							<ng-container matColumnDef="Comment">
									<th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>Comment</th>
									<td mat-cell *matCellDef="let row"> {{row.Comment}} </td>
							</ng-container>

							<ng-container matColumnDef="Position">
									<th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>Position</th>
									<td mat-cell *matCellDef="let row"> {{row.Position}} </td>
							</ng-container>

							<ng-container matColumnDef="Phone">
									<th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>Phone</th>
									<td mat-cell *matCellDef="let row"> {{row.Phone}} </td>
							</ng-container>

							<ng-container matColumnDef="Mobile">
									<th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>Mobile</th>
									<td mat-cell *matCellDef="let row"> {{row.Mobile}} </td>
							</ng-container>

							<ng-container matColumnDef="Email">
									<th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>Email</th>
									<td mat-cell *matCellDef="let row"> {{row.Email}} </td>
							</ng-container>
							
							<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
							<tr [style.background]="highlightedRows == row.Userid ? selectedColore : ''" 
								[ngClass]="highlightedRows == row.Userid ? 'row-text-colore' : ''" 
								highlightedRows=row.Userid mat-row *matRowDef="let row; columns: displayedColumns;"
								(click)="clickuser(row.Userid);highlightedRows = row.Userid "
                                matRipple>
                            </tr>
						</table>
						<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
				</div>
            </div>
        </div>
    </div>
</div>