quick-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 280px;
    min-width: 280px;
    max-width: 280px;
    z-index: 99;
    .mat-slide-toggle-content {
        flex: 1;
    }
}

body.theme-default fuse-sidebar {
    background: #fafafa;
}

//user 2
body.theme-yellow-light fuse-sidebar {
    background: #fafafa;
}

.time_entry_list .mat-button {
    min-width: 30px;
    padding: 0;
    height: 30px !important;
    line-height: 30px;
    color: #fff !important;
}

.time_entry_list .mat-button i.material-icons {
    color: #fff;
    font-size: 20px;
}

.time_entry_list .mat-button.play_btn {
    margin-right: 5px;
}

.time_entry_list .mat-button.pause_btn {
    margin-right: 5px;
}

.time_entry_sidebar .mat-subheader {
    font-size: 22px;
    color: #000 !important;
    text-align: center !important;
    width: 100%;
}

.time_entry_sidebar .mat-subheader span {
    text-align: center !important;
    width: 100%;
}

.mat-list-base .mat-list-item .mat-line {
    font-weight: bold;
}