<div fxLayout="column" fxFlex fusePerfectScrollbar class="time_entry_sidebar">
    <mat-list>
        <h3 matSubheader>
            <span>Timers</span>
        </h3>
        <mat-divider cdkFocusRegionEnd></mat-divider>
        <mat-list-item *ngFor="let event of events" class="time_entry_list">
            <h3 matLine>{{event.matter_hh}}:{{event.matter_mm}}:{{event.matter_ss}}</h3>
            <p matLine class="secondary-text">{{event.title}}</p>
            <button mat-raised-button color="primary" *ngIf="event.start_hidden" mat-button class="play_btn"><i class="material-icons">play_arrow</i></button>
            <button mat-raised-button color="primary" *ngIf="event.pause_hidden" mat-button class="pause_btn"><i class="material-icons">pause</i></button>
            <button mat-raised-button color="primary" mat-button class="pause_btn"><i class="material-icons">stop</i></button>
            <mat-divider cdkFocusRegionEnd></mat-divider>
        </mat-list-item>
        <!-- <mat-list-item class="time_entry_list">
            <h3 matLine>00:00:00</h3>
            <p matLine class="secondary-text">Group Meeting</p>
            <button mat-raised-button color="primary" mat-button class="play_btn"><i class="material-icons">play_arrow</i></button>
          <button mat-raised-button color="primary" mat-button class="pause_btn"><i class="material-icons">pause</i></button>
            <button mat-raised-button color="primary" mat-button class="pause_btn"><i class="material-icons">stop</i></button>
            <mat-divider cdkFocusRegionEnd></mat-divider>
        </mat-list-item>
        <mat-list-item class="time_entry_list">
            <h3 matLine>00:00:00</h3>
            <p matLine class="secondary-text">Public Beta Release</p>
       <button mat-raised-button color="primary" mat-button class="play_btn"><i class="material-icons">play_arrow</i></button> 
            <button mat-raised-button color="primary" mat-button class="pause_btn"><i class="material-icons">pause</i></button>
            <button mat-raised-button color="primary" mat-button class="pause_btn"><i class="material-icons">stop</i></button>
            <mat-divider cdkFocusRegionEnd></mat-divider>
        </mat-list-item> -->
    </mat-list>
</div>