<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="popup_main_div add_edit_contact_main">
    <h2 mat-dialog-title>{{dialogTitle}}
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        <div class=" one " fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form name="matterdetailForm" id="matterdetailForm" [formGroup]="matterdetailForm" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field class="example" fxFlex="50" class="pr-4" appearance="outline">
                        <mat-label>Class</mat-label>
                        <mat-select #value name="selected" formControlName="MATTERCLASS" (ngModelChange)="Classtype($event)">
                            <mat-option *ngFor="let Classoption of Classdata" value="{{Classoption.LOOKUPGUID}}">{{Classoption.LOOKUPFULLVALUE}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example pr-4" fxFlex="40">
                        <mat-label>Matter Num</mat-label>
                        <input matInput formControlName="SHORTNAME">
                    </mat-form-field>
                    <mat-checkbox formControlName="ACTIVE">Active Matter</mat-checkbox>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Matter Description</mat-label>
                        <textarea formControlName="MATTER" matInput></textarea>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="min_height">
                    <mat-tab-group mat-align-tabs="start">
                        <mat-tab label="General">
                            <app-general [matterdetailForm]="matterdetailForm"></app-general>
                        </mat-tab>
                        <mat-tab label="Client & Corres">
                            <app-client [matterdetailForm]="matterdetailForm"></app-client>
                        </mat-tab>
                        <mat-tab label="Rates">
                            <app-rates [matterdetailForm]="matterdetailForm" [GSTTYPEVALI]="GSTTYPEVAL" [BILLINGMETHODVALI]="BILLINGMETHODVAL"></app-rates>
                        </mat-tab>
                        <mat-tab label="Details">
                            <app-commercial *ngIf="classtype=='Commercial'" [matterdetailForm]="matterdetailForm"></app-commercial>
                            <app-compensation *ngIf="classtype=='Compensation' || classtype=='Employement' || classtype=='Medical Negligence' || classtype=='Public Liability' || classtype=='Total and Permanent D' || classtype=='Working injuries Damage' || classtype=='Workers Compensatoior' "
                                [matterdetailForm]="matterdetailForm"></app-compensation>
                            <app-compulsory-acquisition *ngIf="classtype=='Compulsory Acquisition'" [matterdetailForm]="matterdetailForm"></app-compulsory-acquisition>
                            <app-criminal *ngIf="classtype=='18'" [matterdetailForm]="matterdetailForm"></app-criminal>
                            <app-family *ngIf="classtype=='10'" [matterdetailForm]="matterdetailForm"></app-family>
                            <app-immigration *ngIf="classtype=='Immigration'" [matterdetailForm]="matterdetailForm"></app-immigration>
                            <app-leasing *ngIf="classtype=='Leasing'" [matterdetailForm]="matterdetailForm"></app-leasing>
                            <app-litigation *ngIf="classtype=='2'" [matterdetailForm]="matterdetailForm"></app-litigation>
                            <app-maritime *ngIf="classtype=='Maritime'" [matterdetailForm]="matterdetailForm"></app-maritime>
                            <app-mortgage-finance *ngIf="classtype=='Mortgage Finance'" [matterdetailForm]="matterdetailForm"></app-mortgage-finance>
                            <app-property-purchase *ngIf="classtype=='Property Purchase'" [matterdetailForm]="matterdetailForm"></app-property-purchase>
                            <app-property *ngIf="classtype=='Property Sale'" [matterdetailForm]="matterdetailForm"></app-property>
                            <app-strata *ngIf="classtype=='Strata'" [matterdetailForm]="matterdetailForm"></app-strata>
                            <app-wills-estate *ngIf="classtype=='7'" [matterdetailForm]="matterdetailForm"></app-wills-estate>
                            <app-trademark-ip *ngIf="classtype=='Trademark/IP'" [matterdetailForm]="matterdetailForm"></app-trademark-ip>
                        </mat-tab>
                        <mat-tab label="Others">
                            <app-others [matterdetailForm]="matterdetailForm"></app-others>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </form>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button color="accent" (click)="ondialogSaveClick()" [disabled]="isspiner" *ngIf="action !== 'edit'"><mat-spinner *ngIf="isspiner"></mat-spinner>Add</button>
        <button mat-raised-button color="accent" (click)="ondialogSaveClick()" [disabled]="isspiner" *ngIf="action === 'edit'"><mat-spinner *ngIf="isspiner"></mat-spinner>Update</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don`t Save</button>
    </mat-dialog-actions>
</div>
<!-- </form> -->