<div id="pack" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="content" fxLayoutAlign="center">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div responsive_auto">
                <form>
                    <mat-form-field class="example" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select name="AccountClass" [(ngModel)]="ChartData.AccountClass" (selectionChange)="AccountClass($event.value)">
                            <mat-option value="All">All Accounts</mat-option>
                            <mat-option value="Assets">Assets</mat-option>
                            <mat-option value="Liabilities">Liabilities</mat-option>
                            <mat-option value="Equity">Equity</mat-option>
                            <mat-option value="Income">Income</mat-option>
                            <mat-option value="Expenses">Expenses</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="search" appearance="outline">
                        <mat-label>Search</mat-label>
                        <input matInput placeholder="search" (keydown)="FilterSearch($event.target.value)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </form>
            </div>
            <button mat-raised-button color="primary" type="button" id="refreshChartACCTab" (click)="refreshChartACCTab();">Refresh</button>
            <div class="content">
                <div class="page-layout simple left-sidebar inner-sidebar">
                    <div fxLayoutAlign="center" class="content">
                        <div class="center more_tbl_clmn" fusePerfectScrollbar>
                            <div class="content">
                                <div class="content">
                                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                                    </div>
                                    <div class="example-containerdata">
                                        <table class="mat-table simple" [@animateStagger]="{value:'50'}">
                                            <thead class="mat-header-row" fxLayoutAlign="center center">
                                                <th class="mat-header-cell" fxFlex>Account Name</th>
                                                <th class="mat-header-cell" fxFlex="20">Balance</th>
                                                <th class="mat-header-cell" fxFlex="20">Account Type</th>
                                            </thead>
                                        </table>
                                        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                                            <!-- This is the tree node template for leaf nodes -->
                                            <mat-tree-node class="border-top" *matTreeNodeDef="let node" matTreeNodePadding [style.background]="highlightedRows ==  node.index? selectedColore : ''" [ngClass]="highlightedRows == node.index ? 'row-text-colore' : ''" highlightedRows=node.index (click)="RowClick(node);highlightedRows = node.index "
                                                matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                                <!-- use a disabled button to provide padding for tree leaf -->
                                                <button mat-icon-button disabled></button>
                                                <span> {{node.name}}</span>
                                                <span fxFlex="50" class="text-center">{{node.MainList.OPENINGBALANCE | currency}}</span>
                                                <!-- <span fxFlex="20" *ngIf="node.MainList.OPENINGBALANCE>0" class="text-center">{{node.MainList.ACCOUNTTYPE}}</span> -->
                                            </mat-tree-node>
                                            <!-- This is the tree node template for expandable nodes -->
                                            <mat-tree-node class="border-top" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding [style.background]="highlightedRows ==  node.index? selectedColore : ''" [ngClass]="highlightedRows == node.index ? 'row-text-colore' : ''" highlightedRows=node.index
                                                (click)="RowClick(node);highlightedRows = node.index " matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" [style.background]="highlightedRows ==  node.index? selectedColore : ''" [ngClass]="highlightedRows == node.index ? 'row-text-colore' : ''" highlightedRows=node.index
                                                    (click)="RowClick(node);highlightedRows = node.index ">
                                                <mat-icon class="mat-icon-rtl-mirror" >
                                                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                                </mat-icon>
                                              </button>
                                                <span>{{node.name}}</span>
                                                <span>{{node.child}}</span>
                                            </mat-tree-node>
                                        </mat-tree>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>