<div id="account" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="content" fxLayoutAlign="center">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div responsive_auto">
                <form [formGroup]="Accountlist">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field class="example" appearance="outline"  fxFlex="50">
                            <mat-label>Show What type of accounts</mat-label>
                            <mat-select #value name="selected" (selectionChange)="TypeOfAccounts($event)" formControlName="AccountType">
                                <mat-option value="AllAccount">All Account</mat-option>
                                <mat-option value="Assets">Assets</mat-option>
                                <mat-option value="Liabilities">Liabilities</mat-option>
                                <mat-option value="Equity">Equity</mat-option>
                                <mat-option value="Income">Income</mat-option>
                                <mat-option value="Expenses">Expenses</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="search" appearance="outline" fxFlex="50">
                            <mat-label>Search</mat-label>
                            <!-- <input matInput placeholder="Search" (keyup.enter)="onSearch();" [(ngModel)]="searchFilter" formControlName="searchFilter"> -->
                            <!-- <input matInput placeholder="Search" (keydown)="onSearch($event)" formControlName="searchFilter">
                            <mat-icon matSuffix (click)="onSearch('Enter')">search</mat-icon> -->
                            <input matInput placeholder="Search"  formControlName="searchFilter">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>  
                    <button mat-raised-button type="button" color="primary" id="refreshAccount" (click)="loadData(lastFilter);">Refresh</button>
                </form>
            </div>
            <div class="content">
                <div class="page-layout simple left-sidebar inner-sidebar">
                    <div fxLayoutAlign="center" class="content">
                        <div class="center more_tbl_clmn" fusePerfectScrollbar>
                            <div class="content">
                                <div class="btn top_right_action_billing_position">
                                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                                        <mat-icon class="secondary-text">more_vert</mat-icon>
                                    </button>
                                </div>
                                <div class="content">
                                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                                    </div>
                                    <div class="example-containerdata">
                                        <table class="mat-table simple" [@animateStagger]="{value:'50'}">
                                            <thead class="mat-header-row" fxLayoutAlign="center center">
                                                <th class="mat-header-cell" fxFlex>Account Name</th>
                                                <th class="mat-header-cell" fxFlex="20">Type</th>
                                                <th class="mat-header-cell" fxFlex="20">Balance</th>
                                                <th class="mat-header-cell" fxFlex="20">Xero Code</th>
                                                <th class="mat-header-cell" fxFlex="20">MYOB Account</th>
                                            </thead>
                                        </table>
                                        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                                            <mat-tree-node *matTreeNodeDef="let node" class="border-top">
                                                <div fxFlex fxLayoutAlign=" center">
                                                    <span *ngFor="let i of array(treeControl.getLevel(node)) let index" class="indent"></span>
                                                    <button mat-icon-button disabled></button>
                                                    <span [style.background]="highlightedRows == index ? selectedColore : ''" 
                                                    [ngClass]="highlightedRows == index ? 'row-text-colore' : ''"
                                                    (click)="selectTreeNode(index);highlightedRows = index">{{node.item}}</span>
                                                </div>
                                                <div fxFlex="20" class="text-center">
                                                    <button mat-button>
                                                        <span [style.background]="highlightedRows == index ? selectedColore : ''" 
                                                        [ngClass]="highlightedRows == index ? 'row-text-colore' : ''"
                                                        (click)="selectTreeNode(index);highlightedRows = index">{{node.item}} {{treeControl.getLevel(node)}}</span>
                                                    </button>
                                                </div>
                                                <div fxFlex="20" class="text-center">
                                                    <span class="pale">{{node.item}}</span>
                                                </div>
                                                <div fxFlex="20" class="text-center">{{node.item}}</div>
                                                <div fxFlex="20" class="text-center">{{node.item}}</div>     
                                            </mat-tree-node>
                                            <mat-tree-node *matTreeNodeDef="let node when: hasChild;" 
                                                    class="border-top">
                                                <div fxFlex fxLayoutAlign=" center">
                                                    <span *ngFor="let i of array(treeControl.getLevel(node)) let index_1 = index"></span>
                                                    <button mat-icon-button matTreeNodeToggle (click)="loadChildren(node)">
                                                        <mat-icon class="mat-icon-rtl-mirror">
                                                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                                        </mat-icon>
                                                    </button>
                                                    <span>{{node.item}} </span>
                                                </div>
                                                <div fxFlex="20" class="text-center">
                                                    <button mat-button>
                                                        <span>{{node.item}}</span>
                                                    </button>
                                                </div>
                                                <div fxFlex="20" class="text-center">
                                                    <span class="pale">{{node.item}}</span>
                                                </div>
                                                <div fxFlex="20" class="text-center">{{node.item}}</div>     
                                                <div fxFlex="20" class="text-center">{{node.item}}</div>           
                                            </mat-tree-node>
                                        </mat-tree>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>