<div id="matters_detail_div" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-16" [routerLink]="'/matters'">
                  <mat-icon>arrow_back</mat-icon>
              </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Matter Detail for {{currentMatter.id}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>from</span>
                        <span> {{currentMatter.name}} {{currentMatter.lastName}}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group fxLayout="column" fxFlex>
                    <mat-tab label="Matter Information">
                        <div class="order-details tab-content p-24" fusePerfectScrollbar>
                            <div class="section pb-48">
                                <div class="customer mb-32">
                                    <table class="simple">
                                        <tbody>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Matter No</span></td>
                                                <td>
                                                    <span class=" text-truncate">17-0001</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Matter Desc</span></td>
                                                <td>
                                                    <span class=" text-truncate">sdfsfsd</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Client</span></td>
                                                <td> <span class=" text-truncate">AAA Insurance</span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Reference</span></td>
                                                <td> <span class=" text-truncate"></span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Billing Method</span></td>
                                                <td> <span class=" text-truncate"></span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">GST Type</span></td>
                                                <td> <span class=" text-truncate"></span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Rate per Hour</span></td>
                                                <td> <span class=" text-truncate"></span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Rate per Day</span></td>
                                                <td> <span class=" text-truncate"></span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Estimate From</span></td>
                                                <td> <span class=" text-truncate"></span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Fee Agreement Date</span></td>
                                                <td> <span class=" text-truncate"></span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Unbilled Amount</span></td>
                                                <td> <span class=" text-truncate"></span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Invoiced Amount</span></td>
                                                <td> <span class=" text-truncate"></span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Received Amount</span></td>
                                                <td> <span class=" text-truncate"></span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Outstanding Amount</span></td>
                                                <td> <span class=" text-truncate"></span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Total Amount</span></td>
                                                <td> <span class=" text-truncate"></span> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Matter Contacts">
                        <div class="products tab-content p-24" fusePerfectScrollbar>
                            <div class="content">
                                <mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
                                    <ng-container matColumnDef="service">
                                        <mat-header-cell *matHeaderCellDef>Service</mat-header-cell>
                                        <mat-cell *matCellDef="let row">

                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="quantity_from_10">
                                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Quantity From 10</mat-header-cell>
                                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>

                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="price_from">
                                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Price From</mat-header-cell>
                                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>

                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="price_from_inc">
                                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Price From Inc</mat-header-cell>
                                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>

                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="quantity_to">
                                        <mat-header-cell *matHeaderCellDef> Quantity To </mat-header-cell>
                                        <mat-cell *matCellDef="let row">

                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="price_to">
                                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Price To</mat-header-cell>
                                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>

                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="price_toinc">
                                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Price To Inc</mat-header-cell>
                                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>

                                        </mat-cell>
                                    </ng-container>



                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </mat-row>


                                </mat-table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>