<div id="matters_detail_div" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-16" [routerLink]="'/matters'">
                  <mat-icon>arrow_back</mat-icon>
              </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Matter Detail for {{currentMatter?.MATTERGUID}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>from</span>
                        <span> {{currentMatter?.MATTER}}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group fxLayout="column" fxFlex>
                    <mat-tab label="Matter Information">
                        <div class="order-details tab-content p-24" fusePerfectScrollbar>
                            <div class="section pb-48">
                                <div class="customer mb-32">
                                    <table class="simple">
                                        <tbody>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Matter No</span></td>
                                                <td>
                                                    <span class=" text-truncate">{{currentMatter?.SHORTNAME}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Matter Desc</span></td>
                                                <td>
                                                    <span class=" text-truncate">{{currentMatter?.MATTER}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Client</span></td>
                                                <td> <span class=" text-truncate">{{currentMatter?.CLIENT}}</span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Reference</span></td>
                                                <td> <span class=" text-truncate">{{currentMatter?.REFERENCE}}</span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Billing Method</span></td>
                                                <td> <span class=" text-truncate">{{currentMatter?.BILLINGMETHOD}}</span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">GST Type</span></td>
                                                <td> <span class=" text-truncate">{{currentMatter?.GSTTYPE}}</span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Rate per Hour</span></td>
                                                <td> <span class=" text-truncate">{{currentMatter?.RATEPERHOUR|currency}}</span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Rate per Day</span></td>
                                                <td> <span class=" text-truncate">{{currentMatter?.RATEPERDAY |currency}}</span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Estimate From</span></td>
                                                <td> <span class=" text-truncate">{{currentMatter?.ESTIMATE}}</span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Fee Agreement Date</span></td>
                                                <td> <span class=" text-truncate">{{currentMatter?.FEEAGREEMENTDATE}}</span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Unbilled Amount</span></td>
                                                <td> <span class=" text-truncate">{{currentMatter?.UNBILLED|currency}}</span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Invoiced Amount</span></td>
                                                <td> <span class=" text-truncate">{{currentMatter?.INVOICED |currency}}</span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Received Amount</span></td>
                                                <td> <span class=" text-truncate">{{currentMatter?.RECEIVED | currency}}</span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Outstanding Amount</span></td>
                                                <td> <span class=" text-truncate">{{currentMatter?.OUTSTANDING|currency}}</span> </td>
                                            </tr>
                                            <tr>
                                                <td> <span class=" text-truncate text-truncate-label">Total Amount</span></td>
                                                <td> <span class=" text-truncate">{{currentMatter?.TOTALVALUE |currency}}</span> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Matter Contacts">
                        <div class="products tab-content p-24" fusePerfectScrollbar>
                            <div class="content">
                                <mat-table #table [dataSource]="MatterContact" [@animateStagger]="{value:'50'}">
                                    <ng-container matColumnDef="Name">
                                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Name</mat-header-cell>
                                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                                            <p class="company text-truncate">
                                                {{row.CONTACTNAME}}
                                            </p>
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="Type">
                                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Type</mat-header-cell>
                                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                                            <p class="company text-truncate">
                                                {{row.TYPENAME}}
                                            </p>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Mobile">
                                        <mat-header-cell *matHeaderCellDef>Mobile</mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <p class="company text-truncate">
                                                {{row.MOBILE}}
                                            </p>
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="Phone_no">
                                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Phone_no</mat-header-cell>
                                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
                                            <p class="company text-truncate">
                                                {{row.PHONE}}
                                            </p>
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="Email">
                                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Email</mat-header-cell>
                                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                                            <p class="company text-truncate">
                                                {{row.EMAIL}}
                                            </p>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </mat-row>

                                </mat-table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>