<div class=" one " [formGroup]="contactForm" fxLayout="column">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Address1</mat-label>
            <input name="ADDRESS1" [formControlName]="'ADDRESS1'" matInput>{{name}}
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
            <mat-label>Address2</mat-label>
            <input name="ADDRESS2" [formControlName]="'ADDRESS2'" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Address3</mat-label>
            <input name="ADDRESS3" [formControlName]="'ADDRESS3'" matInput>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>Suburb</mat-label>
            <input name="SUBURB" [formControlName]="'SUBURB'" matInput>
            <mat-icon matSuffix class="secondary-text"></mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="33" class="px-4">
            <mat-label>State</mat-label>
            <input name="STATE" [formControlName]="'STATE'" matInput>
            <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="34" class="px-4">
            <mat-label>Postcode</mat-label>
            <input name="POSTCODE" [formControlName]="'POSTCODE'" matInput #postalCode>
            <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="33"  class="px-4">
            <mat-label>Country</mat-label>
            <input name="COUNTRY" [formControlName]="'COUNTRY'" matInput>
            <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-checkbox name="SAMEASSTREET" #chk [formControlName]="'SAMEASSTREET'"
            (change)="triggerSomeEvent(contactForm)" class=" ">Street Address is Postal adress</mat-checkbox>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="33"  class="px-4">
            <mat-label>Address1</mat-label>
            <input name="POSTALADDRESS1" [formControlName]="'POSTALADDRESS1'" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="34"  class="px-4">
            <mat-label>Address2</mat-label>
            <input name="POSTALADDRESS2" [formControlName]="'POSTALADDRESS2'" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="33"  class="px-4">
            <mat-label>Address3</mat-label>
            <input name="POSTALADDRESS3" [formControlName]="'POSTALADDRESS3'" matInput>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>Suburb</mat-label>
            <input name="POSTALSUBURB" [formControlName]="'POSTALSUBURB'" matInput>
            <mat-icon matSuffix class="secondary-text"></mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="33"  class="px-4">
            <mat-label>State {{isChecked}}</mat-label>
            <input name="POSTALSTATE" [formControlName]="'POSTALSTATE'" matInput>
            <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="34"  class="px-4">
            <mat-label>Postcode</mat-label>
            <input name="POSTALPOSTCODE" [formControlName]="'POSTALPOSTCODE'" matInput #postalCode>
            <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="33"  class="px-4">
            <mat-label>Country</mat-label>
            <input name="POSTALCOUNTRY" [formControlName]="'POSTALCOUNTRY'" matInput>
            <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>DX</mat-label>
            <input name="DX" [formControlName]="'DX'" matInput>
            <mat-icon matSuffix class="secondary-text"></mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Suburb</mat-label>
            <input name="DXSUBURB" [formControlName]="'DXSUBURB'" matInput>
            <mat-icon matSuffix class="secondary-text"></mat-icon>
        </mat-form-field>
    </div>
</div>