<div class=" one " fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
    <!-- p-24 -->
    <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form">

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-card class="card">Matters as Client</mat-card>

        </div>


        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <cdk-virtual-scroll-viewport class="scroll" itemSize="50" class="example-viewport">
                <!-- <div *cdkVirtualFor="let item of items" class="example-item"></div> -->
            </cdk-virtual-scroll-viewport>
        </div>


        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-card class="card">Matters as Correspondent</mat-card>

        </div>


        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <cdk-virtual-scroll-viewport class="scroll" itemSize="50" class="example-viewport">
                <!-- <div *cdkVirtualFor="let item of items" class="example-item"></div> -->
            </cdk-virtual-scroll-viewport>
        </div>



    </form>
</div>