<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="popup_main_div timeentry_popup" cdkDrag>
    <h2 cdkDragHandle mat-dialog-title> Resume Timer
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        <div class=" one  mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" >
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class=" one  mb-24" fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                           
                            <mat-form-field appearance="outline" fxFlex="34" class="pr-4" appearance="outline">
                                <mat-label>Date</mat-label>
                                <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                                    (dateInput)="choosedDate('input', $event)"
                                    (dateChange)="choosedDate('change', $event)">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="33" class="pr-4" >
                                <mat-label>Time of day</mat-label>
                                <mat-select formControlName="TimeSlot" (ngModelChange)="ChanageTimeSlot($event)">
                                    <mat-option *ngFor="let data of timeStops" value="{{data}}">{{data}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <material-timepicker class="time_entry_picker" fxFlex="50" color="accent" label="Time Picker" appearance="outline"></material-timepicker> -->
                            <!-- <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                                <mat-label>Time of day</mat-label>
                                <input matInput>
                            </mat-form-field> -->
                           

                            <mat-form-field fxFlex="34" class="pr-4" appearance="outline">
                                <mat-label>Free Erner</mat-label>
                                <mat-select (selectionChange)="itemTypeChange($event.value);">
                                    <mat-option value="WIP">Time Entry</mat-option>
                                    <mat-option value="Activity">Activity</mat-option>
                                    <mat-option value="Sundry">Sundry</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>Duration</mat-label>
                                <input type='number' matInput>
                            </mat-form-field>

                            <mat-form-field fxFlex="50" class="pr-4" appearance="outline">
                                <mat-label>Type</mat-label>
                                <mat-select (selectionChange)="itemTypeChange($event.value);">
                                    <mat-option value="1">Time Entry</mat-option>
                                    <mat-option value="2">Activity</mat-option>
                                    <mat-option value="3">Sundry</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>Charge Ex-GST</mat-label>
                                <input type='number' matInput>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>Charge Inc-GST</mat-label>
                                <input type='number' matInput>
                            </mat-form-field>

                        </div>


                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>Invoice Text</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" class=" pr-4">
                                <mat-label>Notes</mat-label>
                                <textarea cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5"
                                    matInput></textarea>
                            </mat-form-field>

                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button color="accent" (click)="SaveClickTimeEntry()" [disabled]="isspiner">
            <mat-spinner *ngIf="isspiner"></mat-spinner>{{buttonText}}
        </button>
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don't Save</button>
    </mat-dialog-actions>
</div>