<div id="create_diary" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="content" fxLayoutAlign="center">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div responsive_auto">
                
                <form [formGroup]="CreateTimeEnrtyForm" name="CreateTimeEnrtyForm">
                    <mat-form-field class="example" appearance="outline">
                        <mat-select formControlName="DateRange" (selectionChange)="selectDayRange($event.value)" placeholder="Select Date Range">
                            <mat-option value="Today">Today</mat-option>
                            <mat-option value="Last 7 days">Last 7 days</mat-option>
                            <mat-option value="Last 30 days">Last 30 days</mat-option>
                            <mat-option value="Last 90 days">Last 90 days</mat-option>
                            <mat-option value="Date Range">Date Range</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example" fxFlex="17.33">
                        <mat-label>Date Range</mat-label>
                        <input [disabled]="forHideShowDateRangePicker == 'hide'" name="Date" formControlName="Date"  matInput [satDatepicker]="picker2" (dateInput)="DateRange('input', $event)" (dateChange)="DateRange1('change', $event)">
                        <sat-datepicker #picker2 [rangeMode]="true"> </sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
                    </mat-form-field>

                    <mat-form-field class="example" appearance="outline">
                        <mat-select formControlName="Item"  name="Item" (selectionChange)="ItemChange($event.value)" placeholder="Select Date Range">
                            <mat-option value="Billable">Bilable Items</mat-option>
                            <mat-option value="Non Personal">None Personal Items</mat-option>
                            <mat-option value="All">All Items</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example" appearance="outline">
                        <mat-label>Search</mat-label>
                        <input name="Search" 
                        (keyup)='FilterSearch($event.target.value)'
                          matInput placeholder="Search">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </form>
            </div>
              
            
            <button mat-raised-button color="primary" type="button" id="saveCreateDiary" (click)="saveCreateDiary();">Refresh</button>
            <div class="content fix_div_padding">
                <!-- <div class="btn top_right_action_billing_one one">
                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                      <mat-icon class="secondary-text">more_vert</mat-icon>
                   </button>
                </div> -->
                <div id="matter_invoice" class="page-layout simple left-sidebar inner-sidebar">
                    <div fxLayoutAlign="center" class="content">
                        <div class="center more_tbl_clmn" fusePerfectScrollbar>
                            <div class="content">
                                <!-- <div class="btn top_right_action_billing_position">
                                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                                        <mat-icon class="secondary-text">more_vert</mat-icon>
                                    </button>
                                </div> -->
                                <div class="content">
                                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                                    </div>
                                    <div class="example-containerdata">
                                        <div class="grid-overlay" *ngIf="isDisplay">
                                            <div class="grid-overlay-msg"> There is no data to display. </div>
                                        </div>
                                        <table mat-table [dataSource]="TimerDataFordiary" class="mat-elevation-z8">

                                            <!-- Checkbox Column -->
                                            <ng-container matColumnDef="select">
                                              <th mat-header-cell *matHeaderCellDef>
                                                <mat-checkbox  (change)="$event ? masterToggle() : null;helloFunction();"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                [aria-label]="checkboxLabel()">
                                                </mat-checkbox>
                                              </th>
                                              <td mat-cell *matCellDef="let row let index = index">
                                                <mat-checkbox  (click)="$event.stopPropagation();"
                                                (change)="$event ? selection.toggle(row) : null;helloFunction();"
                                                [checked]="selection.isSelected(row)"
                                                [aria-label]="checkboxLabel(row)"
                                                (click)="CheckboxClick();highlightedRows=index"
                                                [style.background]="highlightedRows == index ? selectedColore : ''"
                                                [ngClass]="highlightedRows == index ? 'row-text-colore' : ''"
                                                (click)="Rowclick(row,index);">
                                                </mat-checkbox>
                                              </td>
                                            </ng-container>
                                    
                                            <ng-container matColumnDef="APPOINTMENTDATE">
                                              <th mat-header-cell *matHeaderCellDef>APPOINTMENTDATE </th>
                                              <td mat-cell *matCellDef="let element"> {{element.APPOINTMENTDATE}} </td>
                                            </ng-container>
                                    
                                            <ng-container matColumnDef="APPOINTMENTTIME">
                                              <th mat-header-cell *matHeaderCellDef> APPOINTMENTTIME </th>
                                              <td mat-cell *matCellDef="let element"> {{element.APPOINTMENTTIME}} </td>
                                            </ng-container>
                                       
                                            <ng-container matColumnDef="DURATION">
                                              <th mat-header-cell *matHeaderCellDef> DURATION </th>
                                              <td mat-cell *matCellDef="let element"> {{element.DURATION}} </td>
                                            </ng-container>
                                     
                                            <ng-container matColumnDef="MATTERSHORTNAME">
                                              <th mat-header-cell *matHeaderCellDef> MATTERSHORTNAME </th>
                                              <td mat-cell *matCellDef="let element"> {{element.MATTERSHORTNAME}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="APPOINTMENTTYPE">
                                                <th mat-header-cell *matHeaderCellDef> APPOINTMENTTYPE </th>
                                                <td mat-cell *matCellDef="let element"> {{element.APPOINTMENTTYPE}} </td>
                                              </ng-container>
                                              <ng-container matColumnDef="NOTE">
                                                <th mat-header-cell *matHeaderCellDef> NOTE </th>
                                                <td mat-cell *matCellDef="let element"> {{element.NOTE}} </td>
                                              </ng-container>
                                              <ng-container matColumnDef="PRICE">
                                                <th mat-header-cell *matHeaderCellDef> PRICE </th>
                                                <td mat-cell *matCellDef="let element"> {{element.PRICE}} </td>
                                              </ng-container>
                                              <ng-container matColumnDef="PRICEINCGST">
                                                <th mat-header-cell *matHeaderCellDef> PRICEINCGST </th>
                                                <td mat-cell *matCellDef="let element"> {{element.PRICEINCGST}} </td>
                                              </ng-container>
                                              <ng-container matColumnDef="GST">
                                                <th mat-header-cell *matHeaderCellDef> GST </th>
                                                <td mat-cell *matCellDef="let element"> {{element.GST}} </td>
                                              </ng-container>

                                              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                              <tr mat-row *matRowDef="let row let index = index; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}" (click)="Rowclick(row,index);highlightedRows=index" [style.background]="highlightedRows == index ? selectedColore : ''" [ngClass]="highlightedRows == index ? 'row-text-colore' : ''">
                                              </tr>
                                          </table>
                                        <!-- <table mat-table [dataSource]="TimerDataFordiary" matSort [@animateStagger]="{value:'50'}">
                                            <ng-container *ngFor="let item of displayedColumns;" matColumnDef="{{item}}">
                                                <span *ngIf="item=='select'">
                                                    <th mat-header-cell *matHeaderCellDef>
                                                        <mat-checkbox
                                                            (change)="$event ? masterToggle() : null;helloFunction();"
                                                            [checked]="selection.hasValue() && isAllSelected()"
                                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                            [aria-label]="checkboxLabel()">
                                                        </mat-checkbox>
                                                    </th>
                                                    <td mat-cell *matCellDef="let row let index = index">
                                                        <mat-checkbox (click)="$event.stopPropagation();"
                                                            (change)="$event ? selection.toggle(row) : null;helloFunction();"
                                                            [checked]="selection.isSelected(row)"
                                                            [aria-label]="checkboxLabel(row)"
                                                            (click)="CheckboxClick();highlightedRows=index"
                                                            [style.background]="highlightedRows == index ? selectedColore : ''"
                                                            [ngClass]="highlightedRows == index ? 'row-text-colore' : ''">
                                                        </mat-checkbox>
                                                    </td>
                                                </span>
                                                <span *ngIf="item!='select'">
                                                    <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header> {{ tempColobj[item].DESCRIPTION }}</th>
                                                    <td mat-cell *matCellDef="let row" class="text-{{tempColobj[item].JUSTIFICATION}}-align">
                                                            <span *ngIf="row[item]!==undefined">{{row[item] | toFixedAmount:tempColobj[item].CURRENCY | wordwrap:tempColobj[item].WIDEDATA}}</span>
                                                </td>
                                                </span>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                            <tr mat-row *matRowDef="let row let index = index; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}" (click)="Rowclick(row);highlightedRows=index" [style.background]="highlightedRows == index ? selectedColore : ''" [ngClass]="highlightedRows == index ? 'row-text-colore' : ''">
                                            </tr>
                                        </table> -->
                                    </div>
                                    <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="matter-serach-div sticky_search_div responsive_auto bottom_class">
                    <form [formGroup]="CreateTimeEnrtyForm" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="CreateTimeEnrtyForm" id="CreateTimeEnrtyForm"  >
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <div class="one  mb-24" fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <mat-form-field [ngClass]="{'has-error':errorWarningData.Error?.MATTERGUID,'has-warning':errorWarningData.Warning?.MATTERGUID}" appearance="outline" fxFlex="25" class="pr-4">
                                        <mat-label>Matter</mat-label>
                                        <input matInput readonly placeholder="Placeholder" formControlName="matterautoVal">
                                        <mat-icon matSuffix (click)='selectMatter()'>
                                            <img src="assets/icons/web_app/icon_matter_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                                        </mat-icon>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="20" class="pr-4" appearance="outline" >
                                        <mat-label>Date</mat-label>
                                        <input  matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="QuickDate('input', $event)" (dateChange)="QuickDate('change', $event)" formControlName="ITEMDATETEXT">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="15" class="pr-4" >
                                        <mat-label>Time of day</mat-label>
                                        <mat-select (selectionChange)="timeChange()" formControlName="ITEMTIME">
                                            <mat-option *ngFor="let data of timeStops" value="{{data}}">{{data}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="20" class="pr-4" appearance="outline" >
                                        <mat-label>Fee Earner</mat-label>
                                        <mat-select formControlName="FEEEARNER" (selectionChange)="matterChange('FeeEarner',$event.value)">
                                            <mat-option *ngFor="let user of userList" value="{{user.USERID}}">{{user.FULLNAME}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="25" class="pr-4" >
                                        <mat-label>Duration</mat-label>
                                        <input matInput formControlName="QUANTITY" (focusout)="matterChange('Quantity',$event.value)">
                                        <mat-icon matSuffix class="secondary-text">quantity</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="secondcls" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <mat-form-field fxFlex="25" class="pr-4" appearance="outline" >
                                        <mat-label>Type</mat-label>
                                        <mat-select formControlName="QUANTITYTYPE" (selectionChange)="matterChange('QuantityType',$event.value)">
                                            <mat-option *ngFor="let Activity of ActivityList" value="{{Activity.ACTIVITYID}}">{{Activity.DESCRIPTION}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="25" class="pr-4" >
                                        <mat-label>Price (Ex GST)</mat-label>
                                        <input class="sideText" type="text" numeric numericType="decimal" matInput formControlName="PRICE" (keyup)="calcPE()">
                                        <span class="currency_sign" matPrefix>$&nbsp;</span>
                                        <mat-icon matSuffix class="secondary-text">currency</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="25" class="pr-4" >
                                        <mat-label>Price (Inc GST)</mat-label>
                                        <input class="sideText" type="text" numeric numericType="decimal" matInput formControlName="PRICEINCGST" (keyup)="calcPI()">
                                        <span class="currency_sign" matPrefix>$&nbsp;</span>
                                        <mat-icon matSuffix class="secondary-text">currency</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="40" class="pr-4" appearance="outline" >
                                        <mat-label>Invoice Text</mat-label>
                                        <mat-select #LookupsSelect formControlName="ADDITIONALTEXT">
                                            <mat-option *ngFor="let Lookups of LookupsList" [value]="Lookups.LOOKUPFULLVALUE">{{Lookups.LOOKUPFULLVALUE}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-raised-button color="primary" type="button" id="refreshCreateDiaryEntriesab" (click)="refreshCreateDiaryEntriesab();">Refresh</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>