<div cdkDrag class="popup_main_div delete_main_popup">
    <h1 cdkDragHandle matDialogTitle>Confirm</h1>
    <div mat-dialog-content>
        {{confirmMessage}}
        <div class="border_div" *ngIf="confirmData">
            <ul>
                <li class="list_ui" *ngFor='let item of confirmData'>{{item}}</li>
            </ul>
        </div>
    </div>
    <div mat-dialog-actions class="popup_ftr">
        <div  class="right_btn_child">
            <button  mat-raised-button class="mat-button mat-raised-button mat-primary" type="button" (click)="dialogRef.close(true)">Confirm</button>
        </div>
        <div class="right_btn_child cancel_confirm">
            <button mat-button (click)="dialogRef.close(false)" class="cancel mat-button" type="button" matbadgecolor="accent">Cancel</button>
        </div>
    </div>
</div>