<div id="contact" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div fxLayoutAlign="center" class="content">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div">
                <form fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">
                    <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"> -->
                    <mat-form-field fxFlex="16" class="example" appearance="outline">
                        <mat-label>Name To Check</mat-label>
                        <input matInput >
                    </mat-form-field>
                    
                    <mat-form-field fxFlex="16" class="example" appearance="outline">
                            <mat-label>Filter</mat-label>
                            <input matInput >
                        </mat-form-field>
                        <mat-checkbox disabled checked='true' class="check_top" fxFlex="16" >Check Matter/Contact  </mat-checkbox>
                        <mat-checkbox class="check_top" fxFlex="16">Check WIP </mat-checkbox>
                        <mat-checkbox class="check_top" fxFlex="16">Check File Notes </mat-checkbox>
                        <mat-checkbox class="check_top" fxFlex="16">Check Chronology </mat-checkbox> 
                   
                    <!-- <button mat-raised-button color="primary" type="button" id="refreshContactTab" (click)="refreshContactTab();">Refresh</button> -->
                </form>
            </div>
            <div class="content">
                <!-- <div class="btn contact_right_action one">
                    <button mat-icon-button aria-label="More">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>
                </div> -->
                <div class="content">
                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                    </div>
                    <div class="example-containerdata">
                        <table  mat-table [dataSource]="ConflictData" matSort [@animateStagger]="{value:'50'}">
                            
                            <ng-container matColumnDef="CHRONOLOGYCONFLICT">
                                <th mat-header-cell *matHeaderCellDef>CHRONOLOGYCONFLICT </th>
                                <td mat-cell *matCellDef="let element"> {{element.CHRONOLOGYCONFLICT}} </td>
                              </ng-container>
                              <ng-container matColumnDef="COMPLETEDDATE">
                                <th mat-header-cell *matHeaderCellDef> COMPLETEDDATE </th>
                                <td mat-cell *matCellDef="let element"> {{element.COMPLETEDDATE}} </td>
                              </ng-container>
                              <ng-container matColumnDef="CONTACTCONFLICT">
                                <th mat-header-cell *matHeaderCellDef> CONTACTCONFLICT </th>
                                <td mat-cell *matCellDef="let element"> {{element.CONTACTCONFLICT}} </td>
                              </ng-container>
                              <ng-container matColumnDef="DATE">
                                <th mat-header-cell *matHeaderCellDef> DATE </th>
                                <td mat-cell *matCellDef="let element"> {{element.DATE}} </td>
                              </ng-container>
                              <ng-container matColumnDef="DETAILS">
                                <th mat-header-cell *matHeaderCellDef> DETAILS </th>
                                <td mat-cell *matCellDef="let element"> {{element.DETAILS}} </td>
                              </ng-container>
                              <ng-container matColumnDef="FILENOTECONFLICT">
                                <th mat-header-cell *matHeaderCellDef> FILENOTECONFLICT </th>
                                <td mat-cell *matCellDef="let element"> {{element.FILENOTECONFLICT}} </td>
                              </ng-container>
                              <ng-container matColumnDef="MATDESCCONFLICT">
                                <th mat-header-cell *matHeaderCellDef> MATDESCCONFLICT </th>
                                <td mat-cell *matCellDef="let element"> {{element.MATDESCCONFLICT}} </td>
                              </ng-container>
                              <ng-container matColumnDef="MATTER">
                                <th mat-header-cell *matHeaderCellDef> MATTER </th>
                                <td mat-cell *matCellDef="let element"> {{element.MATTER}} </td>
                              </ng-container>
                              <ng-container matColumnDef="MATTERGUID">
                                <th mat-header-cell *matHeaderCellDef> MATTERGUID </th>
                                <td mat-cell *matCellDef="let element"> {{element.MATTERGUID}} </td>
                              </ng-container>
                              <ng-container matColumnDef="RESULTID">
                                <th mat-header-cell *matHeaderCellDef>RESULTID </th>
                                <td mat-cell *matCellDef="let element"> {{element.RESULTID}} </td>
                              </ng-container>
                              <ng-container matColumnDef="SHORTNAME">
                                <th mat-header-cell *matHeaderCellDef> SHORTNAME </th>
                                <td mat-cell *matCellDef="let element"> {{element.SHORTNAME}} </td>
                              </ng-container>
                              <ng-container matColumnDef="WIPCONFLICT">
                                <th mat-header-cell *matHeaderCellDef> WIPCONFLICT </th>
                                <td mat-cell *matCellDef="let element"> {{element.WIPCONFLICT}} </td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr [style.background]="highlightedRows == row.MATTERGUID ? selectedColore : ''" [ngClass]="highlightedRows == row.MATTERGUID ? 'row-text-colore' : ''" highlightedRows=row.MATTERGUID mat-row *matRowDef="let row; columns: displayedColumns;" (click)="RowClick(row);highlightedRows = row.MATTERGUID "
                                matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                            </tr>
                        </table>
                    </div>
                </div>
                  <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>