<div class="one" [formGroup]="AccountForm" fxLayout="column">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.MYOBEXPORTACCOUNT,'has-warning':errorWarningData.Warning?.MYOBEXPORTACCOUNT}">
            <mat-label>MYOB Export Account</mat-label>
            <input placeholder="MYOB Export Account" formControlName="MYOBEXPORTACCOUNT" matInput>
        </mat-form-field>
    </div>
</div>