@import "src/@fuse/scss/fuse";
app-login {
    #login {
        width: 100%;
        overflow: hidden;
        // background: url('/assets/images/backgrounds/bg.jpg') no-repeat;
        background-size: cover;
        #login-intro {
            padding: 128px;
            @include media-breakpoint('sm') {
                padding: 128px 64px;
            }
            .logo {
                width: 128px;
                margin-bottom: 32px;
            }
            .title {
                font-size: 42px;
                font-weight: 300;
                line-height: 1;
            }
            .description {
                padding-top: 16px;
                font-size: 14px;
                max-width: 600px;
                line-height: 25px;
            }
        }
        #login-form-wrapper {
            width: 400px;
            min-width: 400px;
            max-width: 400px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            @include mat-elevation(16);
            @include media-breakpoint('sm') {
                width: 360px;
                min-width: 360px;
                max-width: 360px;
            }
            @include media-breakpoint('xs') {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
            }
            #login-form {
                // padding: 128px 48px 48px 48px;
                padding: 115px 48px 40px 48px;
                @include media-breakpoint('xs') {
                    text-align: center;
                    padding: 24px;
                }
                .logo {
                    width: 128px;
                    margin: 32px auto;
                }
                .title {
                    font-size: 21px;
                }
                .description {
                    padding-top: 8px;
                }
                form {
                    width: 100%;
                    padding-top: 32px;
                    mat-form-field {
                        width: 100%;
                        @include media-breakpoint('xs') {
                            width: 80%;
                        }
                    }
                    mat-checkbox {
                        margin: 0;
                    }
                    .remember-forgot-password {
                        font-size: 13px;
                        margin-top: 8px;
                        .remember-me {
                            margin-bottom: 16px
                        }
                        .forgot-password {
                            font-size: 13px;
                            font-weight: 600;
                            margin-bottom: 16px
                        }
                    }
                    .submit-button {
                        width: 100%;
                        margin: 16px auto;
                        display: block;
                        cursor: pointer;
                        @include media-breakpoint('xs') {
                            width: 80%;
                        }
                    }
                }
                .separator {
                    font-size: 15px;
                    font-weight: 600;
                    margin: 24px auto;
                    position: relative;
                    overflow: hidden;
                    width: 100px;
                    text-align: center;
                    .text {
                        display: inline-flex;
                        position: relative;
                        padding: 0 8px;
                        z-index: 9999;
                        &:before,
                        &:after {
                            content: '';
                            display: block;
                            width: 30px;
                            position: absolute;
                            top: 10px;
                            border-top: 1px solid;
                        }
                        &:before {
                            right: 100%;
                        }
                        &:after {
                            left: 100%;
                        }
                    }
                }
                button {
                    &.google,
                    &.facebook {
                        width: 70%;
                        text-transform: none;
                        color: #FFFFFF;
                        font-size: 13px;
                        @include media-breakpoint('xs') {
                            width: 60%;
                        }
                        mat-icon {
                            color: #FFFFFF;
                            margin: 0 8px 0 0;
                        }
                    }
                    &.google {
                        background-color: #D73D32;
                        margin-bottom: 8px;
                    }
                    &.facebook {
                        background-color: rgb(63, 92, 154);
                    }
                }
                .register {
                    margin: 32px auto 24px auto;
                    width: 250px;
                    font-weight: 600;
                    .text {
                        margin-right: 8px;
                    }
                    .link {}
                }
            }
        }
    }
}

body.theme-default app-login #login #login-form-wrapper {
    background: white;
}

// app-login #login {
//     background: none;
// }
body.theme-default app-login #login #login-intro {
    color: white;
    width: 100%;
    overflow: hidden;
    background: url(/assets/images/backgrounds/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.logo-footer.ng-trigger.ng-trigger-animate {
    padding: 13px 0px 0px 116px;
}

app-login #login #login-form-wrapper #login-form button.google {
    background-color: #5a9440;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 0;
}

app-login #login #login-form-wrapper #login-form button.facebook {
    background-color: #5f3694;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 0;
}

app-login #login #login-intro .description-footer {
    // padding-top: 330px;
    font-size: 14px;
    max-width: 600px;
    position: absolute;
    bottom: 40px;
    opacity: 0.6;
    color: #fff;
}

.logo img.ng-tns-c18-2 {
    height: 105px;
}

.mat-divider {
    border-top-width: 3px !important;
}

.copy-right-footer.ng-trigger.ng-trigger-animate {
    // padding: 30px 0px 0px 64px;
    // color: #9f9f9f;
    padding: 0px 0px 0px 0;
    color: #9f9f9f;
    text-align: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 0;
}

.login_margin {
    margin-top: 50px;
}
.logo-footer.ng-trigger.ng-trigger-animate {
    text-align: center;
    padding: 30px 0 0;
}

.mat-divider {
    border-top-width: 1px !important;
    width: 80%;
    margin: 0 auto;
}


@media screen and (max-width: 1650px) {
    .copy-right-footer.ng-trigger.ng-trigger-animate {
        position: relative;
        bottom: 0;
        padding: 30px 0 10px;
    }
}