<div class="one" fxLayout="column">

<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-select placeholder="Country">
                        <mat-option value="option">static 1</mat-option>
                        <mat-option value="option">static 2</mat-option>
                      </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-select placeholder="Currency">
                        <mat-option value="option">static 1</mat-option>
                        <mat-option value="option">static 2</mat-option>
                      </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-select placeholder="Tex Type">
                            <mat-option value="option">static 1</mat-option>
                            <mat-option value="option">static 2</mat-option>
                          </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>Tex Rate</mat-label>
                    <input type="number" matInput>
                </mat-form-field>
        </div>
</div>