<div id="General" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div fxLayoutAlign="center" class="content">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div">
                <form>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex="50" class="">
                            <mat-label>Date Range</mat-label>
                            <input matInput placeholder="Choose a date" [satDatepicker]="picker2" (dateInput)="choosedDate()" (dateChange)="choosedDate()">
                            <sat-datepicker #picker2 [rangeMode]="true"> </sat-datepicker>
                            <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
                        </mat-form-field>
                        <mat-form-field class="search" appearance="outline" fxFlex="50">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="Search" (keydown)="onSearch($event)" name="searching" [(ngModel)]="filterVals.searching">
                            <mat-icon matSuffix (click)="onSearch('Enter')">search</mat-icon>
                        </mat-form-field>
                        <mat-checkbox name="ShowReceipts" [checked]="filterVals.ShowReceipts" [(ngModel)]="filterVals.ShowReceipts" (change)="changeValueOfCheckbox()">Receipts</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox name="ShowInvoices" [checked]="filterVals.ShowInvoices" [(ngModel)]="filterVals.ShowInvoices" (change)="changeValueOfCheckbox()">Invoice</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox name="ShowReceiveMoney" [checked]="filterVals.ShowReceiveMoney" [(ngModel)]="filterVals.ShowReceiveMoney" (change)="changeValueOfCheckbox()">Receive Money</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox name="ShowSpendMoney" [checked]="filterVals.ShowSpendMoney" [(ngModel)]="filterVals.ShowSpendMoney" (change)="changeValueOfCheckbox()">Spend Money</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox name="ShowGeneralJournal" [checked]="filterVals.ShowGeneralJournal" [(ngModel)]="filterVals.ShowGeneralJournal" (change)="changeValueOfCheckbox()">General Journal</mat-checkbox>
                    </div>
                </form>
            </div>
            <div class="content">
                <div class="btn contact_right_action one">
                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>
                </div>
                <div class="content">
                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                    </div>
                    <div class="example-containerdata">
                        <table mat-table [dataSource]="generalJournalData" matSort [@animateStagger]="{value:'50'}">
                            <ng-container *ngFor="let item of displayedColumns;" matColumnDef="{{item}}">
                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header> {{ tempColobj[item].DESCRIPTION }}</th>
                                <td mat-cell *matCellDef="let row">
                                    <span *ngIf="row[item]">{{row[item]}}</span>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr [style.background]="highlightedRows == row.CONTACTGUID ? selectedColore : ''" [ngClass]="highlightedRows == row.CONTACTGUID ? 'row-text-colore' : ''" highlightedRows=row.CONTACTGUID mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editContact(row.CONTACTGUID, row);highlightedRows = row.CONTACTGUID "
                                matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                            </tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>