<div id="General" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div fxLayoutAlign="center" class="content">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div">
                <form>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex="50" class="">
                            <mat-label>Date Range</mat-label>
                            <input matInput placeholder="Choose a date" [satDatepicker]="picker2" name="dateRange" [(ngModel)]="dateRange" (dateChange)="choosedDate('change', $event)">
                            <sat-datepicker #picker2 [rangeMode]="true"> </sat-datepicker>
                            <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
                        </mat-form-field>
                        <mat-form-field class="search" appearance="outline" fxFlex="50">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="Search" (keydown)="onSearch($event)" name="SEARCH" [(ngModel)]="filterVals.SEARCH">
                            <mat-icon matSuffix (click)="onSearch('Enter')">search</mat-icon>
                        </mat-form-field>
                        <mat-checkbox *ngIf="accountTypeData.ClickType =='WithoutTrust'"  name="SHOWRECEIPTS" [checked]="filterVals.SHOWRECEIPTS" [(ngModel)]="filterVals.SHOWRECEIPTS" (change)="changeValueOfCheckbox()">Receipts</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox *ngIf="accountTypeData.ClickType =='WithoutTrust'" name="SHOWINVOICES" [checked]="filterVals.SHOWINVOICES" [(ngModel)]="filterVals.SHOWINVOICES" (change)="changeValueOfCheckbox()">Invoice</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox *ngIf="accountTypeData.ClickType =='WithoutTrust'" name="SHOWRECEIVEMONEY" [checked]="filterVals.SHOWRECEIVEMONEY" [(ngModel)]="filterVals.SHOWRECEIVEMONEY" (change)="changeValueOfCheckbox()">Receive Money</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox *ngIf="accountTypeData.ClickType =='WithoutTrust'" name="SHOWSPENDMONEY" [checked]="filterVals.SHOWSPENDMONEY" [(ngModel)]="filterVals.SHOWSPENDMONEY" (change)="changeValueOfCheckbox()">Spend Money</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox *ngIf="accountTypeData.ClickType =='WithoutTrust'" name="SHOWGENERALJOURNAL" [checked]="filterVals.SHOWGENERALJOURNAL" [(ngModel)]="filterVals.SHOWGENERALJOURNAL" (change)="changeValueOfCheckbox()">General Journal</mat-checkbox>
                    
                    
                    
                        <mat-checkbox *ngIf="accountTypeData.ClickType =='WithTrust'" name="SHOWTRUSTRECEIPTS" [checked]="filterVals.SHOWTRUSTRECEIPTS" [(ngModel)]="filterVals.SHOWTRUSTRECEIPTS" (change)="changeValueOfCheckbox()">Trust Receipts</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox *ngIf="accountTypeData.ClickType =='WithTrust'" name="SHOWTRUSTWITHDRAWALS" [checked]="filterVals.SHOWTRUSTWITHDRAWALS" [(ngModel)]="filterVals.SHOWTRUSTWITHDRAWALS" (change)="changeValueOfCheckbox()">Trust Withdrawals</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox *ngIf="accountTypeData.ClickType =='WithTrust'" name="SHOWTRUSTTRANSFERS" [checked]="filterVals.SHOWTRUSTTRANSFERS" [(ngModel)]="filterVals.SHOWTRUSTTRANSFERS" (change)="changeValueOfCheckbox()">Trust Transfers</mat-checkbox>&nbsp;&nbsp;&nbsp;
                     
                    
                    </div>
                </form>
            </div>
            <div class="content">
                <div class="btn contact_right_action one">
                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>
                </div>
                <div class="content">
                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                    </div>
                    <div class="example-containerdata">
                        <div class="grid-overlay" *ngIf="isDisplay">
                            <div class="grid-overlay-msg"> There is no data to display. </div>
                        </div>
                        <table mat-table [dataSource]="generalJournalData" [@animateStagger]="{value:'50'}">
                            <ng-container *ngFor="let item of displayedColumns;" matColumnDef="{{item}}">
                                <th mat-header-cell *matHeaderCellDef class="header_title"> {{ tempColobj[item].DESCRIPTION }}</th>
                                <td mat-cell *matCellDef="let row" class="text-{{tempColobj[item].JUSTIFICATION}}-align">
                                    <span *ngIf="row[item]!==undefined">{{row[item] | toFixedAmount:tempColobj[item].CURRENCY | wordwrap:tempColobj[item].WIDEDATA}}</span>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr [style.background]="highlightedRows == row.JOURNALGUID ? selectedColore : ''" [ngClass]="highlightedRows == row.JOURNALGUID ? 'row-text-colore' : ''" highlightedRows=row.JOURNALGUID mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editjournal(row);highlightedRows = row.JOURNALGUID "
                                matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                            </tr>
                        </table>
                    </div>
                    <!-- <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator> -->
                </div>
            </div>
        </div>
    </div>
</div>
<button mat-raised-button type="button" color="primary" id="refreshGeneral" (click)="refreshGeneral();">Refresh</button>