<div id="safecustody" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div fxLayoutAlign="center" class="content">
        <div class="center p-24" fusePerfectScrollbar>
            <div class="content">
                <div class="btn top_right_action_billing">
                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>
                </div>
                <mat-table #table [dataSource]="safeCustody_table" [@animateStagger]="{value:'50'}">
                    <ng-container matColumnDef="PACKETNUMBER">
                        <mat-header-cell *matHeaderCellDef>PACKETNUMBER</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.PACKETNUMBER}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="SAFECUSTODYGUID">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>SAFECUSTODYGUID</mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.SAFECUSTODYGUID}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="MATTERGUID">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>MATTERGUID</mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.MATTERGUID}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="STATUS">
                        <mat-header-cell *matHeaderCellDef>STATUS</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.STATUS}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="SHORTNAME">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>SHORTNAME</mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.SHORTNAME}}
                        </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="button">
                    <mat-header-cell *matHeaderCellDef><button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>
            
                    <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item aria-label="remove" (click)="deleteContact(row)">
                            <mat-icon>delete</mat-icon>
                            <span>Remove</span>
                        </button>
                    </mat-menu> </mat-header-cell>
                    
                    <mat-cell *matCellDef="let row"></mat-cell>
                </ng-container> -->
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                  </mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
      </div>
  </div>
</div>