<div id="Invoice" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="content" fxLayoutAlign="center">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div responsive_auto">
                <form name="receiveMoneyForm" id="receiveMoneyForm" [formGroup]="receiveMoneyForm" fxLayout="row"
                    fxLayoutAlign="start" fxFlex="1 0 auto">
                    <mat-form-field class="example pr-4" appearance="outline" fxFlex="20">
                        <mat-label>Show What?</mat-label>
                        <mat-select formControlName="ShowWhat" (ngModelChange)="onChange($event)"  formControlName="ReceiveMoneyType">
                            <mat-option value="All Classes">All Classes</mat-option>
                            <mat-option value="Receipt">Receipt</mat-option>
                            <mat-option value="Write Off">Write Off</mat-option>
                            <mat-option value="Income">Income</mat-option>
                            <mat-option value="Capital">Capital</mat-option>
                            <mat-option value="GST Refund">GST Refund</mat-option>
                            <mat-option value="Tax Refund">Tax Refund</mat-option>
                            <mat-option value="Personal">Personal</mat-option>
                            <mat-option value="Other">Other</mat-option>
                            <mat-option value="Non Receipt">Non Receipt</mat-option>
                            <mat-option value="Receipt or Income">Receipt or Income</mat-option>
                            <mat-option value="Credit">Credit</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example pr-4" fxFlex="20">
                        <mat-label>Date Range</mat-label>
                        <input matInput placeholder="Choose a date" formControlName="DateRange"
                            [satDatepicker]="picker2" (dateInput)="choosedDate('input', $event)"
                            (dateChange)="choosedDate('change', $event)">
                        <sat-datepicker #picker2 [rangeMode]="true"> </sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
                    </mat-form-field>
                    <mat-form-field class="example pr-4" appearance="outline" fxFlex="30">
                        <mat-label>Receipts Total Inc</mat-label>
                        <input matInput readonly formControlName="ReceiptsTotalInc">
                    </mat-form-field>
                    <mat-form-field class="example pr-4" appearance="outline" fxFlex="30">
                        <mat-label>Receipts Total Ex</mat-label>
                        <input matInput readonly formControlName="ReceiptsTotalEx">
                    </mat-form-field>
                </form>
            </div>
            <div class="content fix_div_padding">
                <div id="matter_invoice" class="page-layout simple left-sidebar inner-sidebar">
                    <div fxLayoutAlign="center" class="content">
                        <div class="center more_tbl_clmn" fusePerfectScrollbar>
                            <div class="content">
                                <div class="btn top_right_action_billing_position">
                                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                                        <mat-icon class="secondary-text">more_vert</mat-icon>
                                    </button>
                                </div>
                                <div class="content">
                                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                                    </div>
                                    <div class="example-containerdata">
                                        <table mat-table #table [dataSource]="receiveMoneydata"
                                            [@animateStagger]="{value:'50'}" matSort class="mat-elevation-z8">
                                            <ng-container matColumnDef="ACCOUNTNUMBER">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['ACCOUNTNUMBER'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.ACCOUNTNUMBER}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="ALLOCATIONCODE">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['ALLOCATIONCODE'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.ALLOCATIONCODE}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="AMOUNT">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['AMOUNT'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.AMOUNT }}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="BANKACCOUNTGUID">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['BANKACCOUNTGUID'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.BANKACCOUNTGUID }}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="CREDITCONTACTNAME">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['CREDITCONTACTNAME'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.CREDITCONTACTNAME }}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="CREDITSHORTNAME">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['CREDITSHORTNAME'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.CREDITSHORTNAME }}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="CONTACTNAME">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['CONTACTNAME'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.CONTACTNAME}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="EXPENDITUREGUID">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['EXPENDITUREGUID'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.EXPENDITUREGUID}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="FIRMGUID">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['FIRMGUID'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.FIRMGUID}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="INCOMETYPE">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['INCOMETYPE'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.INCOMETYPE}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="INVOICECODE">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['INVOICECODE'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.INVOICECODE}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="INVOICEDATE">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['INVOICEDATE'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.INVOICEDATE}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="INVOICEGUID">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['INVOICEGUID'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.INVOICEGUID}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="INVOICETOTAL">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['INVOICETOTAL'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.INVOICETOTAL}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="MATTERGUID">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['MATTERGUID'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.MATTERGUID}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="PAYEE">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['PAYEE'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.PAYEE}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="RECEIPTALLOCATIONGUID">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['RECEIPTALLOCATIONGUID'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.RECEIPTALLOCATIONGUID}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="RECEIPTAMOUNTEXGST">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['RECEIPTAMOUNTEXGST'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.RECEIPTAMOUNTEXGST}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="RECEIPTCODE">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['RECEIPTCODE'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.RECEIPTCODE}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="RECEIPTDATE">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['RECEIPTDATE'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.RECEIPTDATE}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="RECEIPTGST">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['RECEIPTGST'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.RECEIPTGST}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="RECEIPTGUID">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['RECEIPTGUID'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.RECEIPTGUID}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="RECEIPTTOTAL">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['RECEIPTTOTAL'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.RECEIPTTOTAL}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="XEROGUID">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header>
                                                    {{ tempColobj['XEROGUID'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.XEROGUID}}
                                                </td>
                                            </ng-container>
                                            <!-- <ng-container matColumnDef="AMOUNTOUTSTANDINGEXGST">
                                                <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['AMOUNTOUTSTANDINGEXGST'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.AMOUNTOUTSTANDINGEXGST}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="AMOUNTOUTSTANDINGINCGST">
                                                <th mat-header-cell *matHeaderCellDef class="header_title"> {{ tempColobj['AMOUNTOUTSTANDINGINCGST'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.AMOUNTOUTSTANDINGINCGST}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="DISBURSEMENTAMOUNTEXGST">
                                                <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['DISBURSEMENTAMOUNTEXGST'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.DISBURSEMENTAMOUNTEXGST}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="DISBURSEMENTAMOUNTINCGST">
                                                <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['DISBURSEMENTAMOUNTINCGST'].DESCRIPTION }} </th>
                                                <td mat-cell *matCellDef="let row">{{row.DISBURSEMENTAMOUNTINCGST}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="FOREIGNCURRENCYID">
                                                <th mat-header-cell *matHeaderCellDef class="header_title"> {{ tempColobj['FOREIGNCURRENCYID'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.FOREIGNCURRENCYID}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="FOREIGNCURRENCYRATE">
                                                <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['FOREIGNCURRENCYRATE'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.FOREIGNCURRENCYRATE}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="FOREIGNCURRENCYAMOUNT">
                                                <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['FOREIGNCURRENCYAMOUNT'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.FOREIGNCURRENCYAMOUNT}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="FOREIGNCURRENCYGST">
                                                <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['FOREIGNCURRENCYGST'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.FOREIGNCURRENCYGST}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="COMMENT">
                                                <th mat-header-cell *matHeaderCellDef class="header_title">{{ tempColobj['COMMENT'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.COMMENT}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="INVOICEGUID">
                                                <th mat-header-cell *matHeaderCellDef class="header_title"> {{ tempColobj['INVOICEGUID'].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row">{{row.INVOICEGUID}}
                                                </td>
                                            </ng-container> -->
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                            <tr mat-row
                                                [style.background]="highlightedRows == row.RECEIPTGUID ? selectedColore : ''"
                                                *matRowDef="let row; columns: displayedColumns;"
                                                [ngClass]="highlightedRows == row.RECEIPTGUID ? 'row-text-colore' : ''"
                                                class="contact"
                                                (click)="selectMatterId(row);highlightedRows = row.RECEIPTGUID"
                                                matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                            </tr>
            
                                        </table>
                                    </div>
                                </div>
                                <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize"
                                    (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>