<div id="ReceiveMoney" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="content" fxLayoutAlign="center">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div responsive_auto">
                <form name="receiveMoneyForm" id="receiveMoneyForm" [formGroup]="receiveMoneyForm" fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">
                    <mat-form-field class="example pr-4" appearance="outline" fxFlex="20">
                        <mat-label>Show What?</mat-label>
                        <mat-select formControlName="ShowWhat" (selectionChange)="onChange($event)">
                            <mat-option value=" ">All Classes</mat-option>
                            <mat-option value="Receipt">Receipt</mat-option>
                            <mat-option value="Write Off">Write Off</mat-option>
                            <mat-option value="Income">Income</mat-option>
                            <mat-option value="Capital">Capital</mat-option>
                            <mat-option value="GST Refund">GST Refund</mat-option>
                            <mat-option value="Tax Refund">Tax Refund</mat-option>
                            <mat-option value="Personal">Personal</mat-option>
                            <mat-option value="Other">Other</mat-option>
                            <mat-option value="Non Receipt">Non Receipt</mat-option>
                            <mat-option value="Receipt or Income">Receipt or Income</mat-option>
                            <mat-option value="Credit">Credit</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example pr-4" fxFlex="20">
                        <mat-label>Date Range</mat-label>
                        <input matInput placeholder="Choose a date" formControlName="DateRange" [satDatepicker]="picker2" (dateInput)="choosedDate('input', $event)" (dateChange)="choosedDate('change', $event)">
                        <sat-datepicker #picker2 [rangeMode]="true"> </sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
                    </mat-form-field>
                    <mat-form-field class="example pr-4" appearance="outline" fxFlex="30">
                        <mat-label>Receipts Total Inc</mat-label>
                        <input matInput readonly formControlName="ReceiptsTotalInc" [(ngModel)]="totalAountData.TOTALINCGST">
                    </mat-form-field>
                    <mat-form-field class="example pr-4" appearance="outline" fxFlex="30">
                        <mat-label>Receipts Total Ex</mat-label>
                        <input matInput readonly formControlName="ReceiptsTotalEx" [(ngModel)]="totalAountData.TOTALEXGST">
                    </mat-form-field>
                    <button mat-raised-button type="button" color="primary" id="refreshReceiceMoany" (click)="refreshReceiceMoany()">Refresh</button>
                </form>
            </div>
            <div class="content fix_div_padding">
                <div id="matter_invoice" class="page-layout simple left-sidebar inner-sidebar">
                    <div fxLayoutAlign="center" class="content">
                        <div class="center more_tbl_clmn" fusePerfectScrollbar>
                            <div class="content">
                                <div class="btn top_right_action_billing_position">
                                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                                        <mat-icon class="secondary-text">more_vert</mat-icon>
                                    </button>
                                </div>
                                <div class="content">
                                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                                    </div>
                                    <div class="example-containerdata">
                                        <div class="grid-overlay" *ngIf="isDisplay">
                                            <div class="grid-overlay-msg"> There is no data to display. </div>
                                        </div>
                                        <table mat-table #table [dataSource]="receiveMoneydata" matSort [@animateStagger]="{value:'50'}">
                                            <ng-container *ngFor="let item of displayedColumns;" matColumnDef="{{item}}">
                                                <th mat-header-cell *matHeaderCellDef class="header_title" mat-sort-header> {{ tempColobj[item].DESCRIPTION }}</th>
                                                <td mat-cell *matCellDef="let row" class="text-{{tempColobj[item].JUSTIFICATION}}-align">
                                                    <span *ngIf="row[item]!==undefined">{{row[item] | toFixedAmount:tempColobj[item].CURRENCY}}</span>
                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                            <tr mat-row [style.background]="highlightedRows == row.INCOMEGUID ? selectedColore : ''" *matRowDef="let row; columns: displayedColumns;" [ngClass]="highlightedRows == row.INCOMEGUID ? 'row-text-colore' : ''" class="contact" (click)="selectMatterId(row);highlightedRows = row.INCOMEGUID"
                                                matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                                <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>