<div id="account" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="content" fxLayoutAlign="center">
        <div class="center p-24 more_tbl_clmn list_tbl_main" fusePerfectScrollbar>
            <div class="matter-serach-div sticky_search_div responsive_auto">
                <form [formGroup]="MainSearching">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="33" class="example" appearance="outline">
                                    <mat-label>Status</mat-label>
                                    <mat-select formControlName="status"  >
                                        <mat-option value="all">All</mat-option>
                                        <mat-option value="Expense">Incomplete</mat-option>
                                        <mat-option value="Capital">Pending</mat-option>
                                        <mat-option value="Pay GST">Waiting</mat-option>
                                        <mat-option value="Pay Tax">Complete</mat-option>
                                        <mat-option value="Personal">Error</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-checkbox class="check_top" (change)="CheckboxChecxed()" formControlName="matterCheck" >All Matters </mat-checkbox>

                            <mat-form-field class="example" fxFlex="34"  appearance="outline" >
                                    <mat-label>Matter</mat-label>
                                    <input formControlName="matter" readonly   matInput>
                                    <mat-icon class="set_icon" matSuffix (click)='SelectMatter()'  >
                                            <img class="menu-disabled" src="assets/icons/web_app/icon_matter_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                                        </mat-icon>
                                </mat-form-field>
                                
                               
                                
                                <mat-form-field appearance="outline" class="example" fxFlex="33">
                                        <mat-label>Date Range</mat-label>
                                        <input  matInput  [satDatepicker]="picker2" (dateInput)="DateRange()" (dateChange)="DateRange1()">
                                        <sat-datepicker #picker2 [rangeMode]="true"> </sat-datepicker>
                                        <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
                                    </mat-form-field>
                              
                    </div>  
                    <!-- <button mat-raised-button type="button" color="primary" id="refreshAccount" (click)="loadData(lastFilter);">Refresh</button> -->
                </form>
            </div>
            <div class="content">
                <div class="page-layout simple left-sidebar inner-sidebar">
                    <div fxLayoutAlign="center" class="content">
                        <div class="center more_tbl_clmn" fusePerfectScrollbar>
                            <div class="content">
                                <div class="btn top_right_action_billing_position">
                                    <button mat-icon-button  aria-label="More">
                                        <mat-icon class="secondary-text">more_vert</mat-icon>
                                    </button>
                                </div>
                                <div class="content">
                                    <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
                                        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                                    </div> -->
                                    <div class="example-containerdata">
                                        
                                            <!-- table view  -->
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>