<!-- SIDEBAR HEADER -->


<div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">
     <h3 class="one"><strong class="x">Matter Details</strong></h3>
  
  </div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<mat-card class="two">
  <div class="content p-24" fusePerfectScrollbar>

  <div class="file-details" [@animate]="{value:'*',params:{delay:'200ms'}}">



      <div class="offline-switch">
          <mat-slide-toggle  labelPosition="before">Available Offline</mat-slide-toggle>
      </div>

      <div class="title">Info</div>

      <table>
          <tr class="type">
              <th>Type</th>
              <td>XYZ</td>
          </tr>

          <tr class="size">
              <th>Size</th>
              <td>35</td>
          </tr>

          <tr class="location">
              <th>Location</th>
              <td>AHMEDABAD</td>
          </tr>

          <tr class="owner">
              <th>Owner</th>
              <td>Moon</td>
          </tr>

          <tr class="modified">
              <th>Modified</th>
              <td>Yes</td>
          </tr>

          <tr class="opened">
              <th>Opened</th>
              <td>no</td>
          </tr>

          <tr class="created">
              <th>Created</th>
              <td>yes</td>
          </tr>
      </table>
  </div>
  <br/>

  <button class="button primary" mat-raised-button>Edit</button>

</div>
</mat-card>

<!-- / SIDEBAR CONTENT -->
