<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>

<div class="popup_main_div">
    <h2 mat-dialog-title>{{dialogTitle}}
        <button class="btn" mat-icon-button (click)="ondialogcloseClick()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
            </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        <div class=" one " fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <!-- p-24 -->
            <form name="loginForm" [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field class="example" fxFlex="50" class="pr-4" appearance="outline">
                        <mat-select formControlName="CONTACTTYPE" #value name="selected" [(ngModel)]="nameSelected" (click)="onClick(value)">
                            <mat-option [value]="val.Name" *ngFor="let val of common">{{val.Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-checkbox formControlName="ACTIVE">Contact is Active</mat-checkbox>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Name</mat-label>
                        <input name="ContactName" formControlName="ContactName" matInput>
                        <!-- <mat-icon matSuffix class="secondary-text">account_circle</mat-icon> -->
                    </mat-form-field>
                </div>
                <!-- for contactGuid -->




                <!-- <input type="hidden" name="CONTACTGUID"  formControlName="CONTACTGUID" > -->
                <!-- <mat-icon matSuffix class="secondary-text">account_circle</mat-icon> -->



                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-tab-group mat-align-tabs="start">
                        <mat-tab *ngIf="nameSelected==='Person' ||nameSelected==='Party' ||nameSelected==='Payee/Payor'" label="Person">
                            <app-person [loginForm]="loginForm"></app-person>
                        </mat-tab>
                        <mat-tab *ngIf="nameSelected==='Company'" label="Company">
                            <app-company></app-company>
                        </mat-tab>
                        <mat-tab label="Ph/Web">
                            <app-ph [loginForm]="loginForm"></app-ph>
                        </mat-tab>
                        <mat-tab label="Addr.">
                            <app-address [loginForm]="loginForm"></app-address>
                        </mat-tab>
                        <mat-tab label="ID">
                            <app-id [loginForm]="loginForm"></app-id>
                        </mat-tab>
                        <mat-tab label="Other">
                            <app-other [loginForm]="loginForm"></app-other>
                        </mat-tab>
                        <!-- <mat-tab label="Rates">Content 3</mat-tab>
                <mat-tab label="Matters"><app-matters></app-matters></mat-tab> -->
                    </mat-tab-group>
                </div>
            </form>
        </div>
    </div>


    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button mat-dialog-close color="accent" (click)="ondialogSaveClick()" [disabled]="isspiner" *ngIf="action !== 'edit'"><mat-spinner *ngIf="isspiner"></mat-spinner>Add</button>
        <button mat-raised-button mat-dialog-close color="accent" (click)="ondialogSaveClick()" [disabled]="isspiner" *ngIf="action === 'edit'"><mat-spinner *ngIf="isspiner"></mat-spinner>Update</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Don't Save</button>
    </mat-dialog-actions>

</div>