<div id="matters_detail_div" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <!-- CENTER -->
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-16" [routerLink]="'/matters'">
                  <mat-icon>arrow_back</mat-icon>
                 </button>
                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Receipts & Credits Detail for Matter({{currentMatter?.SHORTNAME}})
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Client</span>
                        <span> {{currentMatter?.MATTER}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="receipts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
            <div fxLayoutAlign="center" class="content">
                <div class="center" fusePerfectScrollbar>
                    <div class="content">
                        <div class="btn top_right_action_billing">
                            <button mat-icon-button (click)="openDialog()" aria-label="More">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>
                        </div>
                        <div class="example-containerdata">
                            <div class="example-loading-shade" *ngIf="isLoadingResults">
                                <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                            </div>
                            <mat-table #table [dataSource]="ReceiptsCreditsdata" [@animateStagger]="{value:'50'}">
                                <ng-container matColumnDef="Income Code">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="header_title">income code</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.INCOMECODE}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Income Guid">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md class="header_title">income guid</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.INCOMEGUID }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Income Class">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md class="header_title">income class</mat-header-cell>
                                    <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.INCOMECLASS}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Income Type">
                                    <mat-header-cell *matHeaderCellDef class="header_title"> income type </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.INCOMETYPE}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Firmguid">
                                    <mat-header-cell *matHeaderCellDef class="header_title"> firm guid</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.FIRMGUID}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Short Name">
                                    <mat-header-cell *matHeaderCellDef class="header_title"> short name </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.SHORTNAME}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Client Name">
                                    <mat-header-cell *matHeaderCellDef class="header_title"> client name</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.CLIENTNAME}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Allocation">
                                    <mat-header-cell *matHeaderCellDef class="header_title"> allocation</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.ALLOCATION}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Income Date">
                                    <mat-header-cell *matHeaderCellDef class="header_title"> income date</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.INCOMEDATE}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Payee">
                                    <mat-header-cell *matHeaderCellDef class="header_title"> payee</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.PAYEE}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Amount">
                                    <mat-header-cell *matHeaderCellDef class="header_title"> amount</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.AMOUNT}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Gst">
                                    <mat-header-cell *matHeaderCellDef class="header_title"> gst</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.GST}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Total">
                                    <mat-header-cell *matHeaderCellDef class="header_title"> total</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.TOTAL}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Bank AccountGuid">
                                    <mat-header-cell *matHeaderCellDef class="header_title"> bank account guid</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.BANKACCOUNTGUID}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Income AccountGuid">
                                    <mat-header-cell *matHeaderCellDef class="header_title"> income account guid</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.INCOMEACCOUNTGUID}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Note">
                                    <mat-header-cell *matHeaderCellDef class="header_title"> note </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.NOTE}}
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                </mat-row>
                            </mat-table>
                        </div>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons="true"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>