@import "src/@fuse/scss/fuse";
app-receipts-credits {
    width: 100%;
}

#receipts {
    .header {
        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            @include mat-elevation(1);
            .search {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 18px;
                input {
                    width: 100%;
                    height: 48px;
                    min-height: 48px;
                    max-height: 48px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .content {
        overflow: hidden;
        // margin-top: 10px;
        .example {
            width: 18%;
            padding: 10px;
            .sidebar {
                &:not(.locked-open) {
                    background: white;
                }
            }
        }
    }
}

.search {
    width: 45% !important;
    padding: 20px !important;
}

//For Scoller add css
.example-containerdata {
    height: 50%;
    overflow: auto;
  }
.mat-table.mat-table.ng-trigger.ng-trigger-animateStagger {
    width: 300%;
}