<div id="matters_detail_div" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <!-- CENTER -->
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-16" [routerLink]="'/matters'">
                  <mat-icon>arrow_back</mat-icon>
                 </button>
                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Workin Progress for Matter({{currentMatter?.SHORTNAME}})
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Client</span>
                        <span> {{currentMatter?.MATTER}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="work_in_progress" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
            <div fxLayoutAlign="center" class="content">
                <div class="center more_tbl_clmn" fusePerfectScrollbar>
                    <div class="content">
                        <div class="btn top_right_action_billing_position">
                            <button mat-icon-button (click)="openDialog()" aria-label="More">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>
                        </div>
                        <div class="example-containerdata">
                            <div class="example-loading-shade" *ngIf="isLoadingResults">
                                <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                            </div>
                            <div class="content">
                                <div class="example-loading-shade" *ngIf="isLoadingResults">
                                    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                                </div>
                                <div class="example-containerdata">
                                    <table mat-table #table [dataSource]="WorkInProgressdata" [@animateStagger]="{value:'50'}">
                                        <ng-container matColumnDef="INVOICEGUID">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">invoice guid</th>
                                            <td mat-cell *matCellDef="let row">{{row.INVOICEGUID}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="INVOICEORDER">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">invoice order</th>
                                            <td mat-cell *matCellDef="let row">{{row.INVOICEORDER}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="ITEMTYPE">
                                            <th mat-header-cell *matHeaderCellDef class="header_title"> item type </th>
                                            <td mat-cell *matCellDef="let row">{{row.ITEMTYPE}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="ITEMDATE">
                                            <th mat-header-cell *matHeaderCellDef fxShow.gt-sm class="header_title">item date</th>
                                            <td mat-cell *matCellDef="let row" fxShow.gt-sm>{{row.ITEMDATE}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="ITEMTIME">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">item time</th>
                                            <td mat-cell *matCellDef="let row">{{row.ITEMTIME}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="FEEEARNER">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">fee earner</th>
                                            <td mat-cell *matCellDef="let row">{{row.FEEEARNER}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="FEETYPE">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">fee type</th>
                                            <td mat-cell *matCellDef="let row">{{row.FEETYPE}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="QUANTITY">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">quantity</th>
                                            <td mat-cell *matCellDef="let row">{{row.QUANTITY}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="QUANTITYTYPE">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">quantity type</th>
                                            <td mat-cell *matCellDef="let row">{{row.QUANTITYTYPE}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="FORMATTEDQUANTITY">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">formatted quantity</th>
                                            <td mat-cell *matCellDef="let row">{{row.FORMATTEDQUANTITY}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="PRICE">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">price</th>
                                            <td mat-cell *matCellDef="let row">{{row.PRICE}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="GST">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">gst</th>
                                            <td mat-cell *matCellDef="let row">{{row.GST}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="GSTTYPE">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">gst type</th>
                                            <td mat-cell *matCellDef="let row">{{row.GSTTYPE}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="PRICEINCGST">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">priceinc gst</th>
                                            <td mat-cell *matCellDef="let row">{{row.PRICEINCGST}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="GSTCHARGED">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">gst charged</th>
                                            <td mat-cell *matCellDef="let row">{{row.GSTCHARGED}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="PRICECHARGED">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">price charged</th>
                                            <td mat-cell *matCellDef="let row">{{row.PRICECHARGED}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="PRICEINCGSTCHARGED">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">priceinc gst charged</th>
                                            <td mat-cell *matCellDef="let row">{{row.PRICEINCGSTCHARGED}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="ADDITIONALTEXT">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">additional text</th>
                                            <td mat-cell *matCellDef="let row">{{row.ADDITIONALTEXT}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="COMMENT">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">comment</th>
                                            <td mat-cell *matCellDef="let row">{{row.COMMENT}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="SHORTNAME">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">short name</th>
                                            <td mat-cell *matCellDef="let row">{{row.SHORTNAME}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="INVOICECODE">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">invoice code</th>
                                            <td mat-cell *matCellDef="let row">{{row.INVOICECODE}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="CLIENTNAME">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">client name</th>
                                            <td mat-cell *matCellDef="let row">{{row.CLIENTNAME}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="WORKITEMGUID">
                                            <th mat-header-cell *matHeaderCellDef class="header_title">workitem guid</th>
                                            <td mat-cell *matCellDef="let row">{{row.WORKITEMGUID}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="MATTERGUID">
                                            <th mat-header-cell *matHeaderCellDef fxShow.gt-sm class="header_title">matter guid</th>
                                            <td mat-cell *matCellDef="let row" fxShow.gt-sm>{{row.MATTERGUID}}
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>