<div class="nav" [ngClass]="{'horizontal':layout === 'horizontal', 'vertical':layout === 'vertical'}">

    <!-- Vertical Navigation Layout -->
    <ng-container *ngIf="layout === 'vertical'">
        <form class="example-form" id="fevrite_form" autocomplete="off">
            <div class="info">Search To Add Favourite</div>
            <div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Search page here" [ngModelOptions]="{ standalone: true }" (click)="changeIcon()" [(ngModel)]="searchpage" name="searchpage">
                    <mat-icon matSuffix class="disabled-text" (click)="clearSearch()">{{icon}}</mat-icon>
                </mat-form-field>
            </div>
            <div class="listdata" *ngIf="( page | filterByName:searchpage ) as result">
                <mat-list role="list" *ngFor="let pages of result">
                    <mat-list-item role="listitem" (click)="onChange(pages.TITLE)">
                        <mat-icon class="listingicon">{{pages.TITLE}}</mat-icon>{{pages.TITLE}}
                        <mat-icon class="star">{{pages.STAR}}</mat-icon>
                    </mat-list-item>
                </mat-list>
            </div>
        </form>
        <p class="name">Favourite </p>
        {{pages|json}}
        <ng-container *ngFor="let favopages of page">
            <span *ngIf="favopages.STAR=='star'">
                    <fuse-nav-vertical-item *ngIf="favopages.type=='item'" [item]="favopages"></fuse-nav-vertical-item>
              </span>
        </ng-container>

    </ng-container>
    <!-- / Vertical Navigation Layout -->
</div>