@import 'src/@fuse/scss/fuse';

fuse-navigation {
    display: flex;
    flex: 1 0 auto;

    > .nav {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
//New Added Css
.example-form {
    min-width: 150px;
    max-width: 256px;
    width: 100%;
    //margin-left: 66px;
    margin-top: 42px;
   // background: white;
  }
  
  .example-full-width {
    width: 100%;
  }
  mat-icon.star.mat-icon.material-icons.mat-icon-no-color{
    color: #FFB237;
    margin-left: 131px;
}
// .allstar{
//   display: flex;
// }
a.itemlist {
  color: #f5f5f5 !important;
}
fuse-navigation.material2 {
    background:#303540;
    height: 1000px;
}
fuse-navigation > .nav {
    margin:17px;
    padding: 0;
    width: 100%;
    margin-top: -24px
}
mat-list.mat-list.mat-list-base.ng-star-inserted {
    background:white;
    margin-left: -14px;
    padding-top: 0 !important;
}
.mat-list-item-content {
    color: black;
    font-size: 17px;
}
input#mat-input-0 {
    color: white !important;
    
}
p.ng-star-inserted {
    font-size: 18px;
}
mat-icon.icons.mat-icon.material-icons.mat-icon-no-color {
    margin-left: 23px;
    font-size: 17px;
    padding-right: 33px;
    margin-top: 15px;
}
.listdata.ng-star-inserted {
    position: absolute;
    z-index: 1;    
    width: 94%;
}
mat-icon.listingicon.mat-icon.material-icons.mat-icon-no-color {
    margin-bottom: 5px;
}

// user 1
body.theme-default .mat-form-field-appearance-legacy .mat-form-field-label,mat-form-field.example-full-width.mat-form-field.mat-focused  .mat-form-field-label {
    color: #fff;
    font-size: 15px;
}
body.theme-default .mat-form-field-appearance-legacy .mat-form-field-underline,mat-form-field.example-full-width.mat-form-field.mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: #fff;
}

//user 2
body.theme-yellow-light .mat-form-field-appearance-legacy .mat-form-field-label,mat-form-field.example-full-width.mat-form-field.mat-focused  .mat-form-field-label {
    color: #fff;
    font-size: 15px;
}
body.theme-yellow-light .mat-form-field-appearance-legacy .mat-form-field-underline,mat-form-field.example-full-width.mat-form-field.mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: #fff;
}

.info {
    margin-bottom: 16px;
}
p.name.ng-star-inserted {
    font-size: 13px;
}
.mat-list-base .mat-list-item .mat-list-item-content {
    text-transform: capitalize !important;
}
mat-icon.star.mat-icon.material-icons.mat-icon-no-color {
    margin-left: 0;
    float: right;
    position: absolute;
    right: 20px;
}
.side_bar_title {
    padding: 15px;
}

.favourite_form_div  {
    position: fixed;
    bottom: 0;
}
.favourite_form_div .listdata.ng-star-inserted {
    position: fixed;
    z-index: 1;
    width: 94%;
    bottom: 120px;
}
.favourite_form_div .info {
    margin-bottom: 12px;
}
.sidebar_btm_div fuse-navigation.material2 {
    height: 100%;
}

.material2 .nav .nav-item .nav-link {
    float: left;
    width: 90%;
}

@media screen and (max-width: 1440px) {
    .favourite_form_div {
        position: relative;
        float: left;
        width: 100%;
    }
    .favourite_form_div .listdata.ng-star-inserted {
        position: relative;
        margin-top: 90px;
    }
}
@media screen and (max-height: 700px) {
    .favourite_form_div {
        position: relative;
        float: left;
        width: 100%;
    }
    .favourite_form_div .listdata.ng-star-inserted {
        position: relative;
        margin-top: 90px;
    }
}