<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div cdkDrag class="popup_main_div add_edit_receipt_main">
    <h2 cdkDragHandle mat-dialog-title>
        Prepare Receipt
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        <div class=" one " fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form name="PrepareReceiptForm" id="PrepareReceiptForm" [formGroup]="PrepareReceiptForm" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="70" class="pr-4">
                        <mat-label>Client</mat-label>
                        <input matInput readonly placeholder="Client" formControlName="client">
                        <mat-icon matSuffix (click)='selectClient()'>
                            <img src="assets/icons/web_app/icon_contact_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="30" class="pr-4">
                        <mat-label>Receipt Code</mat-label>
                        <input matInput placeholder="Receipt Code" formControlName="RECEIPTCODE">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" class="pr-4">
                        <input (dateInput)="choosedDate('input', $event)" (dateChange)="choosedDate('change', $event)" formControlName="INCOMEDATETEXT" matInput [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <mat-label>Amount Received</mat-label>
                        <input matInput placeholder="Amount Received" formControlName="AMOUNT">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
                        <mat-label>Amount Ex-GST</mat-label>
                        <input matInput placeholder="Amount Ex-GST" formControlName="RECEIPTAMOUNTEXGST">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <mat-label>GST</mat-label>
                        <input matInput placeholder="GST" formControlName="RECEIPTGST">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <mat-label>Income Type</mat-label>
                        <mat-select formControlName="INCOMETYPE" [value]="incomeType">
                            <mat-option value="Cash">Cash</mat-option>
                            <mat-option value="Cheque">Cheque</mat-option>
                            <mat-option value="Credit Card">Credit Card</mat-option>
                            <mat-option value="Direct Deposit">Direct Deposit</mat-option>
                            <mat-option value="Direct Withdrawal">Direct Withdrawal</mat-option>
                            <mat-option value="Money Order">Money Order</mat-option>
                            <mat-option value="Transfer">Transfer</mat-option>
                            <mat-option value="SilqPay">SilqPay</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
                        <mat-label>Payor</mat-label>
                        <mat-select formControlName="Payor">
                            <mat-option *ngFor="let val of getPayourarray" [value]="val">{{val}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Bank Account</mat-label>
                        <input matInput placeholder="Bank Account" formControlName="BankAccount">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Note</mat-label>
                        <textarea matInput formControlName="Note"></textarea>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>Show?</mat-label>
                        <mat-select formControlName="Show" (ngModelChange)="onChangeShow($event)">
                            <mat-option value="1">Show unpaid invoices for matter : GARL001
                            </mat-option>
                            <mat-option value="2">Show unpaid invoices for client : Eleanoar Carver & Associates
                            </mat-option>
                            <mat-option value="3">Show all unpaid invoices for matter: TORR0002
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="unallocated_div">
                    Unallocated
                    <mat-form-field appearance="outline" fxFlex="60" class="pr-4">
                        <mat-label>Unallocated</mat-label>
                        <input matInput placeholder="Unallocated" formControlName="Unallocated">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="allocate_btn_div">
                    Invoices To allocate Against
                    <button mat-raised-button color="accent"><mat-spinner *ngIf="isspiner"></mat-spinner>Clear Allocations</button>
                    <button mat-raised-button color="accent"><mat-spinner *ngIf="isspiner"></mat-spinner>Auto Allocate</button>
                </div>
                <div class="one invoice_receipt_main_div">
                    <div class="example-containerdata">
                        <table mat-table #table [dataSource]="PrepareReceiptData" [@animateStagger]="{value:'50'}">
                            <ng-container matColumnDef="INVOICEDATE">
                                <th mat-header-cell *matHeaderCellDef>Invoice</th>
                                <td mat-cell *matCellDef="let row">
                                    <p class="job-title text-truncate">
                                        {{row.INVOICEDATE}}
                                    </p>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="INVOICETOTAL">
                                <th mat-header-cell *matHeaderCellDef>Total</th>
                                <td mat-cell *matCellDef="let row">
                                    <p class="company text-truncate">
                                        {{row.INVOICETOTAL }}
                                    </p>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="AMOUNTOUTSTANDINGEXGST">
                                <th mat-header-cell *matHeaderCellDef>Outstanding</th>
                                <td mat-cell *matCellDef="let row">
                                    <p class="company text-truncate">
                                        {{row.AMOUNTOUTSTANDINGEXGST }}
                                    </p>
                                </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="Allocated">
                                <th mat-header-cell *matHeaderCellDef>Total</th>
                                <td mat-cell *matCellDef="let row">
                                    <p class="company text-truncate">
                                        {{row.Allocated }}
                                    </p>
                                </td>
                            </ng-container> -->
                            <ng-container matColumnDef="MATTERGUID">
                                <th mat-header-cell *matHeaderCellDef>Matter</th>
                                <td mat-cell *matCellDef="let row">
                                    <p class="company text-truncate">
                                        {{row.MATTERGUID }}
                                    </p>
                                </td>
                            </ng-container>
                            <tr mat-header-row class="tbl_fix_header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <!-- sticky: true" -->
                            <tr mat-row [style.background]="highlightedRows == row.INVOICEGUID ? selectedColore : ''" *matRowDef="let row; columns: displayedColumns;" [ngClass]="highlightedRows == row.INVOICEGUID ? 'row-text-colore' : ''" class="contact" (click)="editContact(row);highlightedRows = row.INVOICEGUID"
                                matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                            </tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[10, 20 ,50,100]" showFirstLastButtons></mat-paginator>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="total_amount_div">
                    Enter the amount to allocate to the selected invoice and press tab
                    <mat-form-field appearance="outline" fxFlex="40" class="pr-4">
                        <mat-label>Amount</mat-label>
                        <input matInput placeholder="Amount" formControlName="Amount">
                    </mat-form-field>
                </div>

            </form>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button color="accent" (click)="SaveReceipt()" [disabled]="isspiner"><mat-spinner *ngIf="isspiner"></mat-spinner>Add</button>
        <!-- <button mat-raised-button color="accent" (click)="ondialogSaveClick()" [disabled]="isspiner" *ngIf="action === 'edit'"><mat-spinner *ngIf="isspiner"></mat-spinner>Update</button> -->
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don`t Save</button>
    </mat-dialog-actions>
</div>
<!-- </form> -->