.text_with_class {
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    width: 300px;
    padding: 0 20px 0 0 !important;
}
th.mat-sort-header-sorted {
    color: black;
}