<div class="example-containerdata">
    <table mat-table #table [dataSource]="invoiceData" [@animateStagger]="{value:'50'}">
        <ng-container matColumnDef="ADDITIONALTEXT">
            <th mat-header-cell *matHeaderCellDef>Text</th>
            <td mat-cell *matCellDef="let row">
                {{row.ADDITIONALTEXT }}
            </td>
        </ng-container>
        <ng-container matColumnDef="PRICE">
            <th mat-header-cell *matHeaderCellDef>Charge(Ex)</th>
            <td mat-cell *matCellDef="let row">
                {{row.PRICE | currency}}
            </td>
        </ng-container>
        <ng-container matColumnDef="GST">
            <th mat-header-cell *matHeaderCellDef>GST</th>
            <td mat-cell *matCellDef="let row">
                {{row.GST | currency}}
            </td>
        </ng-container>
        <ng-container matColumnDef="PRICEINCGST">
            <th mat-header-cell *matHeaderCellDef>Charge</th>
            <td mat-cell *matCellDef="let row">
                {{row.PRICEINCGST | currency}}
            </td>
        </ng-container>
        <tr mat-header-row class="tbl_fix_header" *matHeaderRowDef="displayedColumnsTime; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTime;" matRipple [@animate]="{value:'*',params:{y:'100%'}}"></tr>
        <!-- <tr mat-row [style.background]="highlightedRows == row.PERSONGUID ? selectedColore : ''" *matRowDef="let row; columns: displayedColumnsTime;" [ngClass]="highlightedRows == row.PERSONGUID ? 'row-text-colore' : ''" class="contact" (click)="editContact(row.PERSONGUID);highlightedRows = row.PERSONGUID"
            matRipple [@animate]="{value:'*',params:{y:'100%'}}">
        </tr> -->
    </table>
</div>