<div class=" one " fxLayout="column" >

<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
        <mat-label>Practicing Certificate No</mat-label>
        <input   matInput >
        <mat-icon matSuffix class="secondary-text">company</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
        <mat-label>Australian Company No</mat-label>
        <input   matInput  >
        <mat-icon matSuffix class="secondary-text">company</mat-icon>
    </mat-form-field>

</div>

<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
        <mat-label>Australian Business No</mat-label>
        <input   matInput  >
        <mat-icon matSuffix class="secondary-text">company</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
        <mat-label>Tax File No</mat-label>
        <input   matInput  >
        <mat-icon matSuffix class="secondary-text">company</mat-icon>
    </mat-form-field>

</div>

<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
        <mat-label>Drivers Licence No</mat-label>
        <input   matInput  >
        <mat-icon matSuffix class="secondary-text">company</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
        <mat-label>Licence State/Country</mat-label>
        <input   matInput  >
        <mat-icon matSuffix class="secondary-text">company</mat-icon>
    </mat-form-field>
  
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

      <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
          <mat-label>National identity No</mat-label>
          <input   matInput  >
          <mat-icon matSuffix class="secondary-text">company</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
          <mat-label>National identity Country</mat-label>
          <input   matInput  >
          <mat-icon matSuffix class="secondary-text">company</mat-icon>
      </mat-form-field>
    
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>Family Court Lawyer No</mat-label>
            <input   matInput  >
            <mat-icon matSuffix class="secondary-text">company</mat-icon>
        </mat-form-field>
  
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">


          <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Note</mat-label>
              <textarea matInput ></textarea>
          </mat-form-field>
      
      </div>


</div>