<div class=" one " fxLayout="column" [formGroup]="matterdetailForm">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Date of Will</mat-label>
            <input (dateInput)="DateofWillClick('input', $event)" formControlName="DATEOFWILLTEXT" (dateChange)="DateofWillClick('change', $event)" matInput name="DateofWill" [matDatepicker]="DateofWill">
            <mat-datepicker-toggle matSuffix [for]="DateofWill"></mat-datepicker-toggle>
            <mat-datepicker #DateofWill></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
            <mat-label>Gross Value</mat-label>
            <input matInput type="number" formControlName="ESTATEGROSSVALUE">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Net Value</mat-label>
            <input matInput type="number" formControlName="ESTATENETVALUE">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
            <mat-label>Name Of Trust</mat-label>
            <input matInput formControlName="NAMEOFTRUST">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Name Of Super fund</mat-label>
            <input matInput formControlName="NAMEOFSUPERANNUATION">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Court Matter #</mat-label>
            <input matInput formControlName="CourtMatter">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label># Of Codicils</mat-label>
            <input matInput type="number" formControlName="NUMBEROFCODICILS">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Date/s of Codicil/s</mat-label>
            <input matInput formControlName="DATEOFCODICILS">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
            <mat-label> Date of Grant of Representation</mat-label>
            <input (dateInput)="DateGrantRepresentationClick('input', $event)" formControlName="DateGrantRepresentationtext" (dateChange)="DateGrantRepresentationClick('change', $event)" matInput name="DateGrantRepresentation" [matDatepicker]="DateGrantRepresentation">
            <mat-datepicker-toggle matSuffix [for]="DateGrantRepresentation"></mat-datepicker-toggle>
            <mat-datepicker #DateGrantRepresentation></mat-datepicker>
        </mat-form-field>
    </div>

</div>