@import "src/@fuse/scss/fuse";
#time_entries {
    .header {
        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            @include mat-elevation(1);
            .search {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 18px;
                input {
                    width: 100%;
                    height: 48px;
                    min-height: 48px;
                    max-height: 48px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .content {
        overflow: hidden;
        .example {
            width: 18%;
            padding: 10px;
            .sidebar {
                &:not(.locked-open) {
                    background: white;
                }
            }
        }
        .matter-serach-div {
            // position: fixed;
            // width: 600px;
            // height: 200px;
            // left: 50%;
            // top: 0%;
            // margin-left: -300px;
        }
    }
    .mat-form-field.mat-form-field-type-mat-select .mat-form-field-infix {
        display: inline-flex;
        width: 300px !important;
    }
    .search {
        width: 45% !important;
        padding: 20px !important;
    }
    
}
// .sticky_search_div .mat-form-field-wrapper {
//     padding-bottom: 0 !important;
// }


.sticky_search_div {
    position: fixed;
    top: 145px;
    width: 100%;
    background-color: #f5f5f5;
    z-index: 9999;
    left: 0;
    padding-left: 300px;
}
.fix_div_padding {
    padding-top: 95px;
}
.list_sidebar_padding {
    padding-top: 92px;
    background-color: #fff;
    border-left: 1px solid #ccc;
}
.list_sidebar_padding h3.one {
    margin: 0;
}