<div id="time_entries" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="content">
        <div class="center p-24 list_tbl_main">
            <div class="matter-serach-div sticky_search_div">
                <form [formGroup]="TimeEnrtyForm">
                    <mat-form-field class="example" appearance="outline" *ngIf="isShowDrop">
                        <mat-label>DLP</mat-label>
                        <mat-select (selectionChange)="dlpChange($event.value)" formControlName="dlpdrop">
                            <mat-option value="all">All</mat-option>
                            <mat-option value="">None</mat-option>
                            <mat-option *ngFor="let TimerDrop of TimerDropData" value="{{TimerDrop.USERID}}">{{TimerDrop.USERID}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example" appearance="outline">
                        <mat-label>Uninvoiced Work</mat-label>
                        <mat-select (selectionChange)="uninvoicedWorkChange($event.value)" formControlName="uninvoicedWork">
                            <mat-option value="No">Uninvoiced Work</mat-option>
                            <mat-option value="Yes">invoiced Work</mat-option>
                            <mat-option value="">All Work</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="">
                        <input matInput placeholder="Choose a date" [satDatepicker]="picker2" formControlName="date" (dateInput)="choosedDate('input', $event)" (dateChange)="choosedDate('change', $event)">
                        <sat-datepicker #picker2 [rangeMode]="true">
                        </sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
                    </mat-form-field>
                </form>
            </div>
            <div class="content fix_div_padding">
                <div class="btn top_right_action_billing_one one">
                    <button mat-icon-button (click)="openDialog()" aria-label="More">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>
                </div>
                <div class="example-loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <mat-table #table [dataSource]="TimerData" [@animateStagger]="{value:'50'}">
                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.ITEMDATE}}
                            <!-- <mat-cell *matCellDef="let row">{{row.ITEMDATE |date}} -->
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="matter">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Matter</mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.SHORTNAME}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Description</mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.ADDITIONALTEXT}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Quantity</mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.FORMATTEDQUANTITY}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="price_ex">
                        <mat-header-cell *matHeaderCellDef> Price Ex</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.PRICE |currency }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="price_inc">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Price Inc</mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>{{row.PRICEINCGST |currency }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="invoice_no">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Invoice No</mat-header-cell>
                        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.INVOICECODE }}
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                    </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[10, 20,50,100]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>