
<div id="price-tables" class="page-layout simple fullwidth">
<div class="price-tables" fxLayout="row wrap" fxLayoutAlign="start center">
  <div class="price-table style-2 mat-elevation-z12" fxLayout="column">

    <div class="badge warn">BEST VALUE</div>

    <div class="package-type mat-accent-fg">GOLD PACKAGE</div>

    <div class="price" fxLayout="row" fxLayoutAlign="center start">
        <div class="currency">$</div>
        <div class="value">299</div>
    </div>

    <div class="period">PER MONTH</div>

    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
        <div class="term">
            <span class="text-bold">20</span>
            Projects
        </div>
        <div class="term">
            <span class="text-bold">20</span>
            Pages
        </div>
        <div class="term">
            <span class="text-bold">200</span>
            Mb Disk Space
        </div>
    </div>

    <button mat-raised-button class="cta-button" color="accent">GET STARTED</button>

</div>
<div class="price-table style-2 mat-elevation-z12" fxLayout="column">

  <div class="badge warn">BEST VALUE</div>

  <div class="package-type mat-accent-fg">GOLD PACKAGE</div>

  <div class="price" fxLayout="row" fxLayoutAlign="center start">
      <div class="currency">$</div>
      <div class="value">299</div>
  </div>

  <div class="period">PER MONTH</div>

  <div class="terms" fxLayout="column" fxLayoutAlign="start center">
      <div class="term">
          <span class="text-bold">20</span>
          Projects
      </div>
      <div class="term">
          <span class="text-bold">20</span>
          Pages
      </div>
      <div class="term">
          <span class="text-bold">200</span>
          Mb Disk Space
      </div>
  </div>

  <button mat-raised-button class="cta-button" color="accent">GET STARTED</button>

</div>
<div class="price-table style-2 mat-elevation-z12" fxLayout="column">

  <div class="badge warn">BEST VALUE</div>

  <div class="package-type mat-accent-fg">GOLD PACKAGE</div>

  <div class="price" fxLayout="row" fxLayoutAlign="center start">
      <div class="currency">$</div>
      <div class="value">299</div>
  </div>

  <div class="period">PER MONTH</div>

  <div class="terms" fxLayout="column" fxLayoutAlign="start center">
      <div class="term">
          <span class="text-bold">20</span>
          Projects
      </div>
      <div class="term">
          <span class="text-bold">20</span>
          Pages
      </div>
      <div class="term">
          <span class="text-bold">200</span>
          Mb Disk Space
      </div>
  </div>

  <button mat-raised-button class="cta-button" color="accent">GET STARTED</button>

</div>
<div class="price-table style-2 mat-elevation-z12" fxLayout="column">

  <div class="badge warn">BEST VALUE</div>

  <div class="package-type mat-accent-fg">GOLD PACKAGE</div>

  <div class="price" fxLayout="row" fxLayoutAlign="center start">
      <div class="currency">$</div>
      <div class="value">299</div>
  </div>

  <div class="period">PER MONTH</div>

  <div class="terms" fxLayout="column" fxLayoutAlign="start center">
      <div class="term">
          <span class="text-bold">20</span>
          Projects
      </div>
      <div class="term">
          <span class="text-bold">20</span>
          Pages
      </div>
      <div class="term">
          <span class="text-bold">200</span>
          Mb Disk Space
      </div>
  </div>

  <button mat-raised-button class="cta-button" color="accent">GET STARTED</button>

</div>
<div class="price-table style-2 mat-elevation-z12" fxLayout="column">

  <div class="badge warn">BEST VALUE</div>

  <div class="package-type mat-accent-fg">GOLD PACKAGE</div>

  <div class="price" fxLayout="row" fxLayoutAlign="center start">
      <div class="currency">$</div>
      <div class="value">299</div>
  </div>

  <div class="period">PER MONTH</div>

  <div class="terms" fxLayout="column" fxLayoutAlign="start center">
      <div class="term">
          <span class="text-bold">20</span>
          Projects
      </div>
      <div class="term">
          <span class="text-bold">20</span>
          Pages
      </div>
      <div class="term">
          <span class="text-bold">200</span>
          Mb Disk Space
      </div>
  </div>

  <button mat-raised-button class="cta-button" color="accent">GET STARTED</button>

</div>
</div>
</div>