
<div class="one" fxLayout="column">

 
  

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                <mat-label>Estimate Warning %</mat-label>
                <input type="number" name="ADDRESS3"  matInput>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                <mat-label>Next Estimate Threshold </mat-label>
                <input type="number" name="ADDRESS3"  matInput>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                <mat-label>Next Threshold Warning %</mat-label>
                <input type="number" name="ADDRESS3"  matInput>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          
                <mat-checkbox class="check_1" name="KNOWNBYOTHERNAME">Allow Estimate Range 
                </mat-checkbox>
       
        </div>
    
        
</div>