<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
</div>
<div cdkDrag class="popup_main_div add_edit_contact_main">
    <h2 cdkDragHandle mat-dialog-title>{{dialogTitle}}
        <button class="btn" mat-icon-button [mat-dialog-close]="false" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </h2>
    <div mat-dialog-content class="mat-typography main">
        <div class="one" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form fxLayout="column" fxFlex="1 0 auto" name="SafeCustody" id="SafeCustody" [formGroup]="SafeCustody">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.SHORTNAME,'has-warning':errorWarningData.Warning?.SHORTNAME}">
                        <mat-label>Matter Num.</mat-label>
                        <input matInput formControlName="SHORTNAME" readonly>
                    </mat-form-field>
                    <mat-form-field class="example" fxFlex="50" appearance="outline" [ngClass]="{'has-error':errorWarningData.Error?.CONTACTNAME,'has-warning':errorWarningData.Warning?.CONTACTNAME}">
                        <mat-label>Owner</mat-label>
                        <input matInput formControlName="CONTACTNAME" readonly matInput>
                        <mat-icon class="set_icon" matSuffix (click)='SelectContact()'>
                            <img src="assets/icons/web_app/icon_contact_d.ico" alt="" matTooltip="Twitter" matTooltipPosition="above">
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.SAFECUSTODYPACKETGUID,'has-warning':errorWarningData.Warning?.SAFECUSTODYPACKETGUID}">
                        <mat-label>Packet</mat-label>
                        <mat-select placeholder="Seperator" formControlName="SAFECUSTODYPACKETGUID">
                            <mat-option *ngFor="let pakets of packetcustody" [value]="pakets.SAFECUSTODYPACKETGUID">{{pakets.PACKETNUMBER}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.DOCUMENTTYPE,'has-warning':errorWarningData.Warning?.DOCUMENTTYPE}">
                        <mat-label>Document Type</mat-label>
                        <mat-select placeholder="Seperator" formControlName="DOCUMENTTYPE">
                            <mat-option *ngFor="let val of documnettype" [value]="val.LOOKUPFULLVALUE">{{val.LOOKUPFULLVALUE}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.DOCUMENTNAME,'has-warning':errorWarningData.Warning?.DOCUMENTNAME}">
                        <mat-label>Document\Web Site</mat-label>
                        <input matInput formControlName="DOCUMENTNAME">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="example pr-4" appearance="outline" [ngClass]="{'has-error':errorWarningData.Error?.REMINDERDATE,'has-warning':errorWarningData.Warning?.REMINDERDATE}">
                        <mat-label>Review Date</mat-label>
                        <input matInput [matDatepicker]="pickerREMINDERDATE" placeholder="Choose a date" (dateInput)="choosedDate('input', $event)" (dateChange)="choosedDate('change', $event)" formControlName="REMINDERDATETEXT">
                        <mat-datepicker-toggle matSuffix [for]="pickerREMINDERDATE"></mat-datepicker-toggle>
                        <mat-datepicker #pickerREMINDERDATE></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.SAFECUSTODYDESCRIPTION,'has-warning':errorWarningData.Warning?.SAFECUSTODYDESCRIPTION}">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="SAFECUSTODYDESCRIPTION">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.ADDITIONALTEXT,'has-warning':errorWarningData.Warning?.ADDITIONALTEXT}">
                        <mat-label>Text</mat-label>
                        <textarea cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5" matInput formControlName="ADDITIONALTEXT"></textarea>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-tab-group mat-align-tabs="start">
                        <mat-tab label="Check In">
                            <div class="Pad_tab" fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <mat-form-field appearance="outline" fxFlex="50" class="example pr-4" appearance="outline" [ngClass]="{'has-error':errorWarningData.Error?.CHECKINDATE,'has-warning':errorWarningData.Warning?.CHECKINDATE}">
                                        <mat-label>Date</mat-label>
                                        <input matInput [matDatepicker]="picker1" placeholder="Choose a date" (dateInput)="PersonDate('input', $event)" (dateChange)="PersonDate('change', $event)" formControlName="CHECKINDATETEXT">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" [ngClass]="{'has-error':errorWarningData.Error?.CHECKINCONTACTNAME,'has-warning':errorWarningData.Warning?.CHECKINCONTACTNAME}">
                                        <mat-label>Contact Name</mat-label>
                                        <input matInput formControlName="CHECKINCONTACTNAME">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </form>
        </div>
    </div>
    <mat-dialog-actions align="end" class="popup_ftr">
        <button mat-raised-button color="accent" (click)="SaveSafeCustody()" [disabled]="isspiner">
            <mat-spinner style=" zoom: 0.2;position: absolute;right: 0;left: 0;
            margin: auto;top: 0;bottom: 0;" *ngIf="isspiner"></mat-spinner>Save</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>Don't Save</button>
    </mat-dialog-actions>
</div>