<div class=" one " fxLayout="column" [formGroup]="matterdetailForm">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Cohabitation Date</mat-label>
            <input (dateInput)="CohabitationDateClick('input', $event)" formControlName="COHABITATIONDATETEXT" (dateChange)="CohabitationDateClick('change', $event)" matInput [matDatepicker]="CohabitationDate">
            <mat-datepicker-toggle matSuffix [for]="CohabitationDate"></mat-datepicker-toggle>
            <mat-datepicker #CohabitationDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Marriage Date</mat-label>
            <input (dateInput)="MarriageDateClick('input', $event)" formControlName="MARRIAGEDATETEXT" (dateChange)="MarriageDateClick('change', $event)" matInput [matDatepicker]="MarriageDate">
            <mat-datepicker-toggle matSuffix [for]="MarriageDate"></mat-datepicker-toggle>
            <mat-datepicker #MarriageDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
            <mat-label>Marriage Place</mat-label>
            <input matInput formControlName="MARRIAGEPLACE">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Marriage Country</mat-label>
            <input matInput formControlName="MARRIAGECOUNTRY">
        </mat-form-field>   


        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Separation Date</mat-label>
            <input (dateInput)="SeparationDateClick('input', $event)" formControlName="SEPARATIONDATE" (dateChange)="SeparationDateClick('change', $event)" matInput [matDatepicker]="SEPARATIONDATE">
            <mat-datepicker-toggle matSuffix [for]="SEPARATIONDATE"></mat-datepicker-toggle>
            <mat-datepicker #SEPARATIONDATE></mat-datepicker>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
            <mat-label>Date Filed For Divorce</mat-label>
            <input matInput type="number" formControlName="DATEFILEDFORDIVORCE">
        </mat-form-field> -->


        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Date Filed For Divorce</mat-label>
            <input (dateInput)="DateFiledForDivorceDateClick('input', $event)" formControlName="DATEFILEDFORDIVORCE" (dateChange)="DateFiledForDivorceDateClick('change', $event)" matInput [matDatepicker]="DATEFILEDFORDIVORCE">
            <mat-datepicker-toggle matSuffix [for]="DATEFILEDFORDIVORCE"></mat-datepicker-toggle>
            <mat-datepicker #DATEFILEDFORDIVORCE></mat-datepicker>
        </mat-form-field>

    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Divorce Date</mat-label>
            <input (dateInput)="DivorceDateClick('input', $event)" formControlName="DIVORCEDATETEXT" (dateChange)="DivorceDateClick('change', $event)" matInput [matDatepicker]="DivorceDate">
            <mat-datepicker-toggle matSuffix [for]="DivorceDate"></mat-datepicker-toggle>
            <mat-datepicker #DivorceDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
            <mat-label>Divorce Place</mat-label>
            <input matInput formControlName="DIVORCEPLACE">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Divorce Country</mat-label>
            <input matInput formControlName="DIVORCECOUNTRY">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Num Dependants</mat-label>
            <input matInput type="number" formControlName="NUMDEPENDANTS">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
            <mat-label>Court Matter #</mat-label>
            <input matInput formControlName="MatterNo">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="34" class="pr-4">
            <mat-label>Cliend Id</mat-label>
            <input matInput formControlName="FAMILYCOURTCLIENTID">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Expiry Date</mat-label>
            <input (dateInput)="ExpiryDateClick('input', $event)" formControlName="ExpirationDatetextF" (dateChange)="ExpiryDateClick('change', $event)" matInput name="ExpiryDate" [matDatepicker]="ExpiryDate">
            <mat-datepicker-toggle matSuffix [for]="ExpiryDate"></mat-datepicker-toggle>
            <mat-datepicker #ExpiryDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Hearing Date</mat-label>
            <input (dateInput)="HearingDateClick('input', $event)" formControlName="EXPERTHEARINGDATETEXTF" (dateChange)="HearingDateClick('change', $event)" matInput [matDatepicker]="HearingDate">
            <mat-datepicker-toggle matSuffix [for]="HearingDate"></mat-datepicker-toggle>
            <mat-datepicker #HearingDate></mat-datepicker>
        </mat-form-field>
    </div>
</div>