<!-- SIDEBAR HEADER -->
<div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">
    <h3 class="one"><strong class="x">Matter Details</strong></h3>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<mat-card class="two">
    <div class="content p-24" fusePerfectScrollbar>
        <div class="file-details" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <div class="title">Info</div>
            <div class="button-div">
                <button class="button primary" mat-raised-button (click)="closeDetail($event)"><mat-icon>clear</mat-icon></button>
            </div>

            <table>
                <tr class="jobTitle">
                    <th>JobTitle</th>
                    <td>{{mattersDetailData?.jobTitle}}</td>
                </tr>
                <tr class="name">
                    <th>Name</th>
                    <td>{{mattersDetailData?.lastName}} {{mattersDetailData?.lastName}}</td>
                </tr>
                <tr class="email">
                    <th>Email</th>
                    <td>{{mattersDetailData?.email}}</td>
                </tr>
                <tr class="company">
                    <th>Company</th>
                    <td>{{mattersDetailData?.company}}</td>
                </tr>
                <tr class="phone">
                    <th>Phone</th>
                    <td>{{mattersDetailData?.phone}}</td>
                </tr>
            </table>
        </div>
        <br/>
        <a class="button primary" mat-raised-button routerLink="{{mattersDetailData.id}}/details">
            <mat-icon>visibility</mat-icon> View</a>
    </div>
</mat-card>

<!-- / SIDEBAR CONTENT -->