:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    >.header {
        flex: 0 1 auto;
        height: 125px;
        min-height: 66px;
        max-height: 125px;
        margin-left: 50px;
    }
    .two {
        >.content {
            flex: 1;
            .file-details {
                .preview {
                    height: 240px;
                }
                .offline-switch {
                    padding-bottom: 16px;
                    font-weight: 600;
                }
                .title {
                    padding: 16px 0;
                }
                .button-div {
                    padding: 16px 0;
                }
                table {
                    width: 100%;
                    text-align: left;
                    tr {
                        th,
                        td {
                            padding: 8px 0;
                        }
                        th {}
                        td {}
                        &.type {
                            text-transform: capitalize;
                        }
                        &.size {}
                        &.location {}
                        &.owner {
                            text-transform: capitalize;
                        }
                        &.opened {}
                        &.created {}
                    }
                }
            }
        }
    }
}

.two {
    flex: 0 1 auto;
    height: 100%;
}

.button {
    margin-left: 50px;
}

.p-24.side_header {
    padding: 15px !important;
    text-align: center;
    display: inline-block !important;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.list_sidebar_padding h3.one {
    margin: 0 !important;
    float: right;
    width: 50%;
}

.side_header .button[_ngcontent-c28] {
    margin-left: 0;
    padding: 0 !important;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
}

.sidebar_right_view_btn_div {
    text-align: center;
}

.details_view_btn {
    margin-left: 0 !important;
}

.sort_main_sidebar button.button.primary {
    position: absolute;
    top: 11px !important;
    right: 5px;
    min-width: 30px !important;
    padding: 0 !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-left: 0 !important;
}

@media screen and (min-width: 1500px) {
    .sidebar_right_view_btn_div {
        text-align: center;
        position: fixed;
        bottom: 10px;
        right: 40px;
    }
}