<div class="btn top_right_action matter_right_action">
    <button mat-icon-button (click)="openDialog()" aria-label="More">
    <mat-icon class="secondary-text">more_vert</mat-icon>
    </button>
</div>
<!-- <div class="center p-24" fusePerfectScrollbar> -->
<div class="one">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-table #table [dataSource]="mattersData" [@animateStagger]="{value:'50'}">

        <ng-container matColumnDef="SHORTNAME">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Matter Num</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="text-truncate font-weight-600">{{matter.SHORTNAME}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="MATTER">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Matter</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="email text-truncate">
                    {{matter.MATTER}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CONTACTNAME">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Contact Name</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="phone text-truncate">
                    {{matter.CONTACTNAME}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CONTACTFIRMNAME">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Contact Firm Name</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="phone text-truncate">
                    {{matter.CONTACTFIRMNAME}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="MATTERTYPE">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Matter Type</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="phone text-truncate">
                    {{matter.MATTERTYPE}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CLIENT">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Client</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="phone text-truncate">
                    {{matter.CLIENT}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="REFERENCE">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Reference</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="phone text-truncate">
                    {{matter.REFERENCE}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="MATTERCLASS">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Matter Class</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="phone text-truncate">
                    {{matter.MATTERCLASS}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="UNBILLED">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Unbilled</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="phone text-truncate">
                    {{matter.UNBILLED |currency}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="INVOICED">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Invoiced</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="job-title text-truncate">
                    {{matter.INVOICED |currency}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="RECEIVED">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Received</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="company text-truncate">
                    {{matter.RECEIVED |currency}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="WRITTENOFF">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Writte On Off</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="company text-truncate">
                    {{matter.WRITTENOFF}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="OUTSTANDING">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Outstanding</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="company text-truncate">
                    {{matter.OUTSTANDING |currency}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ESTIMATE">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Estimate</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="company text-truncate">
                    {{matter.ESTIMATE}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="UNPAID">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Unpaid</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="company text-truncate">
                    {{matter.UNPAID |currency}}
                </p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="TOTALVALUE">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Total Value</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="company text-truncate">
                    {{matter.TOTALVALUE |currency}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="RATEPERHOUR">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Rate Per Hour</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="company text-truncate">
                    {{matter.RATEPERHOUR |currency}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="RATEPERDAY">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Rate Per Day</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="company text-truncate">
                    {{matter.RATEPERDAY |currency}}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="FEEAGREEMENTDATE">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Fee Agreement Date</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="company text-truncate">
                    {{matter.FEEAGREEMENTDATE }}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="BILLINGMETHOD">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Billing Method</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="company text-truncate">
                    {{matter.BILLINGMETHOD }}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="GSTTYPE">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>GST Type</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="company text-truncate">
                    {{matter.GSTTYPE }}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CLIENTSTATUS">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Client Status</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="company text-truncate">
                    {{matter.CLIENTSTATUS }}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="MATTERNO">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Matter No</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="company text-truncate">
                    {{matter.MATTERNO }}
                </p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ACTIVE">
            <mat-header-cell *matHeaderCellDef fxShow.gt-md>Active</mat-header-cell>
            <mat-cell *matCellDef="let matter" fxShow.gt-md>
                <p class="company text-truncate">
                    {{matter.ACTIVE }}
                </p>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <!-- sticky: true" -->
        <div class="tbl_body_scroll">
            <mat-row *matRowDef="let matter; columns: displayedColumns;let element;" class="matter" (click)="editmatter(matter);highlightedRows=matter.MATTERGUID" [style.background]="highlightedRows == matter.MATTERGUID ? selectedColore : ''" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>
        </div>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 20,50,100]" showFirstLastButtons></mat-paginator>
</div>
<!-- </div> -->