<button mat-raised-button color="primary" id="refreshMatterTab" (click)="refreshMatterTab();">Refresh</button>
<div class="btn top_right_action matter_right_action">
    <button mat-icon-button (click)="openDialog()" aria-label="More">
    <mat-icon class="secondary-text">more_vert</mat-icon>
    </button>
</div>
<!-- <div class="center p-24" fusePerfectScrollbar> -->
<div class="one content">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner [style.zoom]="0.5" *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="example-containerdata">
        <div class="grid-overlay" *ngIf="isDisplay">
            <div class="grid-overlay-msg"> There is no data to display. </div>
        </div>
        <table mat-table #table [dataSource]="mattersData" matSort [@animateStagger]="{value:'50'}" cdkDropListGroup>
            <ng-container *ngFor="let item of displayedColumns;" matColumnDef="{{item}}">
                <th mat-header-cell *matHeaderCellDef="let i = index;" class="header_title" mat-sort-header (mousedown)="onResizeColumn($event, i)"> {{ tempColobj[item].DESCRIPTION }}</th>
                <td mat-cell *matCellDef="let row" class="text-{{tempColobj[item].JUSTIFICATION}}-align"> <span *ngIf="row[item]!==undefined"><span *ngIf="tempColobj[item].CURRENCY && row[item]">$</span>{{row[item]}}</span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let matter; columns: displayedColumns;let element;" class="matter" (click)="editmatter(matter);highlightedRows=matter.MATTERGUID" [style.background]="highlightedRows == matter.MATTERGUID ? selectedColore : ''" [ngClass]="highlightedRows == matter.MATTERGUID ? 'row-text-colore' : ''"
                matRipple [@animate]="{value:'*',params:{y:'100%'}}">
            </tr>

        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20,50,100]" [pageSize]="pageSize" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>
</div>